swagger: "2.0"
info:
  description: 
    >-
    Adobe Experience Platform Destination SDK (also referred to as the *Destination Authoring API*) is a suite of configuration APIs that allow you to configure destination integration patterns for Experience Platform to deliver audience and profile data to your endpoint, based on data and authentication formats of your choice. 
    
    - **Related documentation**:
        - [Destination SDK overview](http://www.adobe.com/go/destination-sdk-overview-en)
        - [Getting started](http://www.adobe.com/go/destination-sdk-getting-started-en)

    - **Visualize API calls with Postman (a free, third-party software)**:
        - [Destination Authoring API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Destination%20Authoring%20API.postman_collection.json)
        - [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
        - [Steps for importing environments and collections in Postman](https://learning.postman.com/docs/getting-started/importing-and-exporting-data/)

    - **API paths**:
        - PLATFORM Gateway URL: https://<span>platform.adobe.io
        - Base path for this API: /data/core/activation/authoring
        - Example of a complete path for making a call to "/destinations": https://<span>platform.adobe.io/data/core/activation/authoring/destinations
  
    - **Required headers**:
        - All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        - All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
        - All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

    - **API error handling**:
        - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#request-header-errors).

  version: "1.0"
  title: "Destination Authoring API"
host: "platform.adobe.io"
basePath: "/data/core/activation/authoring"
tags:
  - name: (NEW) Interactive API documentation
    description: You can now interact with the Experience Platform API endpoints directly from this API reference page. Get your [authentication credentials](https://www.adobe.com/go/platform-api-get-credentials-en) and use the **Try it** functionality in the right rail. Note that by using this functionality, you are making real API calls. Keep this in mind when you interact with production sandboxes.
  - name: "Destination configurations"
    description: "Destination configurations contain essential metadata for individual destinations, including their name, category, description, and more. The settings in this configuration also determine how Experience Platform users authenticate to your destination, how it appears in the Experience Platform user interface, and the identities that can be exported to your destination. <br><br> For a description of the functionality supported by this endpoint and an example configuration, see the overview on [destination configurations](http://www.adobe.com/go/destination-sdk-destination-configuration-en) in the Destination SDK documentation."
  - name: "Destination servers and templates"
    description: "Destination server configurations contain information about the server receiving the messages (the server on your side). Template configurations allow you to configure how to format the exported message to your destination. <br><br> For a description of the functionality provided by this endpoint, see the overview on [server and template specs](http://www.adobe.com/go/destination-sdk-server-template-configuration-en) in the Destination SDK documentation."
  - name: "Audience metadata templates"
    description: "Audience metadata templates allow you to programmatically manage audiences in your destination. <br><br> For a description of when to use this endpoint, see the overview on [audience metadata management](http://www.adobe.com/go/destination-sdk-audience-metadata-en) in the Destination SDK documentation."
  - name: "Credentials"
    description: "If a Platform customer does not need to provide any authentication credentials to connect to your destination, a credentials configuration can provide the required credentials instead. Note that you must also select `PLATFORM_AUTHENTICATION` in the destination configuration in order to make use of this endpoint. <br><br> For more information when to use this endpoint, see the overview on [authentication configuration](http://www.adobe.com/go/destination-sdk-authentication-configuration-en) in the Destination SDK documentation. "
  - name: "Destination testing"
    description: "The Destination Authoring API provides several tools for testing a destination: [Generate sample profiles](http://www.adobe.com/go/destination-sdk-generate-profiles-en), [generate sample templates](http://www.adobe.com/go/destination-sdk-create-template-en), [perform calls to your destination](http://www.adobe.com/go/destination-sdk-test-destination-en)."
  - name: "Destination publishing"
    description: "After you have configured and tested your destination, you can use the destination publishing endpoint to submit it to Adobe for review and publishing. Read more in the [destination publishing API tutorial](http://www.adobe.com/go/destination-sdk-publish-en)."
schemes:
  - "https"
paths:
  /destinations:
    get:
      tags:
        - "Destination configurations"
      summary: "Retrieve a list of destination configurations"
      description: "You can retrieve a list of all destination configurations for your IMS Organization by making a GET request to the `/destinations` endpoint."
      operationId: "listDestinations"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      # - in: "body"
      #   name: "body"
      #   description: "Destination Configuration object for a new destination"
      #   required: true
      #   schema:
      #     $ref: "#/definitions/destinationAuthoringEntity"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of all destination configurations."
          x-summary: "Destination configurations retrieved successfully"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/destinationResponse"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Access forbidden"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
    post:
      tags:
        - "Destination configurations"
      summary: "Create a destination configuration"
      description: "You can create a new destination configuration by making a POST request to the `/destinations` endpoint."
      operationId: "createDestination"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: "body"
          name: "body"
          description: "Destination configuration object for a new destination. Refer to the Destination SDK documentation for an [example of a destination configuration](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/destination-configuration.html?lang=en#example-configuration)."
          required: true
          schema:
            $ref: "#/definitions/destination"
      responses:
        "201":
          description: "A successful response returns HTTP status 201 with details of your newly created destination configuration."
          x-summary: "Destination configuration created"
          schema:
            $ref: "#/definitions/destinationResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect payload format"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
#        "405":
#          description: "Invalid input"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /destinations/{DESTINATION_CONFIGURATION_ID}:
    get:
      tags:
        - "Destination configurations"
      summary: "Retrieve a destination configuration"
      description: "You can retrieve detailed information about a specific destination configuration by making a GET request to the `/destinations` endpoint and providing the ID of the destination configuration you want to retrieve."
      operationId: "retrieveDestination"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "DESTINATION_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the destination configuration that you want to retrieve."
          required: true
          type: "string"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your destination configuration."
          x-summary: "Destination configuration retrieved"
          schema:
            $ref: "#/definitions/destinationResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to formatting error"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
    put:
      tags:
        - "Destination configurations"
      summary: "Update a destination configuration"
      description: "You can update a destination configuration by making a PUT request to the `/destinations` endpoint and providing the ID of the destination configuration you want to update. In the body of the call, provide the updated destination configuration."
      operationId: "updateDestination"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "DESTINATION_CONFIGURATION_ID"
          in: "path"
          description: "The instance ID of the destination configuration that you want to update."
          required: true
          type: "string"        
        - in: "body"
          name: "body"
          description: "Destination configuration object to update existing destination. See an [example](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/destination-configuration.html?lang=en#example-configuration) of a destination configuration."
          required: true
          schema:
            $ref: "#/definitions/destination"
      responses:
        "200":
          description: "A successful response returns JSON schema with updated attributes."
          x-summary: "Destination configuration updated"
          schema:
            $ref: "#/definitions/destinationResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Resource not found"
#        "405":
#          description: "Validation exception"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
    delete:
      tags:
        - "Destination configurations"
      summary: "Delete a specific destination configuration"
      description: "You can delete the specified destination configuration by making a DELETE request to the `/destinations` endpoint and providing the ID of the destination configuration you wish to delete in the request path."
      operationId: "deleteDestination"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "DESTINATION_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the destination configuration you want to delete."
          required: true
          type: "string"
      responses:
        "204":
          description: "A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the resource has been deleted"
          x-summary: "Resource deleted successfully"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /destination-servers:
    get:
      tags:
        - "Destination servers and templates"
      summary: "Retrieve a list of destination server configurations"
      description: "You can retrieve a list of all destination server configurations for your IMS Organization by making a GET request to the `/destination-servers` endpoint."
      operationId: "listDestinationServer"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      # - in: "body"
      #   name: "body"
      #   description: "Destination Configuration object for a new destination"
      #   required: true
      #   schema:
      #     $ref: "#/definitions/serverEntity"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your destination server configurations."
          x-summary: "Destination server configurations retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/destinationServerResponse"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    post:
      tags:
        - "Destination servers and templates"
      summary: "Create a destination server configuration"
      description: "You can create a new destination server configuration by making a POST request to the `/destination-servers` endpoint."
      operationId: "createDestinationServer"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: "body"
          name: "body"
          description: "Server and template configuration object for a new destination. See an [example](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/server-and-template-configuration.html?lang=en#example-configuration) of a server and template configuration."
          required: true
          schema:
            $ref: "#/definitions/destinationServer"
      responses:
        "201":
          description: "A successful response returns HTTP status 201 with details of your newly created destination server configuration."
          x-summary: "Destination server configuration created"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/destinationServerResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to formatting error"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
#        "405":
#          description: "Invalid input"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /destination-servers/{DESTINATION_SERVER_CONFIGURATION_ID}:
    get:
      tags:
        - "Destination servers and templates"
      summary: "Retrieve a specific destination server configuration"
      description: "You can retrieve detailed information about a specific destination server configuration by making a GET request to the `/destination-servers` endpoint and providing the ID of the destination server configuration you want to retrieve."
      operationId: "retrieveDestinationServer"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "DESTINATION_SERVER_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the destination server configuration you want to retrieve."
          required: true
          type: "string"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your destination server configuration."
          x-summary: "Destination server configuration retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/destinationServerResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination server configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"  
    put:
      tags:
        - "Destination servers and templates"
      summary: "Update a destination server configuration"
      description: "You can update a destination server configuration by making a PUT request to the `/destination-servers` endpoint and providing the ID of the destination server configuration you want to update. In the body of the call, provide the updated destination server configuration."
      operationId: "updateDestinationServer"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "DESTINATION_SERVER_CONFIGURATION_ID"
          in: "path"
          description: "The instance ID of the server and template configuration that you want to update."
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Server and template configuration object to update a destination. See an [example](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/server-and-template-configuration.html?lang=en#example-configuration) of a server and template configuration."
          required: true
          schema:
            $ref: "#/definitions/destinationServer"
      responses:
        "200":
          description: "A successful response returns JSON schema with updated attributes."
          x-summary: "Destination server configuration updated"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/destinationServerResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination server configuration ID before trying again."
          x-summary: "Resource not found"
#        "405":
#          description: "Validation exception"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    delete:
      tags:
        - "Destination servers and templates"
      summary: "Delete a specific destination server configuration"
      description: "You can delete the specified destination server configuration by making a DELETE request to the `/destination-servers` endpoint and providing the ID of the destination server configuration you wish to delete in the request path."
      operationId: "deleteDestinationServer"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "DESTINATION_SERVER_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the destination server configuration you want to delete."
          required: true
          type: "string"
      responses:
        "204":
          description: "A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the resource has been deleted"
          x-summary: "Resource deleted successfully"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination server configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /audience-templates:
    get:
      tags:
        - "Audience metadata templates"
      summary: "Retrieve a list of audience templates"
      description: "You can retrieve a list of all audience templates for your IMS Organization by making a GET request to the `/audience-templates` endpoint."
      operationId: "listAudienceTemplate"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of all audience template configurations."
          x-summary: "Audience templates retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/audienceTemplateResponse"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Access forbidden"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    post:
      tags:
        - "Audience metadata templates"
      summary: "Create a new audience template"
      description: "You can create a new audience template by making a POST request to the `/audience-templates` endpoint."
      operationId: "createAudienceTemplate"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: "body"
          name: "body"
          description: "Audience template configuration object for a new destination. See the configuration examples in the [audience metadata functionality document](http://www.adobe.com/go/destination-sdk-audience-metadata-en)."
          required: true
          schema:
            $ref: "#/definitions/audienceTemplate"
      responses:
        "201":
          description: "A successful response returns HTTP status 201 with details of your newly created audience template configuration."
          x-summary: "Audience template created"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/audienceTemplateResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect payload formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
#        "405":
#          description: "Invalid input"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /audience-templates/{AUDIENCE_TEMPLATE_CONFIGURATION_ID}:
    get:
      tags:
        - "Audience metadata templates"
      summary: "Retrieve a specific audience template"
      description: "You can retrieve detailed information about a specific audience template by making a GET request to the `/audience-templates` endpoint and providing the ID of the audience template you want to retrieve."
      operationId: "retrieveAudienceTemplate"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "AUDIENCE_TEMPLATE_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the audience template configuration that you want to retrieve."
          required: true
          type: "string"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your audience template configuration."
          x-summary: "Audience template configuration retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/audienceTemplateResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct audience template configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    put:
      tags:
        - "Audience metadata templates"
      summary: "Update an audience template"
      description: "You can update an audience template by making a PUT request to the `/audience-templates` endpoint and providing the ID of the audience template you want to update. In the body of the call, provide the updated template."
      operationId: "updateAudienceTemplate"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "AUDIENCE_TEMPLATE_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the audience template configuration that you want to update."
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Audience template configuration object to update a destination. See the configuration examples in the [audience metadata functionality document](http://www.adobe.com/go/destination-sdk-audience-metadata-en)."
          required: true
          schema:
            $ref: "#/definitions/audienceTemplate"
      responses:
        "200":
          description: "A successful response returns JSON schema with updated attributes."
          x-summary: "Audience template updated"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/audienceTemplateResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct audience template configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    delete:
      tags:
        - "Audience metadata templates"
      summary: "Delete a specific audience template"
      description: "You can delete the specified audience template by making a DELETE request to the `/audience-templates` endpoint and providing the ID of the audience template you wish to delete in the request path."
      operationId: "deleteAudienceTemplate"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "AUDIENCE_TEMPLATE_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the audience template configuration that you want to delete."
          required: true
          type: "string"
      responses:
        "204":
          description: "A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the resource has been deleted"
          x-summary: "Resource deleted successfully"
        '401':
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        '403':
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct audience template configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /credentials:
    get:
      tags:
        - "Credentials"
      summary: "Retrieve a list of credentials configurations"
      description: "You can retrieve a list of all credentials configurations for your IMS Organization by making a GET request to the `/credentials` endpoint."
      operationId: "listCredential"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      # - in: "body"
      #   name: "body"
      #   description: "Destination Configuration object for a new destination"
      #   required: true
      #   schema:
      #     $ref: "#/definitions/serverEntity"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your destination server configurations."
          x-summary: "Destination server configurations retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/credentialResponse"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    post:
      tags:
        - "Credentials"
      summary: "Create a credentials configuration"
      description: "You can create a new credentials configuration by making a POST request to the `/credentials` endpoint."
      operationId: "createCredential"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: "body"
          name: "body"
          description: "Credentials configuration object for a new destination"
          required: true
          schema:
            $ref: "#/definitions/credential"
      responses:
        "201":
          description: "A successful response returns HTTP status 201 with details of your newly created credentials configuration."
          x-summary: "Credentials configuration created"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/credentialResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect payload formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"   
#        "405":
#          description: "Invalid input"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /credentials/{CREDENTIAL_CONFIGURATION_ID}:
    get:
      tags:
        - "Credentials"
      summary: "Retrieve a specific credentials configuration"
      description: "You can retrieve detailed information about a specific credentials configuration by making a GET request to the `/credentials` endpoint and providing the ID of the credentials configuration you want to update."
      operationId: "retrieveCredential"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "CREDENTIAL_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the credentials configuration you want to retrieve."
          required: true
          type: "string"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your credentials configuration."
          x-summary: "Credentials configuration retrieved"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/credentialResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct credential configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    put:
      tags:
        - "Credentials"
      summary: "Update a credentials configuration"
      description: "You can update a credentials configuration by making a PUT request to the `/credentials` endpoint and providing the ID of the credentials configuration you want to update. In the body of the call, provide the updated credentials configuration."
      operationId: "updateCredential"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "CREDENTIAL_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the credentials configuration that you want to update."
          required: true
          type: "string"
        - in: "body"
          name: "body"
          description: "Credentials configuration object to update a credentials configuration."
          required: true
          schema:
            $ref: "#/definitions/credential"
      responses:
        "200":
          description: "A successful response returns JSON schema with updated attributes."
          x-summary: "Credentials configuration updated"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/credentialResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect payload format"
        '401':
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        '403':
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct credential configuration ID before trying again."
          x-summary: "Resource not found"
#        "405":
#          description: "Validation exception"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    delete:
      tags:
        - "Credentials"
      summary: "Delete a specific credentials configuration"
      description: "You can delete the specified credentials configuration by making a DELETE request to the `/credentials` endpoint and providing the ID of the credentials configuration you wish to delete in the request path."
      operationId: "deleteCredential"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "CREDENTIAL_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the credentials configuration you want to delete."
          required: true
          type: "string"
      responses:
        "204":
          description: "A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the resource has been deleted"
          x-summary: "Resource deleted successfully"
        '401':
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        '403':
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct credential configuration ID before trying again."
          x-summary: "Resource not found" 
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /sample-profiles:
    get:
      tags:
        - "Destination testing"
      summary: "Retrieve a list of sample profiles for a given destination configuration or destination instance"
      description: "Use this endpoint as helper to generate sample profiles, either: <ul><li>to use [when making calls to test your destination](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/developer-tools/test-destination.html?lang=en#how-to-use) -  based on the [partner schema by using destination instance ID](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/developer-tools-reference/sample-profile-generation-api.html?lang=en#generate-sample-profiles-source-schema) (also known as order ID) as a query parameter or </li><li> to use [when crafting your message transformation schema](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/developer-tools/create-template.html?lang=en#render-template-api) - by [using destination ID as a query parameter](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/developer-tools-reference/sample-profile-generation-api.html?lang=en#generate-sample-profiles-target-schema).</li></ul>"
      operationId: retrieveSampleInputForDestinationInstance
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'      
        - name: destinationInstanceId
          in: query
          description: "Also known as order ID. The ID of the destination instance based on which you are generating sample profiles. <br><br> Get the destination instance ID that you should use here from the URL when browsing a connection with your destination. "
          type: string
        - name: destinationId
          in: query
          description: "The ID of the destination configuration based on which you are generating sample profiles. The destination ID that you should use here is the ID that corresponds to a destination configuration, created using the `/destinations` endpoint. Refer to the [destination configuration API reference](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/destination-configuration-api.html?lang=en#retrieve-list)."
          type: string
        - name: count
          in: query
          description: "*Optional*. The number of sample profiles that you are generating. The parameter can take values between `1 - 1000.` <br><br> If the count parameter is not specified, then the default number of generated profiles is determined by the `maxUsersPerRequest` value in the [destination server configuration](http://www.adobe.com/go/destination-sdk-server-template-configuration-en). If this property is not defined, then Adobe will generate one sample profile."
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: "A successful response returns sample profiles for the given destination instance ID or destination configuration ID."
          x-summary: "Successful Response"
          schema:
            type: array
            items:
              $ref: '#/definitions/getSampleProfileResponse'
        '401':
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized"
        '403':
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Forbidden"
        '404':
          description: "Resource not found. Verify that you are using the correct destination instance ID or destination configuration ID before trying again."
          x-summary: "Resource Not Found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  '/testing/template/sample/{DESTINATION_CONFIGURATION_ID}':
    get:
      tags:
        - "Destination testing"
      summary: "Retrieve a sample destination template"
      description: "Retrieve a sample template corresponding to the destination's `destinationID`. For more information, see the functionality documentation on [generating a sample template](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/developer-tools/create-template.html?lang=en#sample-template-api)."
      operationId: "retrieveDestinationDefaultTemplate"
      produces:
        - "text/plain"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'      
        - name: "DESTINATION_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the destination configuration for which you are generating a message transformation template. <br><br> The destination ID that you should use here is the ID that corresponds to a destination configuration, created using the `/destinations` endpoint. Refer to the [destination configuration API tutorial](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/destination-configuration-api.html?lang=en#retrieve-list) for more information."
          required: true
          type: "string"
      responses:
        '200':
          description: "A successful response returns HTTP status 200 with a sample template that you can edit to match your expected data format. For an example of a returned template, see the [Get sample template API tutorial](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/developer-tools-reference/sample-template-api.html?lang=en#generate-sample-template)."
          x-summary: "Successful Response"
          schema:
            type: string
        '401':
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized"
        '403':
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Forbidden"
        '404':
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Resource Not Found"
  /testing/template/render:
    post:
      tags:
        - "Destination testing"
      summary: "Render test profiles based on a test destination template"
      description: "You can render exported data by making a POST request to the `testing/template/render` endpoint and providing the destination ID of the destination configuration and the template you created using the sample template API endpoint."
      operationId: createTemplateRenderer
      consumes:
        - application/json
      produces:
        - application/json
        - text/plain
        - text/xml
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: "body"
          name: "body"
          description: "Data needed to render test profiles using provided template"
          required: true
          schema:
            $ref: "#/definitions/testingTemplateRender"
      responses:
        '200':
          description: "A successful response returns HTTP status 200 along with sample exported profiles that match the format you configured in the template. For an example of returned profiles, see the [Render template API tutorial](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/developer-tools-reference/render-template-api.html?lang=en#multiple-profiles-no-body)."
          x-summary: "Successful Response"
          schema:
            type: string
        '401':
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized"
        '403':
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Forbidden"
        '404':
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Resource Not Found"
#        "405":
#          description: "Invalid input"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  '/testing/destinationInstance/{DESTINATION_INSTANCE_ID}':
    post:
      tags:
        - "Destination testing"
      summary: "Send a message to the partner endpoint"
      description: "This API endpoint tests the connection to your destination by sending messages to the partner endpoint. Optionally, you can send a list of profiles in the request. If you do not send any profiles, Experience Platform generates those internally. In this case, you can view the profiles that were used for validation in the response you receive from your endpoint. <br><br> To use this endpoint, you must have a connection to your destination in the Experience Platform UI. Refer to the *important* note at the top of the [Destination testing API tutorial](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/developer-tools-reference/destination-testing-api.html?lang=en)."
      operationId: postTestingDestinationInstance
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: DESTINATION_INSTANCE_ID
          in: path
          description: "Also known as order ID. The ID of the destination instance based on which you are generating sample profiles. <br><br> Get the destination instance ID that you should use here from the URL when browsing a connection with your destination. Refer to the Destination SDK documentation for more information on [obtaining the destination instance ID](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/developer-tools-reference/destination-testing-api.html?lang=en#get-destination-instance-id)."
          required: true
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: body
          name: profileListRequest
          description: profileListRequest
          required: false
          schema:
            $ref: '#/definitions/InputProfileList'
      responses:
        '200':
          description: "The call to the destination endpoint was successful."
          x-summary: "Successful Response"
          schema:
            $ref: '#/definitions/DestinationTestingResponse'
        '401':
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized"
        '403':
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Forbidden"
        '404':
          description: "Resource not found. Verify that you are using the correct destination instance ID before trying again."
          x-summary: "Resource Not Found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /destinations/publish:
    get:
      tags:
        - "Destination publishing"
      summary: "Retrieve a list of destination publish requests"
      description: "You can retrieve a list of all destinations submitted for publishing for your IMS Organization by making a GET request to the `/destinations/publish` endpoint."
      operationId: "listPublishDestinationRequest"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      # - in: "body"
      #   name: "body"
      #   description: "Destination Configuration object for a new destination"
      #   required: true
      #   schema:
      #     $ref: "#/definitions/destinationAuthoringEntity"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of all destination publish requests."
          x-summary: "Success"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/publishedDestination"
        '401':
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized"
        '403':
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Forbidden"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    post:
      tags:
        - "Destination publishing"
      summary: "Submit a destination configuration for publishing"
      description: "Submit a destination configuration for publishing by making a POST request to the `/destinations/publish` endpoint."
      operationId: "createPublishDestinationRequest"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: "body"
          name: "body"
          description: "Destination Publish request object"
          required: true
          schema:
            $ref: "#/definitions/publishedDestinationRequest"
      responses:
        "201":
          description: "A successful response returns HTTP status 201 with details of your newly created destination publish request."
          x-summary: "Created - Destination Published"
          schema:
            $ref: "#/definitions/publishedDestination"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad Request - Formatting Error"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request, or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized - Missing Permissions or Headers"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Forbidden - Access Denied or Missing Headers" 
#       "405":
#         description: "Invalid input"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /destinations/publish/{DESTINATION_CONFIGURATION_ID}:
    get:
      tags:
        - "Destination publishing"
      summary: "Retrieve the status of a specific destination publish request"
      description: "You can retrieve detailed information about a specific destination publish request by making a GET request to the `/destinations/publish` endpoint and providing the ID of the destination configuration for which you want to retrieve the publishing status."
      operationId: "retrievePublishDestinationRequest"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: "DESTINATION_CONFIGURATION_ID"
          in: "path"
          description: "The ID of the destination configuration you have submitted for publishing."
          required: true
          type: "string"
      # - in: "body"
      #   name: "body"
      #   description: "Destination Configuration object for a new destination"
      #   required: true
      #   schema:
      #     $ref: "#/definitions/destinationAuthoringEntity"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your destination publish request."
          x-summary: "OK - Details Retrieved"
          schema:
            $ref: "#/definitions/publishedDestination"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad Request - Formatting Error"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized - Missing Permissions or Headers"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Forbidden - Access Denied or Missing Headers"
        "404":
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Not Found - Incorrect Configuration ID"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    # put:
    #   tags:
    #     - "Destination publishing"
    #   summary: "Update a destination publish request"
    #   description: "You can update the allowed organizations in a destination publish request by making a PUT request to the `/destinations/publish` endpoint and providing the ID of the destination for which you want to update the allowed organizations. In the body of the call, provide the updated allowed organizations."
    #   operationId: "updatePublishDestinationRequest"
    #   consumes:
    #     - "application/json"
    #   produces:
    #     - "application/json"
    #   parameters:
    #     - $ref: '#/parameters/authorization'
    #     - $ref: '#/parameters/x-api-key'
    #     - $ref: '#/parameters/x-gw-ims-org-id'
    #     - $ref: '#/parameters/x-sandbox-name'
    #     - name: "DESTINATION_CONFIGURATION_ID"
    #       in: "path"
    #       description: "The ID of the destination configuration you have submitted for publishing."
    #       required: true
    #       type: "string"
    #     - in: "body"
    #       name: "body"
    #       description: "Destination Publish request object"
    #       required: true
    #       schema:
    #         $ref: "#/definitions/publishedDestinationRequest"
    #   responses:
    #     "200":
    #       description: "A successful response returns JSON schema with updated attributes."
    #       schema:
    #         $ref: "#/definitions/publishedDestination"
    #     "400":
    #       description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
    #     '401':
    #       description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."              
    #     '403':
    #       description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
    #     "404":
    #       description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
#        "405":
#          description: "Invalid input"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  # /destinationDelivery:
  #   post:
  #     tags:
  #     - "destination delivery"
  #     summary: "Create Server,Creadential and Template details for destination delivery"
  #     description: "Create Server,Creadential and Template details for destination delivery"
  #     operationId: "addDelivery"
  #     consumes:
  #     - "application/json"
  #     produces:
  #     - "application/json"
  #     parameters:
  #     - name: Authorization
  #       in: header
  #       description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-api-key
  #       in: header
  #       description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-gw-ims-org-id
  #       in: header
  #       description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - in: "body"
  #       name: "body"
  #       description: "Server Configuration object for a new destination"
  #       required: true
  #       schema:
  #         $ref: "#/definitions/destinationDeliveryItem"
  #     responses:
  #       "405":
  #         description: "Invalid input"
  #     security:
  #     - dest_auth:
  #       - "write:dest"
  #       - "read:dest"
  #   get:
  #     tags:
  #     - "destination delivery"
  #     summary: "List Server,Creadential and Template details for destination delivery"
  #     description: "List Server,Creadential and Template details for destination deliveryr"
  #     operationId: "listDelivery"
  #     consumes:
  #     - "application/json"
  #     produces:
  #     - "application/json"
  #     parameters:
  #     - name: Authorization
  #       in: header
  #       description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-api-key
  #       in: header
  #       description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-gw-ims-org-id
  #       in: header
  #       description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     # - in: "body"
  #     #   name: "body"
  #     #   description: "Destination Configuration object for a new destination"
  #     #   required: true
  #     #   schema:
  #     #     $ref: "#/definitions/serverEntity"
  #     responses:
  #       "200":
  #         description: "successful operation"
  #         schema:
  #           type: "array"
  #           items:
  #             $ref: "#/definitions/destinationDeliveryItem"
  #     security:
  #     - dest_auth:
  #       - "write:dest"
  #       - "read:dest"
  # /destinationDelivery/{instance_id}:
  #   put:
  #     tags:
  #     - "destination delivery"
  #     summary: "Update a Server,Creadential and Template details for a destination delivery"
  #     description: "Update a Server,Creadential and Template details for a destination delivery"
  #     operationId: "updateDelivery"
  #     consumes:
  #     - "application/json"
  #     produces:
  #     - "application/json"
  #     parameters:
  #     - name: Authorization
  #       in: header
  #       description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-api-key
  #       in: header
  #       description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-gw-ims-org-id
  #       in: header
  #       description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: "instance_id"
  #       in: "path"
  #       description: "Instance ID of a server configuration"
  #       required: true
  #       type: "string"
  #     - in: "body"
  #       name: "body"
  #       description: "Destination Configuration object to update existing destination"
  #       required: true
  #       schema:
  #         $ref: "#/definitions/destinationDeliveryItem"
  #     responses:
  #       "400":
  #         description: "Invalid ID supplied"
  #       "404":
  #         description: "Destination not found"
  #       "405":
  #         description: "Validation exception"
  #     security:
  #       - dest_auth:
  #         - "write:dest"
  #         - "read:dest"
  #   get:
  #     tags:
  #     - "destination delivery"
  #     summary: "Get server configuration of a destinations"
  #     description: "Get server configuration of a destination"
  #     operationId: "getDelivery"
  #     consumes:
  #     - "application/json"
  #     produces:
  #     - "application/json"
  #     parameters:
  #     - name: Authorization
  #       in: header
  #       description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-api-key
  #       in: header
  #       description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-gw-ims-org-id
  #       in: header
  #       description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: "instance_id"
  #       in: "path"
  #       description: "Instance ID of a destination configuration"
  #       required: true
  #       type: "string"
  #     responses:
  #       "200":
  #         description: "successful operation"
  #         schema:
  #           type: "object"
  #           items:
  #             $ref: "#/definitions/destinationDeliveryItem"
  #       "404":
  #         description: "Server not found"
  #     security:
  #       - dest_auth:
  #         - "write:dest"
  #         - "read:dest"
  #   delete:
  #     tags:
  #     - "destination delivery"
  #     summary: "Delete configuration of a destinations"
  #     description: "Delete configuration of a destination"
  #     operationId: "deleteDelivery"
  #     consumes:
  #     - "application/json"
  #     produces:
  #     - "application/json"
  #     parameters:
  #     - name: Authorization
  #       in: header
  #       description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-api-key
  #       in: header
  #       description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: x-gw-ims-org-id
  #       in: header
  #       description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
  #       required: true
  #       type: string
  #     - name: "instance_id"
  #       in: "path"
  #       description: "Instance ID of a destination configuration"
  #       required: true
  #       type: "string"
  #     responses:
  #       "200":
  #         description: "successful operation"
  #         schema:
  #           type: "object"
  #           items:
  #             $ref: "#/definitions/destinationDeliveryItem"
  #     security:
  #     - dest_auth:
  #       - "write:dest"
  #       - "read:dest"
# securityDefinitions:
#  dest_auth:
#    type: "oauth2"
#    authorizationUrl: "https://adobeid-na1-stg1.services.adobe.com/ims/token/v1"
#    flow: "implicit"
#    scopes:
#      write:dest: "modify destination in your account"
#      read:dest: "read your destinations"
#  api_key:
#    type: "apiKey"
#    name: "api_key"
#    in: "header"
definitions:
  destination:
    properties:
      name:
        type: "string"
        example: "Moviestar configuration"
        title: "Name"
        description: "Indicates the title of your destination in the Experience Platform catalog."
      description:
        type: "string"
        example: Moviestar is a fictional destination, used for this example.
        title: "Internal Description"
        description: "Provide a description that Adobe will use in the Experience Platform destinations catalog for your destination card. Aim for no more than 4-5 sentences."
#      releaseNotes:
#        type: "string"
#        title: "Release Notes"
#        description: "This field is not necessary in the beta phase of Destination SDK ."
      status:
        type: "string"
        example: "TEST"
        title: "Status"
        description: "Indicates the lifecycle status of the destination card. Use `TEST` when you first configure your destination."
        enum:
          - "TEST"
          - "PUBLISHED"
          - "DELETED"
      # authenticationLevel:
      #   type: "string"
      #   description: "Select authentication level required for this destination. PLATFORM means authentication is common for all customer. Choose USER if customer has to authenticate with destination."
      #   enum:
      #     - "USER"
      #     - "PLATFORM"
      # mapperSchemaId:
      #   type: "string"
      #   title: "Mapper Schema ID"
      #   description: "Patner's Mapper Schema Id. This is the intermediate schema created by partner using mapper API."
      customerAuthenticationConfigurations: # is Authentication flow is required
        type: "array"
        title: "Customer Authentication Configurations"
        description: "Indicates the configuration used to authenticate Experience Platform customers to your server. See `authType` below for accepted values."
        items:
          $ref: "#/definitions/customerAuthenticationConfiguration"
      customerDataFields:
        type: "array"
        description: "Defines fields that you are requiring the Experience Platform customer to fill in when they set up a connection to your destination."
        items:
          $ref: "#/definitions/customerDataField"
      uiAttributes:
        type: "object"
        description: Provide values for the parameters in this object to set up various UI elements for your destination. 
        properties:
          #            isDestination: # auto populate
          #              type: "boolean"
          #              default: true
          #            isPreview: # auto populate
          #              type: "boolean"
          #              default: true
          #            isBeta: # auto populate
          #              type: "boolean"
          #              default: false
          documentationLink:
            type: "string"
            example: "https://www.adobe.com/go/destinations-moviestar-en"
            description: "Refers to the documentation page in the Destinations Catalog for your destination. Use http://www.adobe.com/go/destinations-YOURDESTINATION-en, where YOURDESTINATION is the name of your destination. For a destination called Moviestar, you would use `http://www.adobe.com/go/destinations-moviestar-en`"
          category:
            type: "string"
            example: "mobile"
            description: "Refers to the category assigned to your destination in Adobe Experience Platform. For more information, read [Destination categories](http://www.adobe.com/go/destinations-types-categories-en)."
            enum:
              - "adobeSolutions"
              - "advertising"
              - "analytics"
              - "cdp"
              - "cloudStorage"
              - "crm"
              - "customerSuccess"
              - "database"
              - "dmp"
              - "ecommerce"
              - "email"
              - "emailMarketing"
              - "enrichment"
              - "livechat"
              - "marketingAutomation"
              - "mobile"
              - "personalization"
              - "protocols"
              - "social"
              - "streaming"
              - "subscriptions"
              - "surveys"
              - "tagManagers"
              - "voc"
              - "warehouses"
              - "payments"
#          iconUrl:
#            type: "string"
          #  description: "Provide the logo that Adobe will display in the Adobe Experience Platform destinations catalog for your destination card."
          #              type: "object"
          #              properties:
          #               text:
          #                 type: "string"
          #            label:  #auto populate from top level
          #              type: "object"
          #              properties:
          #                text:
          #                  type: "string"
          #            destinationType: # auto populate
          #              type: "object"
          #              properties:
          #                key:
          #                  type: "string"
          #                  default: "PARTNER_MAPPING"
          #                  enum:
          #                    - "PARTNER_MAPPING"
          connectionType: # auto populate
            type: "string"
            example: "Server-to-server"
            default: "Server-to-server"
            description: "`Server-to-server` is currently the only available option."
            enum:
              - "Server-to-server"
              - "Cloud Storage"
          frequency:
            type: "string"
            example: "Streaming"
            description: "`Streaming` is currently the only available option."
            enum:
              - "Streaming"
              - "Batch"
      #        allowedNamespaces: #Need to remove it
      #          type: "array"
      #          title: "Allowable Namespaces"
      #          description: "List of allowed namespaces."
      #          items:
      #            type: "object"
      #            properties:
      #               namespace:
      #                 type: "string"
      #              # defaultMapping:
      #              #   type: "MappingOperation"
      identityNamespaces:
        $ref: "#/definitions/identityNamespaces"
      destinationDelivery:
        type: "array"
        items:
          $ref: "#/definitions/destinationDeliveryItem"
#      inputSchemaId:
#        type: "string"
#        title: "Partner's Schema ID"
#        description: "This field is automatically generated and does not require your input."
      schemaConfig:
        type: "object"
        title: "Schema Config"
        description: "The parameters in this object create your partner schema configuration. Read more about [schema configuration](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/destination-configuration.html?lang=en#schema-configuration)."
        properties:
          profileFields:
            type: "array"
            description: "When you add predefined `profileFields` as shown in the [example configuration here](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/api-reference/destination-configuration-api.html?lang=en#create), users will have the option of mapping Experience Platform attributes to the predefined attributes on your destination’s side."
            items:
              $ref: "#/definitions/customerDataField"
          profileRequired:
            type: "boolean"
            example: true
            title: "Is Profile Required"
            description: "Use true if users should be able to map profile attributes from Experience Platform to custom attributes on your destination’s side, as shown in the example configuration above."
          segmentRequired:
            type: "boolean"
            example: true
            title: "Is Segment Required"
            description: "Indicates if segment mappings are required. Always use `segmentRequired:true`."
          identityRequired:
            type: "boolean"
            example: true
            title: "Is Identity Required"
            description: "Use true if you users should be able to map identity namespaces from Experience Platform to your desired schema."
      aggregation:
        type: "object"
        title: "Aggregation Policy"
        description: "Indicates the aggregation policy that should be applied when Experience Platform exports data to your destination. Read more about [aggregation policies](https://experienceleague.adobe.com/docs/experience-platform/destinations/destination-sdk/functionality/destination-configuration.html?lang=en#aggregation)."
        properties:
          aggregationType:
            type: "string"
            example: "CONFIGURABLE_AGGREGATION"
            description: "Select either `BEST_EFFORT` or `CONFIGURABLE_AGGREGATION`. You are required to select one of them for your destination."
            enum:
              - "BEST_EFFORT"
              - "CONFIGURABLE_AGGREGATION"
          bestEffortAggregation:
            type: "object"
            title: "Best Effort Aggregation"
            description: "Required parameters to set up best effort aggregation."
            properties:
              maxUsersPerRequest:
                type: "integer"
                example: "10"
                title: "maxUsersPerRequest"
                description: "Experience Platform can aggregate multiple exported profiles in a single HTTP call. Specify the maximum number of profiles that your endpoint should receive in a single HTTP call. Note that this is a best effort aggregation. For example, if you specify the value 100, Platform might send any number of profiles smaller than 100 on a call."
              splitUserById:
                type: "boolean"
                example: false
                title: "splitUserById"
                description: "Use this flag if the call to the destination should be split by identity. Set this flag to true if your server only accepts one identity per call, for a given namespace."
          configurableAggregation:
            type: "object"
            title: "Configurable Aggregation"
            description: "Required parameters to set up configurable aggregation."
            $ref: "#/definitions/configurableAggregation"
      marketingActions:
        type: "array"
        title: "Marketing Actions"
        example: "EMAIL_TARGETING"
        description: "Select if you want your destination to have default marketing actions. Read more about marketing actions in the [Data usage policies overview](http://www.adobe.com/go/dule-policies-en)."
        items:
          type: "string"
          enum:
            - "ANALYTICS"
            - "COMBINE_WITH_PII"
            - "CROSS_SITE_TARGETING"
            - "DATA_SCIENCE"
            - "EMAIL_TARGETING"
            - "EXPORT_TO_THIRD_PARTY"
            - "ONSITE_ADVERTISING"
            - "ONSITE_PERSONALIZATION"
            - "SINGLE_IDENTITY_PERSONALIZATION"
      duleLabels:
        type: "array"
        title: "DULE Labels"
        example: "C1"
        description: "Select if you want your destination to have default data usage labels. Read more in the [Data usage labels glossary](http://www.adobe.com/go/dule-supported-labels-en)."
        items:
          type: "string"
          enum:
            - "C1"
            - "C2"
            - "C3"
            - "C4"
            - "C5"
            - "C6"
            - "C7"
            - "C8"
            - "C9"
            - "C10"
            - "I1"
            - "I2"
            - "S1"
            - "S2"
      backfillHistoricalProfileData:
        type: "boolean"
        example: "true"
        title: "Historical profile data backfill"
        description: "Controls whether historical profile data is exported when segments are activated to the destination."
        default: true
      segmentMappingConfig:
        type: object
        description: The settings in this object determine how segments from Experience Platform are mapped to corresponding segments or audiences in your destination.
        properties:
          mapUserInput:
            type: boolean
            example: false
            default: false
            description: "Controls whether the segment mapping ID in the destination activation workflow is input by the user."
          mapExperiencePlatformSegmentId:
            type: boolean
            example: false            
            default: false
            description: "Controls whether the segment mapping ID in the destination activation workflow is the Experience Platform segment ID."
          mapExperiencePlatformSegmentName:
            type: boolean
            example: false
            default: false
            description: "Controls whether the segment mapping ID in the destination activation workflow is the Experience Platform segment name."
          audienceTemplateId:
            type: string
            example: "12a3238f-b509-4a40-b8fb-0a5006e7901d"
            description: " The `instanceId` of the [audience metadata template](http://www.adobe.com/go/destination-sdk-audience-metadata-en) used for this destination. When used, this controls whether the segment mapping ID is generated by audience metadata template."
  destinationDeliveryItem:
    type: "object"
    description: "Settings related how customers authenticate to your destination."
    properties:
      authenticationRule:
        type: "string"
        example: "CUSTOMER_AUTHENTICATION"
        title: "Authentication Rule"
        description: "Indicates how Experience Platform customers connect to your destination. <br><br> <ul> <li> Use `CUSTOMER_AUTHENTICATION` if Platform customers log into your system via OAuth 2, OAuth 1, a bearer token, or another method of authentication defined in `customerAuthenticationConfigurations`. `authenticationId` is not required for `CUSTOMER_AUTHENTICATION`. </li> <li> Use `PLATFORM_AUTHENTICATION` if there is a global authentication system between Adobe and your destination and the Platform customer does not need to provide any authentication credentials to connect to your destination. In this case, you must create a credentials object using the [Credentials configuration](http://www.adobe.com/go/destination-sdk-authentication-configuration-en). Use the ID of the credentials configuration as `authenticationId` below. </li> <li> Use `NONE` if no authentication is required to send data to your destination platform. </li> </ul> "
        enum:
          - "CUSTOMER_AUTHENTICATION"
          - "PLATFORM_AUTHENTICATION"
          - "NONE"
      authenticationId:
        type: "string"
        description: "See the description above for `authenticationRule` to understand when you should use this ID."
#      serverRule:
#        type: "string"
#        title: "Server Rule"
#        description: "Defines server rule."
#        enum:
#          - "SERVER_ID"
#          - "NONE"
#      serverId:
#        type: "string"
#      templateRule:
#        type: "string"
#        title: "Template Rule"
#        description: "Defines template rule."
#        enum:
#          - "TEMPLATE_ID"
#          - "NONE"
#      templateId:
#        type: "string"
      destinationServerId:
        type: "string"
        example: "2307ec2b-4798-45a4-9239-5d0a2fb0ed67"
        description: "The `instanceId` of the destination server configuration used for this destination."
  #  customerTargetTypeItem:
  #    type: "object"
  #    properties:
  #      targetType:
  #        type: "string"
  #        enum:
  #          - "FILE_TARGET"
  #          - "USER_NAMESPACE" # check with UI team to change the name for this
  #          - "NONE"
  #      additionalFields:
  #        type: "array"
  #        items:
  #          $ref: "#/definitions/customerDataField"
  server:
    properties:
      name:
        type: "string"
        title: "Destination Server"
        description: "Defines Destination Server details."
      # protocol:
      #   type: "string"
      #   title: "Destination Server protocol"
      #   description: "Defines Destination Server protocol as HTTP or FTP."
      destinationServerType:
        type: "string"
        title: "Destination Server type"
        description: "Defines the destination server type as HTTP, SFTP, or S3."
        enum:
          - "URL_BASED"
          - "FILE_BASED_SFTP"
          - "FILE_BASED_S3"
      #        - "NONE"
      # requiresAggregation:  How partner can define Aggregation policy ?
      #   type: boolean
      #   title: "Requires Aggregation"
      #   description: "Sets if we need an aggregation policy for this flow"
      # aggregationPolicyId:
      #   type: "string"
      #   title: "Aggregation Policy Id"
      #   description: "The key for the policy in the aggregation service for this flow"
      # qos:
      #   type: "object"
      #   title: "Quality of service"
      #   description: "Quality of service , needed by the iris backend to determine"
      #     queue for streaming
      #   properties:
      #     name:
      #       type: "string"
      urlBasedDestination:
        type: "object"
        title: "HTTP Settings"
        description: "Define HTTP protocol details and (if required) a template for the HTTP URL."
        properties:
          url:
            $ref: "#/definitions/templateString"
        required:
          - "url"
      fileBasedSFTPDestination:
        type: "object"
        title: "FTP Settings"
        description: "Defines FTP protocol details."
        properties:
          hostname:
            $ref: "#/definitions/templateString"
          port:
            type: "integer"
          rootDirectory:
            $ref: "#/definitions/templateString"
          moveToWhenCompleted:
            $ref: "#/definitions/templateString"
          tmpFileRename:
            type: "integer"
          encryptionMode:
            type: "string"
          filenameSuffix:
            $ref: "#/definitions/templateString"
        required:
          - "hostname"
          - "port"
      fileBasedS3Destination:
        type: "object"
        title: "S3 Settings"
        description: "Defines S3 protocol details."
        properties:
          bucket:
            $ref: "#/definitions/templateString"
          path:
            $ref: "#/definitions/templateString"
        required:
          - "bucket"
          - "path"
  credential:
    type: "object"
    title: "credential"
    description: "Defines credential type with details to authenticate with the destination server at platform level."
    properties:
      type:
        type: "string"
        title: "Credential type"
        description: "Defines the credential type."
        example: "OAUTH2_CLIENT_CREDENTIAL"
        enum:
          - "BASIC"
          # - "S3"
          # - "SSH"
          # - "OAUTH1"
          # - "OAUTH2_USER_CREDENTIAL"
          # - "OAUTH2_CLIENT_CREDENTIAL"
          # - "OAUTH2_ACCESS_TOKEN"
          # - "OAUTH2_REFRESH_TOKEN"
          # - "NONE"
      name:
        type: "string"
        title: "Name"
        description: "Name of the credential configuration."
      basicAuthentication:
        type: "object"
        description: "Required parameters to set up basic authentication with username and password."
        properties:
          username:
            description: User name required to connect to the destination server
            type: "string"
          password:
            description: Password required to connect to the destination server
            type: "string"
        required:
          - "username"
          - "password"
#      s3Authentication:
#        type: "object"
#        properties:
#          accessId:
[...]
