openapi: 3.0.3
info:
  title: The Experience Platform Data Hygiene API
  description: A REST API which allows users to manage data within the Experience
    Platform.
  termsOfService: https://www.adobe.com/legal/terms.html
  contact:
    name: Privacy Team
    url: https://wiki.corp.adobe.com/display/DMSArchitecture/Core+Privacy+Service
    email: gdpr-dev@adobe.com
  version: '1.0'
servers:
- url: https://platform.adobe.io/data/core/hygiene
  description: Adobe IO gateway endpoint
tags:
- name: quota-controller
  description: Quota Controller
- name: ttl-controller
  description: TTL Controller
- name: work-order-controller
  description: Work Order Controller
paths:
  "/quota":
      get:
        tags:
        - quota-controller
        summary: Retrieve the organization quotas from data hygiene.
        description: >
          The /quota endpoint in the Data Hygiene API allows you to monitor your Advanced data lifecycle management usage against your organization’s quota limits for each job type.

            Quotas are enforced for each data lifecycle job type in the following ways:

          - Record deletes and updates are limited to a certain number of requests each month.
          - Dataset expirations have a flat limit for the number of concurrently active jobs, regardless of when the expirations will be executed.
        operationId: getQuotasUsingGET
        parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/XApiKey'
        - $ref: '#/components/parameters/XImsOrgId'
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/quotaType'
        responses:
          '200':
            description: A successful operation. A successful response returns the details of your data lifecycle quotas.
            content:
              application/json:
                examples:
                  Quota_Response:
                    $ref: "#/components/examples/Quota_Response"
          '400':
            description: > 
              A bad request. The response typically indicates that there was a problem with the request made to a server. 
              This is often due to incorrect syntax or missing information, for example an IMS-Org-Id header missing from the request.
            content:
              application/json:
                examples:
                  Quota_Response:
                    $ref: "#/components/examples/Quota_Response"
          '401':
            description: >
              The 'Unauthorized' error occurs if you haven't provided the proper credentials when trying to access a service that requires authentication.
              For example, this error might occur if you try to access an API without the appropriate permissions or authorization tokens required by the API.
            content:
              application/json:
                # schema:
                #   $ref: '#/components/schemas/ErrorResponse'
                example:
                  error_code: "401 UNAUTHORIZED"
                  message: "Access Denied. The user is not authorized to make the request."
          '403':
            description: >
              You have been denied access to a resource due to lack of proper authorization or permissions
            content: 
              application/json:
                # schema:
                #   $ref: '#/components/schemas/ErrorResponse'
                example:
                  error_code: "403 FORBIDDEN"
                  message: "Access to the requested resource is forbidden."
          '404':
            description: If the quota cannot be found.

components: 
  # schemas:

  examples:
    Quota_Response:
      summary: Quota response example.
      value:
        items:
          - name: "datasetExpirationQuota"
            description: "The number of concurrently active Expiration Dataset Delete in all workorder requests for the organization."
            consumed: 12
            quota: 50
        
          - name: "dailyConsumerDeleteIdentitiesQuota"
            description: "The consumed number of deleted identities in all workorder requests for the organization for today."
            consumed: 21
            quota: 600000
       
          - name: "monthlyConsumerDeleteIdentitiesQuota"
            description: "The consumed number of deleted identities in all workorder requests for the organization for this month."
            consumed: 832
            quota: 600000
       
          - name: "monthlyUpdatedFieldIdentitiesQuota"
            description: "The consumed number of updated identities in all workorder requests for the organization for this month."
            consumed: 0
            quota: 0

  parameters: 
    Authorization:
      in: header
      name: Authorization
      description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
      schema:
        type: string
      required: true
  
    Content-type: 
      in: header
      name: Content-type
      description: "The type of content being sent in the body of the request. Should be 'application/json'."
      schema: 
        type: string
        default: "application/json"
      required: true
  
    XApiKey:
      in: header
      name: x-api-key
      description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
      schema:
        type: string
      required: true
   
    XImsOrgId:
      in: header
      name: x-gw-ims-org-id
      description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
      schema:
        type: string
      required: true

    XRequestId:
      in: header
      name: x-gw-ims-org-id
      description: "A tracing ID associated with the request. If one is not provided on the request, then the server will generate one."
      schema:
        type: string
      required: false

    quotaType: 
      in: query
      name: quotaType
      description:  >
        An optional query parameter that specifies the type of quota to retrieve. If no quotaType parameter is provided, all quota values are returned in the API response. 
        Accepted type values include:
          - datasetExpirationQuota: Dataset expirations
          - deleteIdentityWorkOrderDatasetQuota: Record deletes
          - fieldUpdateWorkOrderDatasetQuota: Record updates
          # Need to confirm if these are still current
      required: false
      schema:
        type: string
        enum:
            - EXPIRATION_DATASET
            - FIELD_UPDATE
            - IDENTITY_DELETE_DAILY
            - IDENTITY_DELETE_MONTHLY
