openapi: 3.0.0
info:
  description: 
    >-
    Use the Adobe Experience Platform Flow Service API to connect and activate data to various destinations within and outside of Adobe Experience Platform.
    
    - **Related documentation**:
        - [Destinations documentation](http://www.adobe.com/go/destinations-overview-en)
        - [Connect to batch destinations - API tutorial](https://experienceleague.adobe.com/docs/experience-platform/destinations/api/connect-activate-batch-destinations.html?lang=en)
        - [Connect to streaming destinations - API tutorial](https://experienceleague.adobe.com/docs/experience-platform/destinations/api/streaming-destinations.html?lang=en)
        - [Update destination dataflows - API tutorial](https://experienceleague.adobe.com/docs/experience-platform/destinations/api/update-destination-dataflows.html?lang=en)

    - **API paths**:
      - PLATFORM Gateway URL: https://<span>platform.adobe.io/
      - Base path for this API: /data/foundation/flowservice
      - Example of a complete path: https://<span>platform.adobe.io/data/foundation/flowservice/flows
  
    - **Required headers**:
        - All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        - All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
        - All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

    - **API error handling**:
        - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#request-header-errors).

    - **Sorting and filtering responses**:
        - When performing listing (GET) requests in the Flow Service API, you can use query parameters to [sort and filter responses](https://experienceleague.adobe.com/docs/experience-platform/dataflows/api/sort-and-filter.html?lang=en).


  title: Flow Service API - Destinations
  version: 1.0.0
servers:
  - url: https://platform.adobe.io/data/foundation/flowservice
    description: Adobe IO gateway endpoint

tags:

  - name: Dataflows
    description: Destination dataflows represent the data transfer between a source connection (Experience Platform) and a target connection (the destination you set up). This also includes information regarding the data export schedule, and the transformation specifications of the data being exported to your destination. A dataflow instance is specific to a tenant and Organization.
  - name: Dataflow Runs
    description: Dataflow runs represent an instance of a dataflow execution, which exports data to your destination. A run instance is specific to a tenant and IMS Organization.

paths:
  /flows:
    post:
      tags:
        - Dataflows
      summary: Create a destination dataflow
      description: >
       You can create a new destination dataflow by making a POST request to the `/flows` endpoint.
      operationId: postFlow
      parameters:
        - in: header
          name: Authorization
          description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-gw-ims-org-id
          description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-sandbox-name
          description: "All resources in Experience Platform are isolated to specific virtual sandboxes. Requests to Platform APIs require a header that specifies the name of the sandbox in which the operation will take place."
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: Accept
          description: "An optional content negotiation header which allows you to use a specific version of the API. If you don't use it, the HTTP responses fall back to the latest version of the API."
          schema:
            type: string
            default: "application/json; version=1"
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Create_Batch_Destination_Flow_Request'
                - $ref: '#/components/schemas/Create_Streaming_Destination_Flow_Request'
            examples:
              Create_Batch_Destination_Flow:
                $ref: '#/components/examples/Create_Batch_Destination_Flow'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patch_Flow_Response'
              examples:
                Create_Flow_Response:
                  $ref: '#/components/examples/Create_Flow_Response'
        '401':
          description: The token provided in Authorization header is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error_code: 401013
                message: "Oauth token is not valid"
        '403':
          description: The user is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: A user with the specified ID was not found.                
        '500':
          description: An Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            
    get:
      tags:
       - Dataflows
      summary: Retrieve a list of destination dataflows
      description: >
        You can retrieve a list of all destination dataflows for your Organization by making a GET request to the `/flows` endpoint. 
        When performing listing (GET) requests in the Flow Service API, you can use query parameters to [sort and filter responses](https://experienceleague.adobe.com/docs/experience-platform/dataflows/api/sort-and-filter.html?lang=en).
        <br><br> You can use query parameters to return only the dataflows for a specific destination. To do this, pass in the `connectionSpec` of the desired destination by using the `property` query parameter, as shown below.
      operationId: getFlows
      parameters:
        - in: header
          name: Authorization
          description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-gw-ims-org-id
          description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-sandbox-name
          description: "All resources in Experience Platform are isolated to specific virtual sandboxes. Requests to Platform APIs require a header that specifies the name of the sandbox in which the operation will take place."
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: Accept
          description: "An optional content negotiation header which allows you to use a specific version of the API. If you don't use it, the HTTP responses fall back to the latest version of the API."
          schema:
            type: string
            default: "application/json; version=1"
          required: false
        - in: query
          name: property
          description: > 
            A comma separated list of top-level object properties to be returned in the response. Used to cut down the amount
            of data returned in the response body. For example, `property=id==3416976c-a9ca-4bba-901a-1f08f66978ff,6a8d82b-1caf-45d1-908d-cadabc9d63a6,3c9b37f8-13a6-43d8-bad3-b863b941fedd`.
          required: false
          schema:
            type: string
          examples:
            filterS3Dataflows:
              summary: Filter dataflows for Amazon S3 destination
              value: "property=inheritedAttributes.targetConnections[].connectionSpec.id==4890fc95-5a1f-4983-94bb-e060c08e3f81"
            filterSftpDataflows:
              summary: Filter dataflows for SFTP destination
              value: "property=inheritedAttributes.targetConnections[].connectionSpec.id==64ef4b8b-a6e0-41b5-9677-3805d1ee5dd0"
        - in: query
          name: limit
          description: "Limit response to a specific number of objects. Must be a positive number. For example, `limit=10`"
          required: false
          schema:
            type: integer
        - in: query
          name: orderby
          description: "Sort response by specified fields separated by `,` and/or prefix field with `-` for descending order."
          required: false
          schema:
            type: string            
        - in: query
          name: count
          description: "A boolean value specifying if the count of resources should be returned. By default the count is not returned (`count=false`)."
          required: false
          schema:
            type: boolean   
        - in: query
          name: continuationToken
          description: "A token for fetching records for next page. This is an auto generated token."
          required: false
          schema:
            type: string   

      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Batch_Flow'
                  - $ref: '#/components/schemas/Streaming_Flow'
              examples:
                Flows:
                  $ref: '#/components/examples/Batch_Flows'
        '401':
          description: The token provided in Authorization header is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error_code: 401013
                message: "Oauth token is not valid"
        '403':
          description: The user is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: An Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      # externalDocs:
      #   description: Learn more about user operations provided by this API.
      #   url: http://api.example.com/docs/user-operations/
    
  /flows/{id}:
    get:
      tags:
        - Dataflows
      summary: Retrieve a destination dataflow's details
      description: >
        You can retrieve detailed information about a specific destination dataflow by making a GET request and providing the ID of the dataflow you want to inspect.
      operationId: getFlowById
      parameters:
        - name: id
          in: path
          description: "The Flow ID of the destination dataflow you are looking to retrieve." 
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-gw-ims-org-id
          description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-sandbox-name
          description: "All resources in Experience Platform are isolated to specific virtual sandboxes. Requests to Platform APIs require a header that specifies the name of the sandbox in which the operation will take place."
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: Accept
          description: "An optional content negotiation header which allows you to use a specific version of the API. If you don't use it, the HTTP responses fall back to the latest version of the API."
          schema:
            type: string
            default: "application/json; version=1"
          required: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Batch_Flow'
                  - $ref: '#/components/schemas/Streaming_Flow'
              examples:
                Batch_Flow_Daily_Full_Once_Scheduled:
                  $ref: '#/components/examples/Batch_Flow_Daily_Full_Once_Scheduled'
                Batch_Flow_Daily_Full_Once_Chained:
                  $ref: '#/components/examples/Batch_Flow_Daily_Full_Once_Chained'
                Batch_Flow_Daily_Full_Scheduled:
                  $ref: '#/components/examples/Batch_Flow_Daily_Full_Scheduled'
                Batch_Flow_Daily_Full_Chained:
                  $ref: '#/components/examples/Batch_Flow_Daily_Full_Chained'
                Batch_Flow_First_Full_Then_Incremental_DAILY:
                  $ref: '#/components/examples/Batch_Flow_First_Full_Then_Incremental_DAILY'
                Batch_Flow_First_Full_Then_Incremental_EVERY_3_HOURS:
                  $ref: '#/components/examples/Batch_Flow_First_Full_Then_Incremental_EVERY_3_HOURS'
        '401':
          description: The token provided in Authorization header is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error_code: 401013
                message: "Oauth token is not valid"
        '403':
          description: The user is not authorized 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: A user with the specified flow Id was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorMessage: "flows not found with id = [ca5c6e9a-8559-4a08-97a5-f15b756da600-]"
                errorDetails: "flows not found with id = [ca5c6e9a-8559-4a08-97a5-f15b756da600-]"
        '500':
          description: An Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      # externalDocs:
      #   description: Learn more about user operations provided by this API.
      #   url: http://api.example.com/docs/user-operations/
    
    patch:
      tags:
        - Dataflows
      summary: Update a destination dataflow
      description: >
        You can update a destination dataflow by making a PATCH request and providing the ID of the dataflow you want to update. In the body of the request, provide the updated configuration of the dataflow.
      operationId: patchFlowById
      parameters:
        - name: id
          in: path
          description: "The Flow ID of the destination dataflow you are looking to update." 
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-gw-ims-org-id
          description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-sandbox-name
          description: "All resources in Experience Platform are isolated to specific virtual sandboxes. Requests to Platform APIs require a header that specifies the name of the sandbox in which the operation will take place."
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: Accept
          description: "An optional content negotiation header which allows you to use a specific version of the API. If you don't use it, the HTTP responses fall back to the latest version of the API."
          schema:
            type: string
            default: "application/json; version=1"
          required: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Patch_Flow_Request'
            examples:
              Batch_Flow_Daily_Full_Once_Scheduled:
                $ref: '#/components/examples/Patch_Batch_Flow_Daily_Full_Once_Scheduled'
              Batch_Flow_Daily_Full_Once_Chained:
                $ref: '#/components/examples/Patch_Batch_Flow_Daily_Full_Once_Chained'
              Add_Profile_Selectors:
                $ref: '#/components/examples/Patch_Profile_Selectors'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patch_Flow_Response'
              examples:
                Patch_Flow_Response:
                  $ref: '#/components/examples/Patch_Flow_Response'
        '401':
          description: The token provided in Authorization header is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error_code: 401013
                message: "Oauth token is not valid"
        '403':
          description: The user is not authorized 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: A user with the specified flow Id was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorMessage: "flows not found with id = [ca5c6e9a-8559-4a08-97a5-f15b756da600-]"
                errorDetails: "flows not found with id = [ca5c6e9a-8559-4a08-97a5-f15b756da600-]"
        '412':
          description: Pre-condition failed error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorMessage: Supplied version=[\"04001277-0000-0200-0000-62d9b13e00001\"] does not match the current version on entity=[\"0400117f-0000-0200-0000-62d9bca50000\"]
                errorDetails: Supplied version=[\"04001277-0000-0200-0000-62d9b13e00001\"] does not match the current version on entity=[\"0400117f-0000-0200-0000-62d9bca50000\"]
                
        '500':
          description: An Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      # externalDocs:
      #   description: Learn more about user operations provided by this API.
      #   url: http://api.example.com/docs/user-operations/

    delete:
      tags:
        - Dataflows
      summary: Delete a specific destination dataflow
      description: >
        You can delete the specified destination dataflow by making a DELETE request to the `/flows` endpoint and providing the ID of the dataflow that you wish to delete in the request path.
      operationId: deleteFlowById
      parameters:
        - name: id
          in: path
          description: "The Flow ID of the destination dataflow you are looking to delete." 
          required: true
          schema:
            type: string
        - in: header
          name: Authorization
          description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-gw-ims-org-id
          description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-sandbox-name
          description: "All resources in Experience Platform are isolated to specific virtual sandboxes. Requests to Platform APIs require a header that specifies the name of the sandbox in which the operation will take place."
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: Accept
          description: "An optional content negotiation header which allows you to use a specific version of the API. If you don't use it, the HTTP responses fall back to the latest version of the API."
          schema:
            type: string
            default: "application/json; version=1"
          required: false
      responses:
        '202':
          description: A successful response returns HTTP status 202 (No Content) and a blank body. You can confirm the deletion by attempting a lookup (GET) request to the dataflow. The API will return an HTTP 404 (Not Found) error, indicating that the dataflow has been deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: The token provided in Authorization header is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error_code: 401013
                message: "Oauth token is not valid"
        '403':
          description: The user is not authorized 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: A user with the specified flow Id was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                errorMessage: "flows not found with id = [ca5c6e9a-8559-4a08-97a5-f15b756da600-]"
                errorDetails: "flows not found with id = [ca5c6e9a-8559-4a08-97a5-f15b756da600-]"
        '500':
          description: An Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      # externalDocs:
      #   description: Learn more about user operations provided by this API.
      #   url: http://api.example.com/docs/user-operations/

  /runs:
    get:
      tags:
        - Dataflow Runs
      summary: Retrieve a list of destination dataflow runs
      description: >
        You can retrieve a list of all destination dataflow runs for your Organization by making a GET request to the `/flows` endpoint. 
        When performing listing (GET) requests in the Flow Service API, you can use query parameters to [sort and filter responses](https://experienceleague.adobe.com/docs/experience-platform/dataflows/api/sort-and-filter.html?lang=en).
        <br><br> For example, you can use query parameters to return only the dataflows runs for a particular segment ID or for a combination of segment ID and export status (`Success`, `Processing`, `Waiting`, `Failed`). To do this, use the `property` query parameter, as shown below.
      operationId: getFlowRuns
      parameters:
        - in: header
          name: Authorization
          description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-gw-ims-org-id
          description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: x-sandbox-name
          description: "All resources in Experience Platform are isolated to specific virtual sandboxes. Requests to Platform APIs require a header that specifies the name of the sandbox in which the operation will take place."
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
          schema:
            type: string
          required: true
        - in: header
          name: Accept
          description: "An optional content negotiation header which allows you to use a specific version of the API. If you don't use it, the HTTP responses fall back to the latest version of the API."
          schema:
            type: string
            default: "application/json; version=1"
          required: false
        - in: query
          name: property
          description: >
            A comma separated list of top-level object properties to be returned in the response. Used to cut down the amount
            of data returned in the response body. Multiple property parameters can be passed to filtering on more than 1 
            property. Refer examples below.
          schema:
            type: string
          examples:
            filterBySegmentId:
              summary: Filter dataflow runs based on a particular segment id.
              value: >
                property=metrics.recordSummary.sourceSummaries[].id==<segmentId>
            filterBySegmentIdAndStatus:
              summary: Filter dataflow runs based on a particular segment id and status.
              value: >
                property=metrics.recordSummary.sourceSummaries[].id==<segmentId>&
                property=metrics.statusSummary.status==success
          required: false
        - in: query
          name: limit
          description: "Limit response to a specific number of objects. Must be a positive number. For example, `limit=10`"
          schema:
            type: integer
          required: false
        - in: query
          name: orderby
          description: "Sort response by specified fields separated by `,` and/or prefix field with `-` for descending order."
          required: false
          schema:
            type: string            
        - in: query
          name: count
          description: "A boolean value specifying if the count of resources should be returned. By default the count is not returned (`count=false`)."
          required: false
          schema:
            type: boolean   
        - in: query
          name: continuationToken
          description: "A token for fetching records for next page. This is an auto generated token."
          required: false
          schema:
            type: string   

      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flow_Runs'
              examples:
                Batch_Flow_Run:
                  $ref: '#/components/examples/Batch_Flow_Run_Success'
                Batch_Flow_Run_Failure:
                  $ref: '#/components/examples/Batch_Flow_Run_Failure'
        '401':
          description: The token provided in Authorization header is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error_code: 401013
                message: "Oauth token is not valid"
        '403':
          description: The user is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: An Internal error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      # externalDocs:
      #   description: Learn more about user operations provided by this API.
      #   url: http://api.example.com/docs/user-operations/
        
components:
  schemas:
    Batch_Flow:
      type: object
      title: Batch destination flow response 
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BatchFlowItem'
   
    Streaming_Flow:
      type: object
      title: Streaming destination flow response       
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/StreamingFlowItem'
          
    BatchFlowItem:
      allOf:
        - $ref: '#/components/schemas/BaseFlowItem'
        - $ref: '#/components/schemas/BatchTransformations'
        
    StreamingFlowItem:
      allOf:
        - $ref: '#/components/schemas/BaseFlowItem'
        - $ref: '#/components/schemas/StreamingTransformations'
        
    BatchTransformations:
      type: object
      properties:
        transformations:
          type: array
          title: Flow Transformations
          description: > 
            A list of Flow transformations. For destinations data flow this array is of size 1
            with individual profile selectors as explained in the BatchTransformation schema.
          items:
            $ref: '#/components/schemas/BatchTransformation'
    
    BatchTransformation:
      type: object
      properties:
        name: 
          type: string
          title: Name
          description: Name of the transformation object.
          enum: [ GeneralTransform ]
        params:
          type: object
          properties:
            profileSelectors:
              $ref: '#/components/schemas/BatchProfileSelectors'
            segmentSelectors:
              $ref: '#/components/schemas/BatchSegmentSelectors'
            
    BatchProfileSelectors:
      type: object
      properties:
        selectors:
          type: array
          title: Segment Selector Paths
          items:
            $ref: '#/components/schemas/BatchProfileSelector'
        mandatoryFields:
          type: array
          title: Mandatory Fields
          description: >
            Read more about mandatory attributes: https://experienceleague.adobe.com/docs/experience-platform/destinations/ui/activate/activate-batch-profile-destinations.html#mandatory-attributes
          items:
            type: string
            title: Mandatory String Field
            description: A valid profile union schema field for defining the mandatory attributes.
        primaryFields:
          type: array
          title: Primary Fields
          description: >
            Read more about mandatory attributes: https://experienceleague.adobe.com/docs/experience-platform/destinations/ui/activate/activate-batch-profile-destinations.html#deduplication-keys
          items:
            type: object
            title: Primary Field Object
            properties:
              fieldType:
                type: string
                title: Field Type
                enum: [ ATTRIBUTE ]
              attributePath:
                type: string
                title: Attribute Path
                description: > 
                 A valid profile union schema field for defining the deduplication scheme to avoid
                 activating duplicate profiles.
    
    BatchProfileSelector:
      type: object
      title: Profile Selector
      description: >
        A profile selector object to define a field for activation. For detailed explanation of each field kindly refer to documentation link: https://experienceleague.adobe.com/docs/experience-platform/destinations/api/connect-activate-batch-destinations.html?lang=en#activate-data.
      properties:
        type: 
          type: string
          title: Profile Selector Type
          description: >
            Describes the enum for the profile selector object. Currently, only a single valued enum is supported.
          enum: ["JSON_PATH"]
        value: 
          type: object
          title: Profile Selector Value Object
          description: > 
            Object to define different attributes for activating an XDM field. For eg, we define the
            source, target schema paths etc.
          properties:
            path:
              type: string
            operator: 
              type: string
              title: Profile Selector Operator
              description: >
                Describes the enum for the profile selector operator. Currently, only a single valued
                enum is supported.
              enum: ["EXISTS"]
            mapping:
              type: object
              properties:
                sourceType:
                  type: string
                source:
                  type: string
                destination:
                  type: string
                identity: 
                  type: boolean
                primaryIdentity:
                  type: boolean
                functionVersion:
                  type: integer
                sourceAttribute:
                  type: string
                destinationXdmPath:  
                  type: string
    
    BatchSegmentSelectors:
      type: object
      properties:
        selectors:
          type: array
          title: Segment Selector Paths
          items:
            $ref: '#/components/schemas/BatchSegmentSelector'
    
    BatchSegmentSelector:
      type: object
      title: Segment Selector
      description: >
        A segment selector object to define a segment for activation. For detailed explanation of each field kindly refer to documentation link: https://experienceleague.adobe.com/docs/experience-platform/destinations/api/connect-activate-batch-destinations.html?lang=en#activate-data.
      properties:
        type:
          type: string
          title: Segment Type
          enum: [ PLATFORM_SEGMENT ]
        value:
          type: object
          title: Segment Selector Value Object
          description: >
            Contains the fields that are relevant for the segment activation, including information about the export schedule, export mode, and more. 
          properties:
            id:
              type: string
              title: Segment ID
              description: Specify the ID of the segment you are adding to the destination dataflow.
            name:
              type: string
              title: Segment name.
              description: Specify the name of the segment you are adding to the destination dataflow. Note that this field is not mandatory and you can successfully add a segment to the destination dataflow without providing its name.
            description:
              type: string
              title: Description
              description: Specify the description of the segment you are adding to the destination dataflow. Note that this field is not mandatory and you can successfully add a segment to the destination dataflow without providing its description.
            fileNameTemplate:
              type: string
              title: File Name Template
              description: >
                This field determines the file name format of the files that are exported to your destination. Several macros are available to use. For information about all the available macros, see `filenameTemplate` in the [Add a segment to a dataflow](https://experienceleague.adobe.com/docs/experience-platform/destinations/api/update-destination-dataflows.html?lang=en#add-segment) documentation.
              example: "%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%"
            exportMode:
              type: string
              title: Export Mode
              description: > 
                For more information about the two options, refer to [export full files](https://experienceleague.adobe.com/docs/experience-platform/destinations/ui/activate/activate-batch-profile-destinations.html?lang=en#export-full-files) and [export incremental files](https://experienceleague.adobe.com/docs/experience-platform/destinations/ui/activate/activate-batch-profile-destinations.html?lang=en#export-incremental-files) in the batch
                destinations activation tutorial. 
              enum: [ "DAILY_FULL_EXPORT", "FIRST_FULL_THEN_INCREMENTAL" ]
            createTime:
              type: string
              title: Create Time
              description: A system-generated time in epoch seconds to represent when the segment was first activated to the flow.
              example: "1658344069"
            updateTime:
              type: string
              title: Update Time
              description: A system-generated time in epoch seconds to represent when the segment activation details were modified.
              example: "1658427026"   
            schedule:
              type: object
              properties:
                frequency:
                  type: string
                  title: Export Frequency
                  enum: [ "ONCE", "DAILY", "EVERY_3_HOURS", "EVERY_6_HOURS", "EVERY_8_HOURS", "EVERY_12_HOURS" ]
                triggerType:
                  type: string
                  title: Trigger Type
                  description: >
                    This field is required only when selecting the `DAILY_FULL_EXPORT` mode in the frequency selector.
                    Supported frequency types are `ONCE` and `DAILY`. <br> Select `AFTER_SEGMENT_EVAL` to have the activation job
                    run immediately after the daily Platform batch segmentation job completes. 
                    This ensures that when the activation job runs, the most up-to-date profiles are exported to your
                    destination. <br> Select `SCHEDULED` to have the activation job run at a fixed time. This ensures that Experience
                    Platform profile data is exported at the same time each day, but the profiles you export may not be the most up-to
                    -date, depending on whether the batch segmentation job has completed before the activation job starts. When
                    selecting this option, you must also add a `startTime` to indicate at which time in UTC the daily exports should
                    occur.
                  enum: [ "SCHEDULED", "AFTER_SEGMENT_EVAL" ]
                startDate:
                  type: string
                  title: Start Date
                  description: The date when the segment should start exporting profiles to your destination.
                  example: "2022-07-20"
                endDate:
                  type: string
                  title: End Date
                  description: >
                    Not applicable when selecting `"exportMode":"DAILY_FULL_EXPORT"` and `"frequency":"ONCE"`.
                    Sets the date when segment members stop being exported to the destination.
                  example: "2022-07-29"
                startTime:
                  type: string
                  title: Start Time
                  description: > 
                    A 24-hour format to represent when files containing members of the segment should be generated 
                    and exported to your destination. 
                    Note: This field is not applicable when you define the `"exportMode":"DAILY_FULL_EXPORT"` and 
                    `"triggerType"="AFTER_SEGMENT_EVAL"`
                  example: "20:00"

    StreamingTransformations:
      type: object

    BaseFlowItem:
      type: object
      title: Flow Items
      description: Parameters specific to batch and streaming destination dataflows.
      required:
        - id
        - description
        - createdClient
        - updatedClient
        - createdBy
        - updatedBy
        - imsOrgId
        - sandboxId
        - sandboxName
        - etag
        - state
        - sourceConnectionIds
        - targetConnectionIds
      properties:
        id:
          type: string
          title: Flow Id
          description: A guid representing the data flow id.
        description:
          type: string
          title: Flow description
          description: A string description for flow object.
        createdClient:
          type: string
          title: Created client
          description: IMS client who created the data flow.
        updatedClient:
          type: string
          title: Updated client
          description: IMS client who updated the data flow.
        createdBy:
          type: string
          title: Created User
          description: IMS user who created the data flow. In case of service tokens created by is same as created clients.
        updatedBy:
          type: string
          title: Updated User
          description: IMS user who updated the data flow. In case of service tokens created by is same as created clients.
        imsOrgId:
          type: string
          title: Created client
          description: IMS client who created the data flow.
        sandboxId:
          type: string
          title: Created client
          description: IMS client who created the data flow
        sandboxName:
          type: string
          title: Created client
          description: IMS client who created the data flow.
        etag:
          type: string
          title: Created client
          description: IMS client who created the data flow.
        state:
          type: string
          title: Flow state
          description: >
            Represents the current flow state of the dataflow.
        sourceConnectionIds:
          type: array
          title: Source Connection Ids
          description: Array of strings pointing to Flow's source connections.
          items:
            type: string
            title: Individual Source Connection Id.
          example: [sourceConnectionId1, sourceConnectionId2]
        targetConnectionIds:
          type: array
          title: Target Connection Ids
          description: Array of strings pointing to Flow's target connections.
          items:
            type: string
            title: Individual Targrt Connection Id.
          example: [targetConnectionId1, targetConnectionId2]
          
    Create_Batch_Destination_Flow_Request:
      type: object
      title: Create Batch Destination Flow Request.
      description: Model for defining request body for create flow API.
      required:
        - name
        - flowSpec
        - sourceConnectionIds
        - targetConnectionIds
        - transformations
      properties:
        name:
          type: string
          title: Flow Name
          description: The name of the destination dataflow to be created.
        description:
          type: string
          title: Flow Description
          description: The description provides information and details regarding the dataflow to be created.
        flowSpec:
          $ref: '#/components/schemas/FlowSpec'
        sourceConnectionIds:
          $ref: '#/components/schemas/SourceConnectionIds'
        targetConnectionIds:
          $ref: '#/components/schemas/TargetConnectionIds'
        transformations:
          type: array
          title: Transformations
          description: Transformation object to define the base structure for a destination dataflow. When creating a destination dataflow, leave the `profileSelectors`and `segmentSelectors` empty. You will add relevant values for them when using the `PATCH` request later.
          items:
            type: object
            title: Transformation Object.
            properties:
              name:
                type: string
                title: Transformation Name
                description: A hardcoded string. Use the value `General Transform`.
                enum: [ "General Transform" ]
              params:
                type: object
                properties:
                  segmentSelectors:
                    type: object
                    properties: 
                      selectors:
                        type: array
                        title: Segment Selector Objects
                        description: > 
                          An empty array needs to be passed while creating the destination dataflow. For a detailed selector object, refer to the values documented for Segment selector in the section [Update a destination dataflow](https://adobedocs.github.io/experience-platform-apis/references/destinations/#operation/patchFlowById).
                        items:
                          type: string
                  profileSelectors:
                    type: object
                    properties: 
                      selectors:
                        type: array
                        title: Profile Selector Objects
                        description: > 
                          An empty array needs to be passed while creating the destination dataflow. For a detailed selector object, refer to the values documented for Profile selector in the section [Update a destination dataflow](https://adobedocs.github.io/experience-platform-apis/references/destinations/#operation/patchFlowById).
                        items:
                          type: string
      
    Create_Streaming_Destination_Flow_Request:
      type: object
      title: Create Streaming Destination Flow Request.
      description: Model for defining request body for create flow API.
      required:
        - name
        - flowSpec
        - sourceConnectionIds
        - targetConnectionIds
        - transformations
      properties:
        name:
          type: string
          title: Flow Name
          description: A suitable flow name.
        description:
          type: string
          title: Flow Description
          description: An optional flow description.
        flowSpec:
          $ref: '#/components/schemas/FlowSpec'
        sourceConnectionIds:
          $ref: '#/components/schemas/SourceConnectionIds'
        targetConnectionIds:
          $ref: '#/components/schemas/TargetConnectionIds'
        transformations:
          type: string
          title: TBD
      
    FlowSpec:
      type: object
      title: Flow Spec
      description: Model to capture the flow specification. Each destination has a specific flow spec ID in Experience Platform.
      properties:
        id:
          type: string
          title: Flow Spec ID.
          description: >
            The flow spec id of the destination that user wants to connect to.
            To retrieve the flow spec ID, perform a GET operation on the flowspecs
            endpoint, as shown in the [flow specs API reference documentation](https://developer.adobe.com/experience-platform-apis/references/flow-service/#operation/retrieveFlowSpec).
            The flow spec ID of the destination that you are looking to connect and activate segments to.
            To retrieve the flow spec ID, perform a `GET` operation on the `flowspecs` endpoint, as shown in the [flow specs API reference documentation](https://developer.adobe.com/experience-platform-apis/references/flow-service/#operation/retrieveFlowSpec). 
            <br>For your reference, see below the flow spec IDs for commonly used batch destinations:<br>
            <ul><li>All cloud storage destinations (Amazon S3, SFTP, Azure Blob) and Oracle Eloqua: `71471eba-b620-49e4-90fd-23f1fa0174d8`</li><li>Oracle Responsys: `51d675ce-e270-408d-91fc-22717bdf2148` </li><li>Salesforce Marketing Cloud: `493b2bd6-26e4-4167-ab3b-5e910bba44f0` </li></ul>
    SourceConnectionIds:
      type: array
      title: Source Connection IDs
      description: >
        Add one source connection ID, which enables the connection to your Experience Platform data. Follow the step
        [Connect to your Experience Platform data](https://experienceleague.adobe.com/docs/experience-platform/destinations/api/connect-activate-batch-destinations.html?lang=en#connect-to-your-experience-platform-data) to learn how to obtain a source connection ID.
      items:
        type: string
        
    TargetConnectionIds:
      type: array
      title: Target Connection IDs
      description: >
        Add one target connection ID, which enables the connection to your batch destination. Follow the step
        [Connect to your batch destination](https://experienceleague.adobe.com/docs/experience-platform/destinations/api/connect-activate-batch-destinations.html?lang=en#connect-to-batch-destination)to learn how to obtain a target connection ID.
      items:
        type: string
          
    Patch_Flow_Request:
      type: array
      title: Patch Flow Request
      description: API Request for a PATCH operation.
      items:
        $ref: '#/components/schemas/PatchFlowItem'
    
    PatchFlowItem:
      type: object
      title: Patch Command
      description: A json patch command as per the RFC - https://datatracker.ietf.org/doc/html/rfc6902
      required:
        - op
        - path
        - value
      properties:
        op:
          type: string
          title: PATCH operation
          enum: [ add, replace, delete, remove ]
        path:
          type: string
          title: Path
          description: A json xpath where the value has to be added/updated/removed.
        value:
          oneOf:
            - $ref: '#/components/schemas/BatchSegmentSelector'
            - $ref: '#/components/schemas/BatchProfileSelector'
      
    Patch_Flow_Response:
      type: object
      title: Patch Flow Response
      description: API response for a successful PATCH operation.
      properties:
        id:
          type: string
          title: Flow ID
          description: The dataflow ID for which the API request was made.
        etag:
          type: string
          title: E-Tag
          description: An updated etag for the dataflow ID.
          
    ErrorResponse:
      type: object

    Flow_Runs:
      type: object
      properties:
        items:
          type: array
          items: 
            $ref: '#/components/schemas/Flow_Run'
    
    Flow_Run:
      type: object
      title: Batch Flow Run
      description: A data model representing a flow run entity.
      required:
        - id
        - flowId
        - createdClient
        - updatedClient
        - createdBy
        - updatedBy
        - imsOrgId
        - sandboxId
        - sandboxName
        - metrics
      properties:
        id:
          type: string
          title: Flow Run Id
          description: A guid representing the dataflow run id.
        flowId:
          type: string
          title: Flow Id
          description: A guid representing the dataflow id.
        createdClient:
          type: string
          title: Created client
          description: IMS client who created the dataflow run.
        updatedClient:
          type: string
          title: Updated client
          description: IMS client who updated the dataflow run.
        createdBy:
          type: string
          title: Created User
          description: IMS user who created the dataflow run. In case of service tokens created by is same as created clients.
        updatedBy:
          type: string
          title: Updated User
          description: IMS user who updated the dataflow run. In case of service tokens created by is same as created clients.
        imsOrgId:
          type: string
          title: Created client 
          description: IMS client who created the dataflow run.
        sandboxId:
          type: string
          title: Created client
          description: IMS client who created the dataflow run
        sandboxName:
          type: string
          title: Created client
          description: IMS client who created the dataflow run.
        metrics:
          $ref: '#/components/schemas/FlowRunMetrics'
    
    FlowRunMetrics:
      type: object
      properties:
        durationSummary:
          $ref: '#/components/schemas/DurationSummary'
        latencySummary:
          $ref: '#/components/schemas/LatencySummary'
        sizeSummary:
          $ref: '#/components/schemas/SizeSummary'
        recordSummary:
          $ref: '#/components/schemas/RecordSummary'
        fileSummary:
          $ref: '#/components/schemas/FileSummary'
        statusSummary:
          $ref: '#/components/schemas/StatusSummary'
    
    DurationSummary:
      type: object
      description: Model for capturing duration metrics.
      title: Duration Summary
      properties:
        startedAtUTC:
          type: integer
          description: Epoch in milliseconds when the run/activity started.
          title: Started Time UTC
        stoppedAtUTC:
          type: integer
          description: Epoch in milliseconds when the run/activity stopped.
          title: Stopped Time UTC
        extensions:
          $ref: '#/components/schemas/Extensions'
    
    Extensions:
      type: object
      description: Generic property bag for details.
      title: Extensions
      additionalProperties:
        type: object
        maxProperties: 20
  
    FileSummary:
      type: object
      description: Model for capturing file metrics.
      title: File Summary
      properties:
        inputFileCount:
          type: integer
          description: Total number of input files.
          title: Input File Count
        outputFileCount:
          type: integer
          description: Total number of output files.
          title: Output File Count
        skippedFileCount:
          type: integer
          description: Total number of skipped files.
          title: Skipped File Count
        failedFileCount:
          type: integer
          description: Total number of skipped files.
          title: Failed File Count
        extensions:
          $ref: '#/components/schemas/Extensions'
   
    Info:
      type: object
      description: Model to capture details for a particular action take, for ex, failed records, skipped records etc.
      title: Info
      properties:
        code:
          type: string
          description: Standardized platform code.
          title: Info Code
          pattern: ([A-Z]{3,6})-([0-9]{3,6})-([1-5]{1}[0-9]{2})
        message:
          type: string
          description: Detailed message.
          title: Error Message
        count:
          type: integer
          description: Number of occurrences for current info code.
          title: Info Count
        type:
          type: string
          description: Error type
          enum:
            - Error
            - Warning
  
    LatencySummary:
      type: object
      description: Model for capturing latency metrics.
      title: Latency Summary
      properties:
        minMs:
          type: integer
          description: Minimum latency observed in milliseconds
          title: Minimum latency
        maxMs:
          type: integer
          description: Maximum latency observed in milliseconds
          title: Maximum latency
        avgMs:
          type: integer
          description: Average latency observed in milliseconds
          title: Average latency
        extensions:
          $ref: '#/components/schemas/Extensions'
  
    RecordSummary:
      type: object
      description: Model for capturing record metrics.
      title: Record Summary
      properties:
        inputRecordCount:
          type: integer
          description: Total records in input.
          title: Input Record Count
        createdRecordCount:
          type: integer
          description: Total records created.
          title: Created Record Count
        updatedRecordCount:
          type: integer
          description: Total records updated.
          title: Updated Record Count
        deletedRecordCount:
          type: integer
          description: Total records deleted.
          title: Deleted Record Count
        skippedRecordCount:
          type: integer
          description: Total records skipped.
          title: Skipped Record Count
        failedRecordCount:
          type: integer
          description: Total records failed.
          title: Failed Record Count
        warningRecordCount:
          type: integer
          description: Total records that triggered warnings.
          title: Warning Record Count
        failedInfo:
          type: array
          description: Info about failed records.
          title: Failed Info
          items:
            $ref: '#/components/schemas/Info'
        skippedInfo:
          type: array
          description: Info about skipped records records.
          title: Failed Info
          items:
            $ref: '#/components/schemas/Info'
        warningInfo:
          type: array
          description: Info about warning records.
          title: Warning Info
          items:
            $ref: '#/components/schemas/Info'
        extensions:
          $ref: '#/components/schemas/Extensions'
  
    SizeSummary:
      type: object
      description: Model for capturing data size metrics.
      title: Size Summary
      properties:
        inputBytes:
          type: integer
          description: Total bytes in input.
          title: Input Bytes
        outputBytes:
          type: integer
          description: Total bytes in output.
          title: Output Bytes
        skippedBytes:
          type: integer
          description: Total bytes which were skipped.
          title: Skipped Bytes
        failedBytes:
          type: integer
          description: Total bytes which failed.
          title: Failed Bytes
        extensions:
          $ref: '#/components/schemas/Extensions'
    
    StatusSummary:
      type: object
      description: Model for capturing status details.
      title: Status Summary
      properties:
        status:
          type: string
          description: Status representing the current state of the activity report.
          enum:
            - Success
            - Processing
            - Waiting
            - Failed
        errors:
          type: array
          description: Info about errors.
          title: Failed Info
          items:
            $ref: '#/components/schemas/Info'
        extensions:
          $ref: '#/components/schemas/Extensions'
    
  examples:
    Batch_Flow_Daily_Full_Once_Scheduled:
      summary: Batch Destination (mode=Daily Full, frequency=Once, trigger=Scheduled)
      value:
        items:
          - id: ca5c6e9a-8559-4a08-97a5-f15b756da600
            createdAt: 1658340453699
            updatedAt: 1658430188496
            createdBy: 0A4334FA556585B77F000101@AdobeID
            updatedBy: acp_foundation_connectors@AdobeID
            createdClient: exc_app
            updatedClient: acp_foundation_connectors
            sandboxId: 6ef74723-3ee7-46a4-b747-233ee7a6a41a
            sandboxName: vedhera-do-not-use-or-delete
            imsOrgId: 5555467B5D8013E50A494220@AdobeOrg
            name: Documentation S3 Destination
            description: Documentation S3 Destination
            flowSpec:
              id: 71471eba-b620-49e4-90fd-23f1fa0174d8
              version: '1.0'
            state: enabled
            version: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
            etag: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
            sourceConnectionIds:
              - f3a5e232-eba3-428b-aa69-921d122d5db5
            targetConnectionIds:
              - 54d575d8-43c9-4d3d-aec5-b033e4189f4a
            inheritedAttributes:
              properties:
                isDestinationFlow: true
              sourceConnections:
                - id: f3a5e232-eba3-428b-aa69-921d122d5db5
                  connectionSpec:
                    id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                    version: '1.0'
                  baseConnection:
                    id: a9ae9a98-950d-468f-ac28-bc42bcd55d78
                    connectionSpec:
                      id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                      version: '1.0'
                  typeInfo:
                    type: ProfileFragments
                    id: ups
              targetConnections:
                - id: 54d575d8-43c9-4d3d-aec5-b033e4189f4a
                  connectionSpec:
                    id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                    version: '1.0'
                  baseConnection:
                    id: 459779de-6f0a-46dd-9b64-10121316a8d9
                    connectionSpec:
                      id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                      version: '1.0'
            transformations:
              - name: GeneralTransform
                params:
                  profileSelectors:
                    selectors:
                      - type: JSON_PATH
                        value:
                          path: person.name.firstName
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: person.name.firstName
                            destination: person.name.firstName
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: person.name.firstName
                            destinationXdmPath: person.name.firstName
                      - type: JSON_PATH
                        value:
                          path: person.name.lastName
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: person.name.lastName
                            destination: person.name.lastName
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: person.name.lastName
                            destinationXdmPath: person.name.lastName
                      - type: JSON_PATH
                        value:
                          path: personalEmail.address
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: personalEmail.address
                            destination: personalEmail.address
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: personalEmail.address
                            destinationXdmPath: personalEmail.address
                      - type: JSON_PATH
                        value:
                          path: segmentMembership.status
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: segmentMembership.status
                            destination: segmentMembership.status
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: segmentMembership.status
                            destinationXdmPath: segmentMembership.status
                    mandatoryFields:
                      - person.name.firstName
                      - person.name.lastName
                    primaryFields:
                      - fieldType: ATTRIBUTE
                        attributePath: personalEmail.address
                  segmentSelectors:
                    selectors:
                      - type: PLATFORM_SEGMENT
                        value:
                          id: 979558ae-a8ba-4e6e-b6ba-95c0a523b44a
                          name: Combined First and Last Name Segment
                          description: ''
                          filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                          exportMode: DAILY_FULL_EXPORT
                          schedule:
                            frequency: ONCE
                            triggerType: SCHEDULED
                            startDate: '2022-07-22'
                            startTime: '23:00'
                          createTime: '1658344069'
                          updateTime: '1658427026'
            runs: /runs?property=flowId==ca5c6e9a-8559-4a08-97a5-f15b756da600
            lastOperation:
              started: 1658427025696
              updated: 1658427031832
              percentCompleted: 100
              status:
                value: completed
                properties: null
                errors: []
              ops:
                - op: add
                  path: /transformations/0/params/segmentSelectors/selectors/-
                  value:
                    type: PLATFORM_SEGMENT
                    value:
                      id: 979558ae-a8ba-4e6e-b6ba-95c0a523b44a
                      name: Combined First and Last Name Segment
                      description: ''
                      filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                      exportMode: DAILY_FULL_EXPORT
                      schedule:
                        startDate: '2022-07-22'
                        frequency: ONCE
                        startTime: '23:00'
                        triggerType: SCHEDULED
              operation: update
            lastRunDetails:
              id: daa87aaa-6969-458d-bc41-609c52ebc2b1
              state: success
              startedAtUTC: 1658430155398
              completedAtUTC: 1658430160403
    
    Batch_Flow_Daily_Full_Once_Chained:
      summary: Batch Destination (mode=Daily Full, frequency=Once, trigger=chained)
      value:
        items:
          - id: ca5c6e9a-8559-4a08-97a5-f15b756da600
            createdAt: 1658340453699
            updatedAt: 1658430188496
            createdBy: 0A4334FA556585B77F000101@AdobeID
            updatedBy: acp_foundation_connectors@AdobeID
            createdClient: exc_app
            updatedClient: acp_foundation_connectors
            sandboxId: 6ef74723-3ee7-46a4-b747-233ee7a6a41a
            sandboxName: vedhera-do-not-use-or-delete
            imsOrgId: 5555467B5D8013E50A494220@AdobeOrg
            name: Documentation S3 Destination
            description: Documentation S3 Destination
            flowSpec:
              id: 71471eba-b620-49e4-90fd-23f1fa0174d8
              version: '1.0'
            state: enabled
            version: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
            etag: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
            sourceConnectionIds:
              - f3a5e232-eba3-428b-aa69-921d122d5db5
            targetConnectionIds:
              - 54d575d8-43c9-4d3d-aec5-b033e4189f4a
            inheritedAttributes:
              properties:
                isDestinationFlow: true
              sourceConnections:
                - id: f3a5e232-eba3-428b-aa69-921d122d5db5
                  connectionSpec:
                    id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                    version: '1.0'
                  baseConnection:
                    id: a9ae9a98-950d-468f-ac28-bc42bcd55d78
                    connectionSpec:
                      id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                      version: '1.0'
                  typeInfo:
                    type: ProfileFragments
                    id: ups
              targetConnections:
                - id: 54d575d8-43c9-4d3d-aec5-b033e4189f4a
                  connectionSpec:
                    id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                    version: '1.0'
                  baseConnection:
                    id: 459779de-6f0a-46dd-9b64-10121316a8d9
                    connectionSpec:
                      id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                      version: '1.0'
            transformations:
              - name: GeneralTransform
                params:
                  profileSelectors:
                    selectors:
                      - type: JSON_PATH
                        value:
                          path: person.name.firstName
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: person.name.firstName
                            destination: person.name.firstName
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: person.name.firstName
                            destinationXdmPath: person.name.firstName
                      - type: JSON_PATH
                        value:
                          path: person.name.lastName
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: person.name.lastName
                            destination: person.name.lastName
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: person.name.lastName
                            destinationXdmPath: person.name.lastName
                      - type: JSON_PATH
                        value:
                          path: personalEmail.address
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: personalEmail.address
                            destination: personalEmail.address
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: personalEmail.address
                            destinationXdmPath: personalEmail.address
                      - type: JSON_PATH
                        value:
                          path: segmentMembership.status
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: segmentMembership.status
                            destination: segmentMembership.status
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: segmentMembership.status
                            destinationXdmPath: segmentMembership.status
                    mandatoryFields:
                      - person.name.firstName
                      - person.name.lastName
                    primaryFields:
                      - fieldType: ATTRIBUTE
                        attributePath: personalEmail.address
                  segmentSelectors:
                    selectors:
                      - type: PLATFORM_SEGMENT
                        value:
                          id: d47e9c03-ef9a-491c-be24-7a985c0e221d
                          name: Chaining Segment May 23 - 1
                          description: test Chaining Segment May 23 - 1
                          filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                          exportMode: DAILY_FULL_EXPORT
                          schedule:
                            frequency: ONCE
                            triggerType: AFTER_SEGMENT_EVAL
                            startDate: '2022-07-21'
                          createTime: '1658344069'
                          updateTime: '1658427026'
            runs: /runs?property=flowId==ca5c6e9a-8559-4a08-97a5-f15b756da600
            lastOperation:
              started: 1658427025696
              updated: 1658427031832
              percentCompleted: 100
              status:
                value: completed
                properties: null
                errors: []
              ops:
                - op: add
                  path: /transformations/0/params/segmentSelectors/selectors/-
                  value:
                    type: PLATFORM_SEGMENT
                    value:
                      id: d47e9c03-ef9a-491c-be24-7a985c0e221d
                      name: Chaining Segment May 23 - 1
                      description: test Chaining Segment May 23 - 1
                      filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                      exportMode: DAILY_FULL_EXPORT
                      schedule:
                        startDate: '2022-07-21'
                        frequency: ONCE
                        triggerType: AFTER_SEGMENT_EVAL
              operation: update
            lastRunDetails:
              id: daa87aaa-6969-458d-bc41-609c52ebc2b1
              state: success
              startedAtUTC: 1658430155398
              completedAtUTC: 1658430160403
      
    Batch_Flow_Daily_Full_Scheduled:
      summary: Batch Destination (mode=Daily Full, frequency=Daily, trigger=Scheduled)
      value:
        items:
          - id: ca5c6e9a-8559-4a08-97a5-f15b756da600
            createdAt: 1658340453699
            updatedAt: 1658430188496
            createdBy: 0A4334FA556585B77F000101@AdobeID
            updatedBy: acp_foundation_connectors@AdobeID
            createdClient: exc_app
            updatedClient: acp_foundation_connectors
            sandboxId: 6ef74723-3ee7-46a4-b747-233ee7a6a41a
            sandboxName: vedhera-do-not-use-or-delete
            imsOrgId: 5555467B5D8013E50A494220@AdobeOrg
            name: Documentation S3 Destination
            description: Documentation S3 Destination
            flowSpec:
              id: 71471eba-b620-49e4-90fd-23f1fa0174d8
              version: '1.0'
            state: enabled
            version: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
            etag: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
            sourceConnectionIds:
              - f3a5e232-eba3-428b-aa69-921d122d5db5
            targetConnectionIds:
              - 54d575d8-43c9-4d3d-aec5-b033e4189f4a
            inheritedAttributes:
              properties:
                isDestinationFlow: true
              sourceConnections:
                - id: f3a5e232-eba3-428b-aa69-921d122d5db5
                  connectionSpec:
                    id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                    version: '1.0'
                  baseConnection:
                    id: a9ae9a98-950d-468f-ac28-bc42bcd55d78
                    connectionSpec:
                      id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                      version: '1.0'
                  typeInfo:
                    type: ProfileFragments
                    id: ups
              targetConnections:
                - id: 54d575d8-43c9-4d3d-aec5-b033e4189f4a
                  connectionSpec:
                    id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                    version: '1.0'
                  baseConnection:
                    id: 459779de-6f0a-46dd-9b64-10121316a8d9
                    connectionSpec:
                      id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                      version: '1.0'
            transformations:
              - name: GeneralTransform
                params:
                  profileSelectors:
                    selectors:
                      - type: JSON_PATH
                        value:
                          path: person.name.firstName
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: person.name.firstName
                            destination: person.name.firstName
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: person.name.firstName
                            destinationXdmPath: person.name.firstName
                      - type: JSON_PATH
                        value:
                          path: person.name.lastName
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: person.name.lastName
                            destination: person.name.lastName
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: person.name.lastName
                            destinationXdmPath: person.name.lastName
                      - type: JSON_PATH
                        value:
                          path: personalEmail.address
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: personalEmail.address
                            destination: personalEmail.address
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: personalEmail.address
                            destinationXdmPath: personalEmail.address
                      - type: JSON_PATH
                        value:
                          path: segmentMembership.status
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: segmentMembership.status
                            destination: segmentMembership.status
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: segmentMembership.status
                            destinationXdmPath: segmentMembership.status
                    mandatoryFields:
                      - person.name.firstName
                      - person.name.lastName
                    primaryFields:
                      - fieldType: ATTRIBUTE
                        attributePath: personalEmail.address
                  segmentSelectors:
                    selectors:
                      - type: PLATFORM_SEGMENT
                        value:
                          id: 6eeafdd5-e6db-485a-af30-e663c9b26bff
                          name: Female profile
                          description: ''
                          filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                          exportMode: DAILY_FULL_EXPORT
                          schedule:
                            frequency: DAILY
                            triggerType: SCHEDULED
                            startDate: '2022-07-20'
                            endDate: '2022-07-30'
                            startTime: '21:00'
                          createTime: '1658344069'
                          updateTime: '1658427026'
            runs: /runs?property=flowId==ca5c6e9a-8559-4a08-97a5-f15b756da600
            lastOperation:
              started: 1658427025696
              updated: 1658427031832
              percentCompleted: 100
              status:
                value: completed
                properties: null
                errors: []
              ops:
                - op: add
                  path: /transformations/0/params/segmentSelectors/selectors/-
                  value:
                    type: PLATFORM_SEGMENT
                    value:
                      id: 6eeafdd5-e6db-485a-af30-e663c9b26bff
                      name: Female profile
                      description: ''
                      filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                      exportMode: DAILY_FULL_EXPORT
                      schedule:
                        startDate: '2022-07-20'
                        frequency: DAILY
                        endDate: '2022-07-30'
                        startTime: '21:00'
                        triggerType: SCHEDULED
              operation: update
            lastRunDetails:
              id: daa87aaa-6969-458d-bc41-609c52ebc2b1
              state: success
              startedAtUTC: 1658430155398
              completedAtUTC: 1658430160403
        
    Batch_Flow_Daily_Full_Chained:
      summary: Batch Destination (mode=Daily Full, frequency=Daily, trigger=Chained)
      value:
        items:
          - id: ca5c6e9a-8559-4a08-97a5-f15b756da600
            createdAt: 1658340453699
            updatedAt: 1658430188496
            createdBy: 0A4334FA556585B77F000101@AdobeID
            updatedBy: acp_foundation_connectors@AdobeID
            createdClient: exc_app
            updatedClient: acp_foundation_connectors
            sandboxId: 6ef74723-3ee7-46a4-b747-233ee7a6a41a
            sandboxName: vedhera-do-not-use-or-delete
            imsOrgId: 5555467B5D8013E50A494220@AdobeOrg
            name: Documentation S3 Destination
            description: Documentation S3 Destination
            flowSpec:
              id: 71471eba-b620-49e4-90fd-23f1fa0174d8
              version: '1.0'
            state: enabled
            version: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
            etag: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
            sourceConnectionIds:
              - f3a5e232-eba3-428b-aa69-921d122d5db5
            targetConnectionIds:
              - 54d575d8-43c9-4d3d-aec5-b033e4189f4a
            inheritedAttributes:
              properties:
                isDestinationFlow: true
              sourceConnections:
                - id: f3a5e232-eba3-428b-aa69-921d122d5db5
                  connectionSpec:
                    id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                    version: '1.0'
                  baseConnection:
                    id: a9ae9a98-950d-468f-ac28-bc42bcd55d78
                    connectionSpec:
                      id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                      version: '1.0'
                  typeInfo:
                    type: ProfileFragments
                    id: ups
              targetConnections:
                - id: 54d575d8-43c9-4d3d-aec5-b033e4189f4a
                  connectionSpec:
                    id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                    version: '1.0'
                  baseConnection:
                    id: 459779de-6f0a-46dd-9b64-10121316a8d9
                    connectionSpec:
                      id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                      version: '1.0'
            transformations:
              - name: GeneralTransform
                params:
                  profileSelectors:
                    selectors:
                      - type: JSON_PATH
                        value:
                          path: person.name.firstName
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: person.name.firstName
                            destination: person.name.firstName
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: person.name.firstName
                            destinationXdmPath: person.name.firstName
                      - type: JSON_PATH
                        value:
                          path: person.name.lastName
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: person.name.lastName
                            destination: person.name.lastName
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: person.name.lastName
                            destinationXdmPath: person.name.lastName
                      - type: JSON_PATH
                        value:
                          path: personalEmail.address
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: personalEmail.address
                            destination: personalEmail.address
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: personalEmail.address
                            destinationXdmPath: personalEmail.address
                      - type: JSON_PATH
                        value:
                          path: segmentMembership.status
                          operator: EXISTS
                          mapping:
                            sourceType: text/x.schema-path
                            source: segmentMembership.status
                            destination: segmentMembership.status
                            identity: false
                            primaryIdentity: false
                            functionVersion: 0
                            sourceAttribute: segmentMembership.status
                            destinationXdmPath: segmentMembership.status
                    mandatoryFields:
                      - person.name.firstName
                      - person.name.lastName
                    primaryFields:
                      - fieldType: ATTRIBUTE
                        attributePath: personalEmail.address
                  segmentSelectors:
                    selectors:
                      - type: PLATFORM_SEGMENT
                        value:
                          id: eda67d3d-89a4-4947-9d02-2f8c0a5a8223
                          name: Combined Segment - Hello World
                          description: ''
                          filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                          exportMode: DAILY_FULL_EXPORT
                          schedule:
                            frequency: DAILY
                            triggerType: AFTER_SEGMENT_EVAL
                            startDate: '2022-07-20'
                            endDate: '2022-07-30'
                          createTime: '1658344069'
                          updateTime: '1658427026'
            runs: /runs?property=flowId==ca5c6e9a-8559-4a08-97a5-f15b756da600
            lastOperation:
              started: 1658427025696
              updated: 1658427031832
              percentCompleted: 100
              status:
                value: completed
                properties: null
                errors: []
              ops:
                - op: add
                  path: /transformations/0/params/segmentSelectors/selectors/-
                  value:
                    type: PLATFORM_SEGMENT
                    value:
                      id: eda67d3d-89a4-4947-9d02-2f8c0a5a8223
                      name: Combined Segment - Hello World
                      description: ''
                      filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                      exportMode: DAILY_FULL_EXPORT
                      schedule:
                        startDate: '2022-07-20'
                        frequency: DAILY
                        endDate: '2022-07-30'
                        triggerType: AFTER_SEGMENT_EVAL
              operation: update
            lastRunDetails:
              id: daa87aaa-6969-458d-bc41-609c52ebc2b1
              state: success
              startedAtUTC: 1658430155398
              completedAtUTC: 1658430160403
   
    Batch_Flow_First_Full_Then_Incremental_DAILY:
     summary: Batch Destination (mode=First Full Then Incremental, frequency=Daily)
     value:
       items:
         - id: ca5c6e9a-8559-4a08-97a5-f15b756da600
           createdAt: 1658340453699
           updatedAt: 1658430188496
           createdBy: 0A4334FA556585B77F000101@AdobeID
           updatedBy: acp_foundation_connectors@AdobeID
           createdClient: exc_app
           updatedClient: acp_foundation_connectors
           sandboxId: 6ef74723-3ee7-46a4-b747-233ee7a6a41a
           sandboxName: vedhera-do-not-use-or-delete
           imsOrgId: 5555467B5D8013E50A494220@AdobeOrg
           name: Documentation S3 Destination
           description: Documentation S3 Destination
           flowSpec:
             id: 71471eba-b620-49e4-90fd-23f1fa0174d8
             version: '1.0'
           state: enabled
           version: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
           etag: '"04001b6d-0000-0200-0000-62d9a2ec0000"'
           sourceConnectionIds:
             - f3a5e232-eba3-428b-aa69-921d122d5db5
           targetConnectionIds:
             - 54d575d8-43c9-4d3d-aec5-b033e4189f4a
           inheritedAttributes:
             properties:
               isDestinationFlow: true
             sourceConnections:
               - id: f3a5e232-eba3-428b-aa69-921d122d5db5
                 connectionSpec:
                   id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                   version: '1.0'
                 baseConnection:
                   id: a9ae9a98-950d-468f-ac28-bc42bcd55d78
                   connectionSpec:
                     id: 8a9c3494-9708-43d7-ae3f-cda01e5030e1
                     version: '1.0'
                 typeInfo:
                   type: ProfileFragments
                   id: ups
             targetConnections:
               - id: 54d575d8-43c9-4d3d-aec5-b033e4189f4a
                 connectionSpec:
                   id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                   version: '1.0'
                 baseConnection:
                   id: 459779de-6f0a-46dd-9b64-10121316a8d9
                   connectionSpec:
                     id: 4890fc95-5a1f-4983-94bb-e060c08e3f81
                     version: '1.0'
           transformations:
             - name: GeneralTransform
               params:
                 profileSelectors:
                   selectors:
                     - type: JSON_PATH
                       value:
                         path: person.name.firstName
                         operator: EXISTS
                         mapping:
                           sourceType: text/x.schema-path
                           source: person.name.firstName
                           destination: person.name.firstName
                           identity: false
                           primaryIdentity: false
                           functionVersion: 0
                           sourceAttribute: person.name.firstName
                           destinationXdmPath: person.name.firstName
                     - type: JSON_PATH
                       value:
                         path: person.name.lastName
                         operator: EXISTS
                         mapping:
                           sourceType: text/x.schema-path
                           source: person.name.lastName
                           destination: person.name.lastName
                           identity: false
                           primaryIdentity: false
                           functionVersion: 0
                           sourceAttribute: person.name.lastName
                           destinationXdmPath: person.name.lastName
                     - type: JSON_PATH
                       value:
                         path: personalEmail.address
                         operator: EXISTS
                         mapping:
                           sourceType: text/x.schema-path
                           source: personalEmail.address
                           destination: personalEmail.address
                           identity: false
                           primaryIdentity: false
                           functionVersion: 0
                           sourceAttribute: personalEmail.address
                           destinationXdmPath: personalEmail.address
                     - type: JSON_PATH
                       value:
                         path: segmentMembership.status
                         operator: EXISTS
                         mapping:
                           sourceType: text/x.schema-path
                           source: segmentMembership.status
                           destination: segmentMembership.status
                           identity: false
                           primaryIdentity: false
                           functionVersion: 0
                           sourceAttribute: segmentMembership.status
                           destinationXdmPath: segmentMembership.status
                   mandatoryFields:
                     - person.name.firstName
                     - person.name.lastName
                   primaryFields:
                     - fieldType: ATTRIBUTE
                       attributePath: personalEmail.address
                 segmentSelectors:
                   selectors:
                     - type: PLATFORM_SEGMENT
                       value:
                         id: 4afb50cb-3fb0-4c06-bc90-d3b66cb7f5af
                         name: Batch Monitoring Testing Segment
                         description: ''
                         filenameTemplate: '%DESTINATION_NAME%_%SEGMENT_ID%_%DATETIME(YYYYMMdd_HHmmss)%'
                         exportMode: FIRST_FULL_THEN_INCREMENTAL
                         schedule:
                           frequency: DAILY
                           triggerType: SCHEDULED
                           startDate: '2022-07-20'
                           endDate: '2022-07-29'
                           startTime: '20:00'
                         createTime: '1658344069'
                         updateTime: '1658427026'
           runs: /runs?property=flowId==ca5c6e9a-8559-4a08-97a5-f15b756da600
           lastOperation:
             started: 1658427025696
             updated: 1658427031832
             percentCompleted: 100
             status:
               value: completed
               properties: null
               errors: []
             ops:
               - op: add
[...]
