swagger: '2.0'
info: 
  version: '1.0'
  title: Flow Service API - Sources
  description: >-
    Adobe Experience Platform allows data to be ingested from external sources while providing you with the ability to structure, label, and enhance incoming data using Platform services. You can ingest data from a variety of sources such as Adobe applications, cloud-based storages, databases, and many others. The service provides a RESTful API from which all supported sources are connectable.

    >**NOTE**: Refer to [Flow Service API - Destinations](https://developer.adobe.com/experience-platform-apis/references/destinations/) if you are looking for API documentation to perform operations on *destinations* in Experience Platform.

    - **Related documentation**:
      - [Sources documentation](https://www.adobe.com/go/sources-overview-en)

    - **Visualize API calls with Postman** (a free, third-party software):
      - [Flow Service API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Flow%20Service%20API.postman_collection.json)
      - [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      - [Steps for importing environments and collections in Postman](https://learning.postman.com/docs/getting-started/importing-and-exporting-data/)

    - **API paths**:
      - PLATFORM Gateway URL: https://<span>platform.adobe.io/
      - Base path for this API: /data/foundation/flowservice
      - Example of a complete path: https://<span>platform.adobe.io/data/foundation/flowservice/connections

    - **Required headers**:
      - All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      - All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      - All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

    - **API error handling**:
        - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#request-header-errors).

    - **Sorting and filtering responses**:
        - When performing listing (GET) requests in the Flow Service API, you can use query parameters to [sort and filter responses](https://experienceleague.adobe.com/docs/experience-platform/dataflows/api/sort-and-filter.html?lang=en).

host: platform.adobe.io
basePath: /data/foundation/flowservice
tags:
  - name: Connections
    description: Base connections retain information between your source and Adobe Experience Platform. They include metadata, a partial view of the credentials used to authenticate a given source, and the unique base connection ID that corresponds to the queried connection. The base connection ID represents your authenticated connection and allows you to explore and inspect the type, structure, and contents of the data that you want to bring to Experience Platform. The base connection ID is required to create a source connection. An instance of a base connection is specific to an organization.
  - name: Connection specs 
    description: Connection specifications retain the connector properties of a given source. A connection spec can be divided into three distinct sections, authentication specifications (authSpec), source specifications (sourceSpec), and explore specifications (exploreSpec). The authSpec defines the authentication type(s) that you can use to connect your source to Experience Platform. The sourceSpec defines how you can interact with your source, including pagination types, scheduling formats, and query parameters that a given source supports. The sourceSpec also includes the schema that defines the attributes of a source. The exploreSpec defines the structure of returned data when a source is queried against. Connection specs include a connection spec ID. This ID is fixed and each source on Experience Platform has its own fixed connection spec ID. This ID is required to create a base connection and a source connection. Connection specs are organization agnostic.
  - name: Flows
    description: Flows (or dataflows) represent the transfer of data between source and target. They include details on the transformations applied to your data, the current status of your flow, and details on the most recent run iteration of your flow. Flows also contain metadata, attributes inherited from the base, source, and target connections, as well as a unique flow ID. An instance of a flow is specific to an organization.
  - name: Flow specs 
    description: Flow specs retain information that define a flow. They include information on how a flow can be scheduled, whether a flow supports options like partial ingestion and error diagnostics, as well as the parameters required for different mappings from source to target. Flow specs also include information on how a flow run can be created and a list of connection spec IDs and target connection IDs that a given flow can support. Flow specs are organization agnostic.
  - name: Runs
    description: Runs (or flow runs) represent the instance of a flow execution. For example, if a flow is scheduled to run hourly at 9 AM, 10 AM, and 11 AM, then you would have three instances of a run. Runs retain metric summaries on your flow executions, including information on the duration of the run, size of the data, file count, and a status update. An instance of a run is specific to an organization.
  - name: Source connections
    description: Source connections represent the incoming data from a given source. Source connections define where the data is coming from and in what format. Source connections also refer to the base connection for authentication information. For file-based sources like cloud storages, source connections can define additional information on the data transfer, such as column delimiter, encoding type, compression type, regular expressions, and whether ingestion is to be done recursively. An instance of a source connection is specific to an organization.
  - name: Target connections
    description: Target connections represent the outgoing data from a source to a location such as Experience Platform or the data lake. Target connections contain information on your schema, dataset, and the destination of your data. Target connections also include a unique target connection ID that is required in order to create a flow. An instance of a target connection is specific to an organization.

paths:
  /connections:
    get:
      tags:
        - Connections
      summary: List connections
      description: Retrieve a list of base connections in your organization by making a GET request to the `/connections` endpoint.
      operationId: listConnections
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/orderby'
        - $ref: '#/parameters/continuationToken'
        - $ref: '#/parameters/count'
      responses:
        '200':
          description: Successful operation. A successful response returns a list of base connections that match the request parameters.
          schema:
            $ref: '#/definitions/ConnectionListResponse'
        '401':
          description: The The OAuth token is missing.
        '503':
          description: The service is unavailable.
    post:
      tags:
        - Connections
      summary: Create a new connection
      description: Create a new base connection by making a POST request to the `/connections` endpoint while providing a name for your base connection, your source's corresponding authentication parameters, and your source's unique connection specification ID.
      operationId: createConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: body
          name: body
          description: >-
            - **name** - **(Required)** The name of your base connection. Ensure that the name of your base connection is descriptive as you can use this to look up information on your base connection.

            - **description** - An optional value that you can include to provide more information on your base connection.

            - **auth** - **(Required)** Contains information necessary to authenticate a base connection.
              - **specName** - **(Required)** Specifies the name of the the type of authentication to be used with the base connection.
              - **params** - **(Required)** Contains credentials and values necessary to authenticate and create a connection.
                          
            - **connectionSpec** - **(Required)** Contains information regarding the source's connection specification ID.
              - **id** - **(Required)** The specific connection specification ID associated with source.
              - **version** - Specifies the version of the connection specification ID. Omitting this value will default to the most recent version
            
          required: true
          schema:
            $ref: '#/definitions/CreateConnectionRequest'
      responses:
        '201':
          description: Returns a new base connection ID and its corresponding etag.
          examples:
            application/json:
              id: "69f188b6-af07-4587-8061-e94d34637b41"
              etag: "\"6802064a-0000-0200-0000-6387c6b90000\""
          headers:
            Location:
              description: Location of the newly created connection instance
              type: string
          schema:
            $ref: '#/definitions/CreateConnectionResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/connections/{BASE_CONNECTION_ID}':
    get:
      tags:
        - Connections
      summary: Retrieve a connection
      description: Retrieve a single base connection by making a GET request to the `/connections/{BASE_CONNECTION_ID}` endpoint while providing the ID of the base connection you want to retrieve.
      operationId: retrieveConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: BASE_CONNECTION_ID
          in: path
          description:
            "The ID of the base connection you want to retrieve."
          required: true
          type: string
      responses:
        '200':
          description: Returns details for the queried base connection in JSON format
          schema:
            $ref: '#/definitions/ConnectionListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/connections/{BASE_CONNECTION_ID}/test':
    get:
      tags:
        - Connections
      summary: Test a base connection's connectivity
      description: Test your base connection by making a GET request to the `/connections/{BASE_CONNECTION_ID}/test` endpoint while providing the ID of the base connection you want to test as part of the path parameters.
      operationId: testConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: BASE_CONNECTION_ID
          in: path
          description:
            "The ID of the base connection you want to test."
          required: true
          type: string
      responses:
        '200':
          description: Returns `true` if the queried base connection is valid. Returns `false` if the queried base connection is invalid.
          schema:
            $ref: '#/definitions/TestConnectionResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/connections/{BASE_CONNECTION_ID}/explore':
    get:
      tags:
        - Connections
      summary: Explore a connection's contents
      description: Explore the file structure and contents of a source by making a GET rquest to the `/connections/{BASE_CONNECTION_ID}/explore` endpoint while providing the ID of the base connection that you want to explore.
      operationId: getByConnectionId
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: BASE_CONNECTION_ID
          in: path
          description:
            "The ID of the connection you want to explore."
          required: true
          type: string
      responses:
        '200':
          description: Returns file structure of a specified base connection ID, including details regarding type, name, path and whether the file can be previewed or fetched.
          examples:
            application/json:
              items:
                - type: "folder"
                  name: "acme-customers"
                  path: "/acme-customers/"
                  canPreview: "false"
                  canFetchSchema: "false"
          schema:
            $ref: '#/definitions/ExploreConnectionResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/connections/{BASE_CONNECTION_ID}/':
    patch:
      tags:
        - Connections
      summary: Update an existing connection
      description: Update the information of your base connection by making PATCH request to the `/connections/{BASE_CONNECTION_ID}` endpoint while providing the ID of the base connection that you want to update.
      operationId: patchConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/if-match'
        - name: BASE_CONNECTION_ID
          in: path
          description:
            "The {BASE_CONNECTION_ID} you want to update."
          required: true
          type: string
        - in: body
          name: body
          description: >-
            **op** - **(Required)** The operation call used to define the action needed to update the connection. Operations include `add`, `replace`, and `remove`.
            
            **path** - (Optional) The path of the parameter to be updated.
            
            **value** - **(Required)** The new value you want to update your parameter with.
            
          required: true
          schema:
            $ref: '#/definitions/PatchInstruction'
      responses:
        '200':
          description: Connection successfully updated.
          examples:
            application/json:
              id: "69f188b6-af07-4587-8061-e94d34637b41"
              etag: "\"6802064a-0000-0200-0000-6387c6b90000\""
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
    delete:
      tags:
        - Connections
      summary: Delete an existing connection
      description: Delete a base connection by making a DELETE request to the `/connections/{BASE_CONNECTION_ID}` endpoint while providing the ID of the base connection that you want to delete.
      operationId: deleteConnection 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: BASE_CONNECTION_ID
          in: path
          description:
            "The ID of the connection you want to delete."
          required: true
          type: string
      responses:
        '204':
          description: Connection successfully deleted (No content).
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  /connectionSpecs:
    get:
      tags:
        - Connection specs
      summary: List connection specifications
      description: Retrieve a list of connection specifications in your organization by making a GET request to the `/connectionSpecs` endpoint.
      operationId: listConnectionSpecs
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/property'
      responses:
        '200':
          description: Returns a list of connection specifications that match the request parameters in JSON format.
          schema:
            $ref: '#/definitions/ConnectionSpecResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/connectionSpecs/{CONNECTION_SPEC_ID}':
    get:
      tags:
        - Connection specs
      summary: Retrieve a connection specification
      description: Retrieve a single connection specification by making a GET request to the `/connectionSpecs/{CONNECTION_SPEC_ID` endpoint while providing the ID of the connection specification that you want to retrieve.
      operationId: retrieveConnectionSpec
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - name: CONNECTION_SPEC_ID
          in: path
          description:
            "The ID of the connection specification that you want to retrieve."
          required: true
          type: string
      responses:
        '200':
          description: Returns details of specified connection specification that match the request parameters in JSON format.
          schema:
            $ref: '#/definitions/ConnectionSpecResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  /flows:
    get:
      tags:
        - Flows
      summary: List flows
      description: Retrieve a list of flows in your organization by making a GET request to the `/flows` endpoint.
      operationId: listFlows
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'        
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/orderby'
        - $ref: '#/parameters/continuationToken'
        - $ref: '#/parameters/count'
      responses:
        '200':
          description: Returns a list of flows that match the request parameteres in JSON format.
          schema:
            $ref: '#/definitions/FlowListResponse'
        '400':
          description: Header=[x-sandbox-id] not allowed with user token.
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
    post:
      tags:
        - Flows
      summary: Create a flow
      operationId: createFlow
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: body
          name: body
          description: >-
            - **name** - **(Required)** The name of the flow to be created.

            - **description** - (Optional) The description provides information and details regarding the flow to be created.
            
            - **flowSpec** - **(Required)** The flowSpec contains information regarding flow specifications, including its flow specification ID and version.
              - **id** - The specific flow specification ID used to create a flow.
              - **version** - Specifies the version of the flow specification ID. Omitting this value will default to the most recent version.
            
            - **sourceConnectionIds** - **(Required)** The ID of the source connection generated using the source's base connection ID and connection specification IDs.
            
            - **targetConnectionIds** - **(Required)** The ID of the target connection. This ID is needed to manage a destination connection to Platform.
            
            - **transformations** - **(Required)** Contains various transformations that will be done as part of the flow.
              - **name** - **(Required)** The name assigned to the transformation.
              - **params** - **(Required)** Contains information about the transformation that will be completed. Sources categorized as either CRM or relational database require the use of the "deltaColumn" param. Other categories do not.
              
            - **scheduleParams** - **(Required)** Contains information regarding the ingestion scheduling of the flow.
              - **startTime** - Designates the start time for flow in epoch time in seconds.
              - **frequency** - Designates the scheduled frequency of ingestion for a flow. Valid values include once, minute, hour, day, week.
              - **interval** - Designates the period between two consecutive flow runs. Its assigned value should be a non zero integer. Interval is not required when frequency is set as once, and should be set as equal or greater than 15 if frequency is set on a per minute basis. There are no constraints on interval for other frequency settings.
              - **backfill** - A boolean value that determines what data is initially ingested. If backfill is enabled, all current files in the specified path will be ingested during the first scheduled ingestion. If backfill is disabled, only the files that are loaded in between the first run of ingestion and the Start time will be ingested. Files loaded prior to Start time will not be ingested.
            
              
          required: true
          schema:
            $ref: '#/definitions/CreateFlowRequest'
      responses:
        '201':
          description: Returns the ID of the newly created flow and its corresponding etag.
          examples:
            application/json:
              id: "3d17a4ff-9e0a-4f7c-94bb-bc0b61a3a76d"
              etag: "\"7e05b480-0000-0200-0000-638e84a00000\""
          headers:
            Location:
              description: Location of the newly created flow instance.
              type: string
          schema:
            $ref: '#/definitions/CreateFlowResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/flows/{FLOW_ID}':
    get:
      tags:
        - Flows
      summary: Retrieve a flow's details
      description: Retrieve a single flow by making a GET request to the `/flows/{FLOW_ID}` endpoint while providing the ID of the flow you want to retrieve.
      operationId: retrieveFlow
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: FLOW_ID
          in: path
          description:
            "The flow entity with the corresponding ID."
          required: true
          type: string
      responses:
        '200':
          description: Returns the details of specified flow in JSON format.
          schema:
            $ref: '#/definitions/FlowListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.

    patch:
      tags:
        - Flows
      summary: Update a flow
      description: Update a flow's information by making a PATCH request to the `/flows/{FLOW_ID}` endpoint while providing the ID of the flow that you want to update. When updating a flow, you must also provide its corresponding etag as `if-match` in the header parameters.
      operationId: patchFlow
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/if-match'
        - name: FLOW_ID
          in: path
          description:
            "The ID of the flow you want to update."
          required: true
          type: string
        - in: body
          name: body
          description: >-
            - **op** - **(Required)** The operation call used to define the action needed to update the connection. Operations include `add`, `replace`, and `remove`.

            - **path** - (Optional) The path of the parameter to be updated.

            - **value** - **(Required)** The new value you want to update your parameter with.
            
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/PatchInstruction'
      responses:
        '200':
          description: The flow was successfully updated.
          schema:
            $ref: '#/definitions/CreateFlowResponse'
        '401':
          description: The OAuth token is missing.
        '403':
          description: Access is forbidden.
        '503':
          description: The service is unavailable.

    delete:
      tags:
        - Flows
      summary: Delete a flow
      description: Delete a flow by making a DELETE request to the `/flows/{FLOW_ID}` endpoint while providing the ID of the flow you want to delete.
      operationId: deleteByFlow 
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: FLOW_ID
          in: path
          description:
            "The ID of the flow you want to delete."
          required: true
          type: string
      responses:
        '204':
          description: Flow successfully deleted (No content).
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  /flowSpecs:
    get:
      tags:
        - Flow specs
      summary: List flow specifications
      description: Retrieve a list of flow specifications by making a GET request to the `/flowSpecs` endpoint.
      operationId: listFlowSpecs
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/property'
      responses:
        '200':
          description: Returns a list of flow specifications in JSON format.
          schema:
            $ref: '#/definitions/FlowSpecResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/flowSpecs/{FLOW_SPEC_ID}':
    get:
      tags:
        - Flow specs
      summary: Retrieve a flow specification
      description: Retrieve a single flow specification by making a GET request to the `/flowSpecs/{FLOW_SPEC_ID}` endpoint while providing the ID of the flow specification you want to retrieve.
      operationId: retrieveFlowSpec
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: FLOW_SPEC_ID
          in: path
          description: >-
            The flow spec with the corresponding ID.
          required: true
          type: string
      responses:
        '200':
          description: Returns details of specified flow specification in JSON format.
          schema:
            $ref: '#/definitions/FlowSpecResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  /runs:
    get:
      tags:
        - Runs
      summary: List flow runs
      operationId: listFlowRuns
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/orderby'
        - $ref: '#/parameters/continuationToken'
        - $ref: '#/parameters/count'
      responses:
        '200':
          description: Returns a list of runs in JSON format.
          schema:
            $ref: '#/definitions/FlowRunsListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
    post:
      tags:
        - Runs
      summary: Create a new run
      operationId: createFlowRun
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: body
          name: body
          description: >-
            - **status** - **(Required)** The state of the run.
            
            - **flowId** - **(Required)** The flowId associated with the run.
          required: true
          schema:
            $ref: '#/definitions/CreateFlowRunRequest'
      responses:
        '201':
          description: Returns new run ID and etag.
          examples:
            application/json:
              id: ae4532-fe4324-f34vsd32
          headers:
            Location:
              description: Location of the newly created run instance.
              type: string
          schema:
            $ref: '#/definitions/CreateFlowRunResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/runs/{RUN_ID}':
    get:
      tags:
        - Runs
      summary: Retrieve a flow run
      operationId: retrieveFlowRun
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: RUN_ID
          in: path
          description:
            "{The run with the corresponding ID.}"
          required: true
          type: string
      responses:
        '200':
          description: Returns details of specified run in JSON format.
          schema:
            $ref: '#/definitions/FlowRunsListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  /sourceConnections:
    post:
      tags:
        - Source connections
      summary: Create a new source connection
      description: Create a new source connection by making a POST request to the `/sourceConnections` endpoint. During this step, you must provide a name for your source connection, the authenticated base connection ID of your source, the format of your source data, the path to the source file that you want to bring to Experience Platform, and the connection specification ID that corresponds with your source.
      operationId: createSourceConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: body
          name: body
          description: >-
            - **name** - **(Required)** The name of the source connection.
            
            - **baseConnectionId** - **(Required)** The ID of the connection from which the source connection is derived.

            - **description** - (Optional) Provides information and details regarding the source connection to be created.
            
            - **data** - **(Required)** Contains information regarding the source connection's data format and the schema to map to.
              - **format** - **(Required)** The format of the data file to be ingested. Possible enum values for file-based connectors include `delimted`, `json`, and `parquet`. For table-based connectors, use the value `tabular`.
              - **version** - **(Required)** Specifies the version of the format of the data being ingested. Omitting this value will default to the most recent version
              
            - **params** - **(Required)** Defines details of source of data in this source connection from where data should be copied.
              - **path** - **(Required)** Designates the path file.
            
            - **connectionSpec** - **(Required)** Contains information regarding the source's connection specification ID.
              - **id** - **(Required)** The specific connection specification ID associated with source.
              - **version** - Specifies the version of the connection specification ID. Omitting this value will default to the most recent version.
            
          required: true
          schema:
            $ref: '#/definitions/CreateSourceConnectionRequest'
      responses:
        '201':
          description: Returns new source connection ID and its corresponding etag.
          examples:
            application/json:
              id: 'eb19c882-f19c-4d63-ad21-1d7ba9b21a85'
              etag: "\"c207057b-0000-0200-0000-638e67070000\""
          headers:
            Location:
              description: Location of the newly created source connection instance.
              type: string
          schema:
            $ref: '#/definitions/CreateSourceConnectionResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/sourceConnections/{SOURCE_CONNECTION_ID}':
    get:
      tags:
        - Source connections
      summary: Retrieve a source connection by ID
      description: Retrieve a single source connection by making a GET request to the `/sourceConnections/{SOURCE_CONNECTION_ID}` endpoint while providing the ID of the source connection you want to retrieve.
      operationId: retrieveSourceConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: SOURCE_CONNECTION_ID
          in: path
          description:
            "The ID of the source connection you want to retrieve."
          required: true
          type: string
      responses:
        '200':
          description: Returns details of specified source connection in JSON format.
          schema:
            $ref: '#/definitions/SourceConnectionsListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
    patch:
      tags:
        - Source connections
      summary: Update a source connection
      description: Update the information of a source connection by making a PATCH request to the `/sourceConnections/{SOURCE_CONNECTION_ID}` endpoint while providing the ID of the source connection you want to update. To update a source connection, you must also provide the current `etag` of your source connection as the `if-match` header.
      operationId: patchSourceConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/if-match'
        - name: SOURCE_CONNECTION_ID
          in: path
          description:
            "The ID of the source connection you want to update."
          required: true
          type: string
        - in: body
          name: body
          description: >-
            - **op** - **(Required)** The operation call used to define the action needed to update the connection. Operations include `add`, `replace`, and `remove`.

            - **path** - (Optional) The path of the parameter to be updated.

            - **value** - **(Required)** The new value you want to update your parameter with.
            
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/PatchInstruction'
      responses:
        '200':
          description: Returns updated source connection in JSON format.
          schema:
            $ref: '#/definitions/SourceConnectionsListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.

    delete:
      tags: 
        - Source connections
      summary: Delete a source connection
      operationId: deleteSourceConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: SOURCE_CONNECTION_ID
          in: path
          description:
            "The ID of the source connection you want to delete."
          required: true
          type: string
      responses:
        '204':
          description: The source connection was successfully deleted.
          schema:
            $ref: '#/definitions/SourceConnectionsListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  /targetConnections:
    post:
      tags:
        - Target connections
      summary: Create a target connection
      description: Create a target connection by making a POST request to the `/targetConnections` endpoint. During this step, you must provide a name for your target connection, your XDM schema ID, dataset ID, and the connection specification ID to data lake.
      operationId: createTargetConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - in: body
          name: body
          description: >-
            **name** - **(Required)** The name of the target connection.
            
            **description** - (Optional) Provides information and details regarding the target connection to be created.
            
            **data** - **(Required)** Contains information regarding the source connection's data format and the schema to map to.
              * **schema** - **(Required)** Contains information regarding the target schema, including its unique reference identifier and version.
                **ID** - **(Required)** The unique ID reference for the target XDM schema.
              * **version** - **(Required)** Specifies the version of the data.format. Omitting this value will default to the most recent version
              
            **params** - **(Required)** Defines details of data in this target connection where data should be copied to.  
              * **dataSetId** - **(Required)** The target dataset ID used to create a target connection.
            
            **connectionSpec** - **(Required)** Contains information regarding the source's connection specification ID.
              * **id** - The connection specification ID that corresponds with data lake.
              * **version** - Specifies the version of the connection specification ID. Omitting this value will default to the most recent version
          required: false
          schema:
            $ref: '#/definitions/CreateTargetConnectionRequest'
      responses:
        '201':
          description: Returns new target connection ID and etag.
          examples:
            application/json:
              id: 'eea7eaf4-3fe5-4792-b59b-2ec24c3e8331'
              etag: "\"29070e1a-0000-0200-0000-638e700a0000\""
          headers:
            Location:
              description: Location of the newly created target connection instance.
              type: string
          schema:
            $ref: '#/definitions/CreateTargetConnectionResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
  '/targetConnections/{TARGET_CONNECTION_ID}':
    get:
      tags:
        - Target connections
      summary: Retrieve a target connection
      description: Retrieve a single target connection by making a GET request to the `/targetConnections/{TARGET_CONNECTION_ID}` endpoint while providing the ID of the target connection you want to retrieve.
      operationId: retrieveTargetConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - name: TARGET_CONNECTION_ID
          in: path
          description:
            "The ID of the target connection you want to retrieve."
          required: true
          type: string
      responses:
        '200':
          description: Returns details of specified target connection in JSON format.
          schema:
            $ref: '#/definitions/TargetConnectionsListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
          
    patch:
      tags:
        - Target connections
      summary: Update a target connection
      operationId: patchTargetConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/if-match'
        - name: TARGET_CONNECTION_ID
          in: path
          description:
            "The ID of the target connection you want to update."
          required: true
          type: string
        - in: body
          name: body
          description: >-
            - **op** - **(Required)** The operation call used to define the action needed to update the connection. Operations include `add`, `replace`, and `remove`.

            - **path** - (Optional) The path of the parameter to be updated.

            - **value** - **(Required)** The new value you want to update your parameter with.
            
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/PatchInstruction'
      responses:
        '200':
          description: Returns details of specified target connection in JSON format.
          schema:
            $ref: '#/definitions/TargetConnectionsListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.

    delete:
      tags:
        - Target connections
      summary: Delete a target connection
      operationId: deleteTargetConnection
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - name: TARGET_CONNECTION_ID
          in: path
          description:
            "The ID of the target connection you want to delete."
          required: true
          type: string
      responses:
        '204':
          description: The target connection was successfully deleted (No content).
          schema:
            $ref: '#/definitions/TargetConnectionsListResponse'
        '401':
          description: The OAuth token is missing.
        '503':
          description: The service is unavailable.
definitions:
  AuthInfoDTO:
    type: object
    required:
      - specName
    properties:
      specName:
        type: string
        example: "Basic Authentication for google-cloud"
        description: Specifies the type of authentication a specific source is using to connect.
      params:
        $ref: '#/definitions/AuthCreateBaseDTO'
  AuthCreateBaseDTO:
    type: object
    properties:
      accessKeyId:
        type: string
        example: "GOOGMG1234ABCDEFGHIJKLMN"
      secretAccessKey:
        type: string
        example: "xxxx"
  ConnectionItemDTO:
    type: object
    properties:
      id:
        type: string
        example: "69f188b6-af07-4587-8061-e94d34637b41"
        description: The base connection ID.    
      createdAt:
        type: integer
        format: int64
        example: 1668637963851
        description: The epoch time in milliseconds when the base connection was created.
      updatedAt:
        type: integer
        format: int64
        example: 1668637963851
        description: The epoch time in milliseconds when the base connection was created.
      createdBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who created the base connection. In the case of service tokens, the value for `createdBy` is the same as `createdClient`.
      updatedBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who last updated the base connection. In the case of service tokens, the value for `updatedBy` is the same as `updatedClient`.
      createdClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who created the base connection. This can be an application or a user. For example, the value `exc_app` represents base connections created in the Experience Platform UI. 
      updatedClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who last updated the base connection. This can be an application or a user. For example, the value `exc_app` represents base connections created in the Experience Platform UI.
      sandboxId:
        type: string
        example: "1bd86660-c5da-11e9-93d4-6d5fc3a66a8e"
        description: The ID of the sandbox in which the base connection was created.
      sandboxName:
        type: string
        example: "prod"
        description: The name of the sandbox in which the base connection was created.
      imsOrgId:
        type: string
        example: "5C1328435BF324E90A49402A@AdobeOrg"
        description: The organization ID to which the base connection belongs.
      policy:
        $ref: '#/definitions/PolicyItemDTO'
      name:
        type: string
        example: "Google BigQuery Base Connection"
        description: The name of the base connection.
      description:
        type: string
        example: "A Google BigQuery base connection for sales data"
        description: An optional description that can be added to provide further context on the connection.
      connectionSpec:
        $ref: '#/definitions/SpecInfoDTO'
      state:
        type: string
        example: "enabled"
        description: Represents the current state of the base connection. A base connection can be `enabled` or `disabled`
      auth:
        $ref: '#/definitions/AuthInfoDTO'
      version:
        type: string
        example: "\"6802064a-0000-0200-0000-6387c6b90000\""
        description: The version of the specified connection.
      etag:
        type: string
        example: "\"6802064a-0000-0200-0000-6387c6b90000\""
        description: The unique eTag returned by the HTTP response. The eTag value updates with every successful update of a base connection.
  ConnectionListResponse:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/ConnectionItemDTO'
  PageLink:
    type: object
    properties:
      href:
        type: string
        example: "/connections?continuationToken=abcdefghijkLMNOPqrstupWXKYZ"
  PageLinksResponse:
    type: object
    properties:
      self:
        $ref: '#/definitions/PageLink'
      next:
        $ref: '#/definitions/PageLink'
      prev:
        $ref: '#/definitions/PageLink'
  PolicyItemDTO:
    type: object
    properties:
      duleLabels:
        type: array
        items:
          type: string
          example: "C1"
      enforcementRefs:
        type: array
        items:
          type: string
          example: "enforcementRefs1"
  SpecInfoDTO:
    type: object
    required:
      - id
      - version
    properties:
      id:
        type: string
        example: "32e8f412-cdf7-464c-9885-78184cb113fd"
        description: The connection specification ID that corresponds with the source from where data is being ingested from. This ID is fixed and each source supported by Experience Platform has its own connection specification ID.
      version:
        type: string
        example: "1.0"
        description: The version of the connection specification ID.
  CreateConnectionResponse:
    description: The location of the newly created connection instance.
    type: object
    properties:
      id:
        type: string
        example: "69f188b6-af07-4587-8061-e94d34637b41"
        description: The newly created base connection ID.
      etag:
        type: string
        example: "\"6802064a-0000-0200-0000-6387c6b90000\""
        description: The eTag assigned to the base connection ID.
  CreateConnectionRequest:
    type: object
    required:
      - connectionSpec
    properties:
      name:
        type: string
        example: "Google Cloud Storage Base Connection"
        description: The name of the base connection.
      description:
        type: string
        example: "Google Cloud Storage base connection for customer data"
        description: An optional description that can be added to provide further context on the connection.
      auth:
        $ref: '#/definitions/AuthInfoDTO'
      connectionSpec:
        $ref: '#/definitions/SpecInfoDTO'
  TestConnectionResponse:
    type: object
    properties:
      result:
        type: boolean
        example: "true"
  ExploreConnectionResponse:
    type: object
    properties:
      items:
        type: array
        items:
          type: object
  AuthenticationSpecDTO:
    type: object
    properties:
      name:
        type: string
        example: "Basic Authentication for google-cloud"
        description: The name of the authentication type used to authenticate a source against Experience Platform.
      type:
        type: string
        example: "KeyBased"
        description: The type of authentication used to connect a source.
      spec:
        type: object
        properties:
            accessKeyId:
              type: string
              example: "GOOGMG1234ABCDEFGHIJKLMN"
              description: The access key ID assigned to the user account.
            secretAccessKey:
              type: string
              example: "xxxx"
              description: The secret access key assigned to the user account.
  ConnectionSpecItemDTO:
    type: object
    properties:
      id:
        type: string
        example: "32e8f412-cdf7-464c-9885-78184cb113fd"
        description: The connection specification ID of a given source.
      name:
        type: string
        example: "Google Cloud Storage"
        description: The name of the source.
      providerId:
        type: string
        example: "0ed90a81-07f4-4586-8190-b40eccef1c5a"
        description: A reference ID that links a connection with a specific source provider.
      version:
        type: string
        example: "1.0"
        description: The version of the specified connection specification ID.
      authSpec:
        type: array
        items:
          $ref: '#/definitions/AuthenticationSpecDTO'
      sourceSpec:
        $ref: '#/definitions/SourceSpecDTO'
      exploreSpec:
        $ref: '#/definitions/ExploreSpecDTO'
      permissionsInfo:
        type: object
        additionalProperties:
          type: array
          items:
            $ref: '#/definitions/PermissionDTO'
      policy:
        $ref: '#/definitions/PolicyItemDTO'
  ConnectionSpecResponse:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/ConnectionSpecItemDTO'
  ExploreSpecDTO:
    type: object
    properties:
      name:
        type: string
        example: FileSystem
        description: The name of the source file type. File type can either be `FileSystem` or `Tabular`.
      type:
        type: string
        example: FileSystem
        description: Defines the type of file structure a source content follows. File type can either be `FileSystem` or `Tabular`.
      requestSpec:
        type: object
        properties:
          schema:
            type: string
            example: "http://json-schema.org/draft-07/schema#"
          type:
            type: string
            example: "object"
      responseSpec:
        type: object
        properties:
          schema:
            type: string
            example: "http://json-schema.org/draft-07/schema#"
          type:
            type: string
            example: "object"
          items:
            type: object
            properties:
              type:
                type: string
                example: "table"
                description: The structure type of the data being ingested.
              name:
                type: string
                example: "sales"
                description: The file name of the data being ingested.
              path:
                type: string
                example: "sales"
                description: The file path to the data being ingested.
              canPreview:
                type: boolean
                example: "false"
                description: Defines if the data can be previewed.
              canFetchSchema:
                type: boolean
                example: "false"
                description: Defines if the schema of the fields of the data can be fetched.
  PermissionDTO:
    type: object
    properties:
      '@type':
        type: string
        example: lowlevel
      name:
        type: string
        example: EnterpriseSource
      permissions:
        type: array
        items:
          type: string
          enum:
            - read
            - write
  SourceSpecDTO:
    type: object
    properties:
      name: 
        type: string
        example: "CloudStorage"
        description: The name of the type of the source.
      type:
        type: string
        example: "CloudStorage"
        description: The type of the source. This value is the same as the category assigned to the source.
      spec:
        type: object
        description: An array that contains information specific to a source, including attributes pertaining to a source’s category, beta status, and catalog icon. They also contain useful information such as URL parameters, content, header, and schedule. Source specifications also describe the schema of the parameters required to create a source connection from a base connection.
        properties:
          schema:
            type: string
            example: "http://json-schema.org/draft-07/schema#"
          type:
            type: string
            example: "object"
          description:
            type: string
            example: "Defines params required when this connection is used as a source in flow"
          path:
            type: object
            properties:
              type:
                type: string
                example: "string"
              description:
                type: string
                example: "The input path for copying files. This can be a folder path, a file path or a wildcard pattern"
          recursive:
            type: object
            properties:
              type:
                type: string
                example: "boolean"
              default:
                type: string
                example: "false"
              description:
                type: string
                example: "The recursive property indicates recursive copy in case of folder or wild card path. The default value is false."
      attributes:
        type: object
        properties:
          uiAttributes:
            type: object
            description: Contains information to display in the sources catalog of Experience Platform UI for a given source.
            properties:
              isSource:
                type: boolean
                example: true
                description: A boolean value that defines if the queried item is a source.
              documentationLink:
                type: string
                example: "http://www.adobe.com/go/sources-google-cloud-storage-en"
                description: A link to the documentation about a given source.
              category:
                type: string
                example: "cloudStorage"
                description: The category that corresponds with the source. Available source categories include `advertising`, `cloudStorage`, `crm`, `customerSuccess`, `database`, `ecommerce`, `marketingAutomation`, `payments`, `protocols`, and `streaming`.
              icon:
                type: string
                example: "google"
                description: The image that corresponds with a given source when displayed on the sources catalog in the Experience Platform UI.
              description:
                type: string
                example: "Create a live inbound connection to your Google Cloud Storage account to periodically ingest delimited data file into Experience Platform."
                description: A brief description used to provide high-level information on a given source.
              label:
                type: string
                example: "Google Cloud Storage"
                description: The label or name of a source displayed on the sources catalog in the Experience Platform UI.
  ConnectionMetaInfoDTO:
    type: object
    properties:
      id:
        type: string
        example: "69f188b6-af07-4587-8061-e94d34637b41"
      connectionSpec:
        $ref: '#/definitions/SpecInfoDTO'
  FlowItemDTO:
    type: object
    properties:
      id:
        type: string
        example: "3d17a4ff-9e0a-4f7c-94bb-bc0b61a3a76d"
        description: The ID of the flow.
      createdAt:
        type: integer
        format: int64
        example: 1670284443204
        description: The epoch time in milliseconds when the flow was created.
      updatedAt:
        type: integer
        format: int64
        example: 1670284532205
        description: The epoch time in milliseconds when the flow was updated.
      createdBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who created the flow. In the case of service tokens, the value for `createdBy` is the same as `createdClient`.
      updatedBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who last updated the flow. In the case of service tokens, the value for `updatedBy` is the same as `updatedClient`.
      createdClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who created the flow. This can be an application or a user. For example, the value `exc_app` represents dataflows created in the Experience Platform UI. 
      updatedClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who last updated the flow. This can be an application or a user. For example, the value `exc_app` represents dataflows created in the Experience Platform UI.
      sandboxId:
        type: string
        example: "1bd86660-c5da-11e9-93d4-6d5fc3a66a8e"
        description: The unique identifier of the sandbox in which the operation will take place.
      sandboxName:
        type: string
        example: "prod"
        description: The name of the sandbox in which the operation will take place. If a sandbox name is not provided then the default sandbox for the org will be used.
      imsOrgId:
        type: string
        example: "5C1328435BF324E90A49402A@AdobeOrg"
        description: The organization ID to which the source connection belongs to.
      name:
        type: string
        example: "Google Cloud Storage Flow"
        description: The name of the flow.
      description:
        type: string
        example: "A Google Cloud Storage flow for ACME customer data"
        description: An optional description used to provide further information about the flow.
      flowSpec:
        type: object
        example: "9753525b-82c7-4dce-8a9b-5ccfce2b9876"
        description: The ID of the flow specification that corresponds with cloud storage sources.
      state:
        type: string
        example: "enabled"
        description: The state of the flow. "For example, state=`enabled`."
      version:
        type: string
        example: "\"7e05f181-0000-0200-0000-638e84f40000\""
        description: The specific version of the flow.
      etag:
        type: string
        example: "\"7e05f181-0000-0200-0000-638e84f40000\""
        description: The etag value generated and assigned to a flow after a flow is created.
      sourceConnectionIds:
        type: array
        items:
          type: string
          example: "eb19c882-f19c-4d63-ad21-1d7ba9b21a85"
          description: The source connection ID used to create a flow.
      targetConnectionIds:
        type: array
        items:
          type: string
          example: "eea7eaf4-3fe5-4792-b59b-2ec24c3e8331"
          description: The target connection ID used to create a flow.
      inheritedAttributes:
        $ref: '#/definitions/FlowMetaInfoDTO'
      scheduleParams:
        $ref: '#/definitions/ScheduleSpecDTO'
      transformations:
        type: array
        items:
          $ref: '#/definitions/FlowTransformationDTO'
      runs:
        type: string
        example: "/runs?property=flowId==3d17a4ff-9e0a-4f7c-94bb-bc0b61a3a76d"
      lastOperation:
        type: object
        properties:
          started:
            type: integer
            example: 1670284443413
            description: The epoch time in milliseconds when the run was created.
          updated:
            type: integer
            example: 0
            description: The number of times in which the run has been updated.
          operation:
            type: string
            example: "create"
            description: The operation that was lused used for the run.
      lastRunDetails:
        type: object
        properties:
          id:
            type: string
            example: "98fbed6e-f896-4b19-b279-b0d56d732d8d"
            description: The ID of the last iteration of the run.
          state:
            type: string
            example: "success"
            description: The status of the last iteration of the run. Statuses can be `success` or `failed`.
          startedAtUTC:
            type: integer
            example: 1670284458833
            description: The epoch time in milliseconds when the run was started.
          completedAtUTC:
            type: integer
            example: 1670284518048
            description: The epoch time in milliseconds when the run was completed.
  FlowListResponse:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/FlowItemDTO'
      _links:
        $ref: '#/definitions/PageLinksResponse'
      count:
        type: integer
        format: int64
        example: 7
  FlowMetaInfoDTO:
    type: object
    properties:
      sourceConnections:
        type: array
        items:
          $ref: '#/definitions/SourceConnectionMetaInfoDTOWrapper'
      targetConnections:
        type: array
        items:
          $ref: '#/definitions/TargetConnectionMetaInfoDTOWrapper'
  FlowTransformationDTO:
    type: object
    required:
      - name
      - params
    properties:
      name:
        type: string
        example: "Mapping"
      params:
        $ref: '#/definitions/TransformationSpecDTO'
  SourceConnectionMetaInfoDTOWrapper:
    type: object
    properties:
      id:
        type: string
        example: "eb19c882-f19c-4d63-ad21-1d7ba9b21a85"
      connectionSpec:
        $ref: '#/definitions/SpecInfoDTO'
      baseConnection:
        $ref: '#/definitions/ConnectionMetaInfoDTO'
  TargetConnectionMetaInfoDTOWrapper:
    type: object
    properties:
      id:
        type: string
        example: "eea7eaf4-3fe5-4792-b59b-2ec24c3e8331"
      connectionSpec:
        type: object
        properties:
          id:
            type: string
            example: "c604ff05-7f1a-43c0-8e18-33bf874cb11c"
          version:
            type: string
            example: "1.0"
  CreateFlowResponse:
    description: Location of the newly created flow instance
    type: object
    properties:
      id:
        type: string
        example: "3d17a4ff-9e0a-4f7c-94bb-bc0b61a3a76d"
        description: The ID of the flow.
      etag:
        type: string
        example: "\"7e05b480-0000-0200-0000-638e84a00000\""
        description: The etag value generated and assigned to a flow after a flow is created. This value is updated after every successful update.
  CreateFlowRequest:
    type: object
    required:
      - flowSpec
    properties:
      name:
        type: string
        example: "Google Cloud Storage Flow"
        description: The name of the flow.
      description:
        type: string
        example: "A Google Cloud Storage flow for ACME customer data"
        description: An optional description used to add further information to a flow.
      flowSpec:
        type: object
        properties:
          id:
            type: string
            example: "9753525b-82c7-4dce-8a9b-5ccfce2b9876"
            description: The flow spec ID that corresponds the flow specification required to generate a flow for a cloud storage source.
          version:
            type: string
            example: "1.0"
            description: The current version of the flow specification.
      sourceConnectionIds:
        type: array
        items:
          type: string
          example: "eb19c882-f19c-4d63-ad21-1d7ba9b21a85"
          description: The source connection ID used to create a flow.
      targetConnectionIds:
        type: array
        items:
          type: string
          example: "eea7eaf4-3fe5-4792-b59b-2ec24c3e8331"
          description: The target connection ID used to create a flow.
      transformations:
        type: array
        items:
          $ref: '#/definitions/FlowTransformationDTO'
      scheduleParams:
        $ref: '#/definitions/ScheduleSpecDTO'
  FlowRunItemDTO:
    type: object
    properties:
      createdAt:
        type: integer
        format: int64
        example: 1591051236463
        description: The epoch time in milliseconds when the flow run connection was created.
      updatedAt:
        type: integer
        format: int64
        example: 1591051236463
        description: The epoch time in milliseconds when the flow run was created.
      createdBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who created the flow run. In the case of service tokens, the value for `createdBy` is the same as `createdClient`.
      updatedBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who last updated the flow run. In the case of service tokens, the value for `updatedBy` is the same as `updatedClient`.
      createdClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who created the flow run. This can be an application or a user. For example, the value `exc_app` represents flow runs created in the Experience Platform UI. 
      updatedClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who last updated the flow run. This can be an application or a user. For example, the value `exc_app` represents flow runs created in the Experience Platform UI. 
      sandboxName:
        type: string
        example: "prod"
        description: The name of the sandbox in which the operation will take place. If a sandbox name is not provided then the default sandbox for the organization will be used.
      id:
        type: string
        example: "044700d5-ab4c-41ee-8700-d5ab4c71ee25"
        description: The ID of the run.
      flowId:
        type: string
        example: "70c2f428-14a9-4ec5-82f4-2814a9aec570"
        description: The ID of the flow.
      providerId:
        type: string
        example: "M-d9fc9674-0b46-48ea-bc96-740b4638eaf7-incremental-0:ab366d48-9aa6-4a5a-b5cc-55cf872dc299"
        description: The ID of the provider.
      state:
        type: string
        example: "inProgress"
        description: The state of the run. Possible enum values for run include inProgress, succeeded, and failed. "For example, state=`inProgress`."
      version:
        type: string
        example: "\"6100d886-0000-0200-0000-5ea883540000\""
        description: The version of the run.
      etag:
        type: string
        example: "\"6100d886-0000-0200-0000-5ea883540000\""
        description: The etag generated and assigned to a run when a new run is created.
  FlowRunsListResponse:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/FlowRunItemDTO'
      _links:
        $ref: '#/definitions/PageLinksResponse'
      count:
        type: integer
        format: int64
        example: 12
  FlowSpecItemDTO:
    type: object
    properties:
      id:
        type: string
        example: "9753525b-82c7-4dce-8a9b-5ccfce2b9876"
        description: The ID of the flow specification.
      name:
        type: string
        example: "CloudStorageToAEP"
        description: The name of the flow specification.
      providerId:
        type: string
        example: "0ed90a81-07f4-4586-8190-b40eccef1c5a"
        description: The ID of the provider.
      version:
        type: string
        example: "1.0"
        description: The version of the flow specification.
      sourceConnectionSpecIds:
        type: array
        description: Contains a list of connection specification IDs that correspond to different sources supported by the queried flow specification.
        items:
          type: string
          example:
          - b3ba5556-48be-44b7-8b85-ff2b69b46dc4
          - ecadc60c-7455-4d87-84dc-2a0e293d997b
          - b7829c2f-2eb0-4f49-a6ee-55e33008b629
          - 4c10e202-c428-4796-9208-5f1f5732b1cf
          - fb2e94c9-c031-467d-8103-6bd6e0a432f2
          - 32e8f412-cdf7-464c-9885-78184cb113fd
      targetConnectionSpecIds:
        type: array
        items:
          type: string
          example: "c604ff05-7f1a-43c0-8e18-33bf874cb11c"
          description: The specification ID that connects a source to data lake.
      optionSpec:
        type: object
        properties:
          spec:
            type: object
            properties:
              schema:
                type: string
                example: "http://json-schema.org/draft-07/schema#"
              type:
                type: string
                example: "object"
              properties:
                type: object
                properties:
                  errorDiagnosticsEnabled:
                    type: object
                    properties:
                      title:
                        type: string
                        example: "Error diagnostics"
                      description:
                        type: string
                        example: "Flag to enable detailed and sample error diagnostics summary."
                      type:
                        type: string
                        example: "boolean"
                      default:
                        type: boolean
                        example: false
                  partialIngestionPercent:
                    type: object
                    properties:
                      title:
                        type: string
                        example: "Partial ingestion threshold"
                      description:
                        type: string 
                        example: "Percentage which defines the threshold of errors allowed before the run is marked as failed."
                      type: 
                        type: string
                        example: "number"
                      exclusivMinimum:
                        type: integer
                        example: 0
      transformationSpecs:
        type: object
        properties:
          name: 
            type: string
            example: "Mapping"
          spec:
            type: object
            properties:
              schema:
                type: string
                example: "http://json-schema.org/draft-07/schema#"
              type:
                type: string
                example: "object"
              description:
                type: string
                example: "defines various params required for different mapping from source to target"
              properties:
                type: object
                properties:
                  mappingId:
                    type: object
                    properties:
                      type:
                        type: string
                        example: "string"
                  mappingVersion:
                    type: object
                    properties:
                      type:
                        type: string
                        example: "string"
      scheduleSpec:
        type: object
        properties:
          name:
            type: string
            example: "PeriodicSchedule"
          type:
            type: string
            example: "Periodic"
          spec:
            type: object
            properties: 
              schema:
                type: string
                example: "http://json-schema.org/draft-07/schema#"
              type:
                type: string
                example: "object"
              properties:
                type: object
                properties:
                  startTime:
                    type: object
                    properties:
                      description:
                        type: string
                        example: "epoch time"
                      type:
                        type: string
                        example: "integer"
                  frequency:
                    type: object
                    properties: 
                      type:
                        type: string
                        example: "string"
                      enum:
                        type: array
                        items:
                          type: string
                        example:
                        - once
                        - minute
                        - hour
                        - day
                        - week
                  interval:
                    type: object
                    properties:
                      type:
                        type: string
                        example: "integer"
                  backfill:
                    type: object
                    properties:
                      type:
                        type: string
                        example: "boolean"
                      default:
                        type: boolean
                        example: true
              required:
                type: array
                items:
                  type: string
                example:
                - startTime
                - frequency
              if:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      frequency:
                        type: object
                        properties:
                          const:
                            type: string
                            example: "once"
              then:
                type: object
                properties:
                  allOf:
                    type: array
                    items:
                      type: object
                      properties:
                        not:
                          type: object
                          properties:
                            required:
                              type: array
                              items:
                                type: string
                example:
                  allOf:
                    - not:
                        required:
                          - interval
                    - not:
                        required:
                          - backfill
              else:
                type: object
                properties:
                  required:
                    type: array
                    items:
                      type: string
                    example:
                      - interval
                  if:
                    type: object
                    properties:
                      properties:
                        type: object
                        properties:
                          frequency:
                            type: object
                            properties:
                              const:
                                type: string
                                example: "minute"
                  then: 
                    type: object
                    properties:
                      properties:
                        type: object
                        properties:
                          interval:
                            type: object
                            properties:
                              minimum:
                                type: integer
                                example: 15
                  else:
                    type: object
                    properties:
                      properties:
                        type: object
                        properties:
                         interval:
                          type: object
                          properties:
                            minimum:
                              type: integer
                              example: 1
      attributes:
        type: object
        additionalProperties:
          type: object
      permissionsInfo:
        type: object
        additionalProperties:
          type: array
          items:
            $ref: '#/definitions/PermissionDTO'
      policy:
        $ref: '#/definitions/PolicyItemDTO'
  FlowSpecResponse:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/FlowSpecItemDTO'
  ScheduleSpecDTO:
    type: object
    properties:
      startTime:
        type: integer
        format: int64
        example: 1590091157
        description: The start time of the flow in epoch time in seconds.
      frequency:
        type: string
        example: "minute"
        description: The scheduled frequency of ingestion for a flow. Valid values include once, minute, hour, day, week.
      interval:
        type: string
        example: "15"
        description: The period between two consecutive flow runs. Its assigned value should be a non zero integer. Interval is not required when frequency is set as once, and should be set as equal or greater than 15 if frequency is set on a per minute basis. There are no constraints on interval for other frequency settings.
      backfill:
        type: boolean
        example: "true"
        description: A boolean value that determines what data is initially ingested. If backfill is enabled, all current files in the specified path will be ingested during the first scheduled ingestion. If backfill is disabled, only the files that are loaded in between the first run of ingestion and the Start time will be ingested. Files loaded prior to Start time will not be ingested.
  TransformationSpecDTO:
    type: object
    properties:
      mappingId:
        type: string
        example: "97051e9e86184c7d88d6bf8104ad7765"
      mappingVersion:
        type: string
        example: "0"
  CreateFlowRunResponse:
    description: Location of the newly created flow instance
    type: object
    properties:
      id:
        type: string
      etag:
        type: string
  CreateFlowRunRequest:
    type: object
    properties:
      status:
        type: string
        example: "active"
        description: The status of the run.
      flowId:
        type: string
        example: "7647468477"
        description: The ID assigned to the run.
  CreateSourceConnectionResponse:
    description: Location of the newly created source connection instance
    type: object
    properties:
      id:
        type: string
      etag:
        type: string
  CreateSourceConnectionRequest:
    type: object
    required:
      - connectionSpec
      - data
      - name
    properties:
      name:
        type: string
        example: "Google Cloud Storage source connection"
      baseConnectionId:
        type: string
        example: "69f188b6-af07-4587-8061-e94d34637b41"
      description:
        type: string
        example: "A Google Cloud Storage source connection for ACME customer data"
      data:
        $ref: '#/definitions/SourceConnectionDataDTO'
      params:
        type: object
        properties:
          path:
            type: string
            example: "/acme/acme-customers/sales/acme-customers-sales-spring.csv"
      connectionSpec:
        $ref: '#/definitions/SpecInfoDTO'
  SourceConnectionDataDTO:
    type: object
    properties:
      format:
        type: string
        example: "delimited"
  SourceConnectionItemDTO:
    type: object
    properties:
      id:
        type: string
        example: "eb19c882-f19c-4d63-ad21-1d7ba9b21a85"
        description: The ID of the source connection.
      createdAt:
        type: integer
        format: int64
        example: 1670276871555
        description: The epoch time in milliseconds when the source connection was created.
      updatedAt:
        type: integer
        format: int64
        example: 1670276871555
        description: The epoch time in milliseconds when the source connection was created.
      createdBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who created the source connection. In the case of service tokens, the value for `createdBy` is the same as `createdClient`.
      updatedBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who last updated the source connection. In the case of service tokens, the value for `updatedBy` is the same as `updatedClient`.
      createdClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who created the source connection. This can be an application or a user. For example, the value `exc_app` represents source connections created in the Experience Platform UI. 
      updatedClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who last updated the source connection. This can be an application or a user. For example, the value `exc_app` represents source connections created in the Experience Platform UI. 
      sandboxId:
        type: string
        example: "1bd86660-c5da-11e9-93d4-6d5fc3a66a8e"
        description: The unique identifier of the sandbox in which the operation will take place.
      sandboxName:
        type: string
        example: "prod"
        description: The name of the sandbox in which the operation will take place. If a sandbox name is not provided then the default sandbox for the org will be used.
      imsOrgId:
        type: string
        example: "5C1328435BF324E90A49402A@AdobeOrg"
        description: The organization ID to which the source connection belongs to.
      name:
        type: string
        example: "Google Cloud Storage source connection"
        description: The name of the source connection.
      description:
        type: string
        example: "A Google Cloud Storage source connection for ACME customer data"
        description: An optional description used to add further information about the source connection.
      baseConnectionId:
        type: string
        example: "69f188b6-af07-4587-8061-e94d34637b41"
        description: The base connection ID used to create a source connection.
      state:
        type: string
        example: "enabled"
        description: The state of the source connection. Possible state values include inProgress, updating, enabling, disabling, enabled, and disabled. "For example, state=`enabled`."
      data:
        $ref: '#/definitions/SourceConnectionDataDTO'
      connectionSpec:
        $ref: '#/definitions/SpecInfoDTO'
      params:
        type: object
        properties:
          path:
            type: string
            example: "Accounts"
      version:
        type: string
        example: "\"5f00fba7-0000-0200-0000-5ed560520000\""
        description: The version of the source connection.
      etag:
        type: string
        example: "\"5f00fba7-0000-0200-0000-5ed560520000\""
        description: The etag value generated and assigned to a source connection when a new source connection is created.
      providerRefId:
        type: string
        description: A reference ID connecting the source connection to the provider.
      inheritedAttributes:
        $ref: '#/definitions/SourceConnectionMetaInfoDTO'
  SourceConnectionMetaInfoDTO:
    type: object
    properties:
      baseConnection:
        $ref: '#/definitions/ConnectionMetaInfoDTO'
  SourceConnectionsListResponse:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/SourceConnectionItemDTO'
      _links:
        $ref: '#/definitions/PageLinksResponse'
      count:
        type: integer
        format: int64
  CreateTargetConnectionResponse:
    description: Location of the newly created target connection instance
    type: object
    properties:
      id:
        type: string
      etag:
        type: string
  CreateTargetConnectionRequest:
    type: object
    required:
      - connectionSpec
      - data
    properties:
      name:
        type: string
        example: "Google Cloud Storage target connection"
        description: The name of the target connection.
      description:
        type: string
        example: "A Google Cloud Storage Target Connection for ACME customer data"
      data:
        $ref: '#/definitions/TargetConnectionDataDTO'
      params:
        type: object
        properties:
          dataSetId:
            type: string
            example: "638e6c7b5679741b63ff5c24"
            description: The ID of the target dataset required to create a target connection.
      connectionSpec:
        type: object
        properties:
          id:
            type: string
            example: "c604ff05-7f1a-43c0-8e18-33bf874cb11c"
            description: The connection specification ID that corresponds with data lake. This ID value is fixed.
          version:
            type: string
            example: "1.0"
            description: The version ID of the connection specification. This ID is updated everytime the connection specification ID is updated.
  TargetConnectionDataDTO:
    type: object
    properties:
      format:
        type: string
        example: "delimited"
        description: The format of the data being ingested. Data from a tabular source is formated as `tabular`. Data from a file-based source can be formatted as `parquet`, `json`, or `delimited`.
      schema:
        type: object
        properties:
          id:
            type: string
            example: "https://ns.adobe.com/{TENANT}/schemas/8e5fd1adf94007b936d0f8ea9e270c48dba26b7dcdad80d0"
            description: The ID of the target XDM schema.
          version:
            type: string
            example: "application/vnd.adobe.xed-full+json;version=1.0"
            description: The version of the XDM schema.
  TargetConnectionItemDTO:
    type: object
    properties:
      id:
        type: string
        example: "1642748e-7cbc-4f3d-8274-8e7cbcaf3d97"
        description: The ID of the target connection.
      createdAt:
        type: integer
        format: int64
        example: 1670279178771
        description: The epoch time in milliseconds when the target connection was created.
      updatedAt:
        type: integer
        format: int64
        example: 1670279178771
        description: The epoch time in milliseconds when the target connection was created.
      createdBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who created the target connection. In the case of service tokens, the value for `createdBy` is the same as `createdClient`.
      updatedBy:
        type: string
        example: "28AF22BA5DE6B0B40A494036@AdobeID"
        description: The Adobe ID of the Identity Management System (IMS) user who last updated the target connection. In the case of service tokens, the value for `updatedBy` is the same as `updatedClient`.
      createdClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who created the target connection. This can be an application or a user. For example, the value `exc_app` represents target connections created in the Experience Platform UI. 
      updatedClient:
        type: string
        example: "exc_app"
        description: The Adobe Identity Management System (IMS) client who last updated the target connection. This can be an application or a user. For example, the value `exc_app` represents target connections created in the Experience Platform UI. 
      sandboxId:
        type: string
        example: "1bd86660-c5da-11e9-93d4-6d5fc3a66a8e"
        description: The unique identifier of the sandbox in which the operation will take place.
      sandboxName:
        type: string
        example: "prod"
        description: The name of the sandbox in which the operation will take place. If a sandbox name is not provided then the default sandbox for the org will be used.
      imsOrgId:
        type: string
        example: "5C1328435BF324E90A49402A@AdobeOrg"
        description: The organization ID to which the source connection belongs to.
      name:
        type: string
        example: "Google Cloud Storage Target Connection"
        description: The name of the target connection.
      description:
        type: string
        example: "A Google Cloud Storage Target Connection for ACME customer data"
        description: An optional description that can be applied to provide further information on the target connection.
      state:
        type: string
        example: enabled
        description: The state of the target connection. Possible state values include inProgress, updating, enabling, disabling, enabled, and disabled. "For example, state=`enabled`."
      data:
        $ref: '#/definitions/TargetConnectionDataDTO'
      connectionSpec:
        $ref: '#/definitions/SpecInfoDTO'
      params:
        type: object
        properties:
          dataSetId:
            type: string
            example: "5ed18e0f4f90b719196f44a9"
            description: The ID of the dataset required to create a target connection.
      version:
        type: string
        example: "\"6f00d1ea-0000-0200-0000-5ea6713e0000\""
        description: The version of the target connection
      etag:
        type: string
        example: "\"6f00d1ea-0000-0200-0000-5ea6713e0000\""
        description: The etag value generated and assigned to a target connection ID after a new target connection is created.
      providerRefId:
        type: string
      inheritedAttributes:
        $ref: '#/definitions/TargetConnectionMetaInfoDTO'
  TargetConnectionMetaInfoDTO:
    type: object
    properties:
      baseConnection:
        $ref: '#/definitions/ConnectionMetaInfoDTO'
  TargetConnectionsListResponse:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/TargetConnectionItemDTO'
      _links:
        $ref: '#/definitions/PageLinksResponse'
      count:
        type: integer
        format: int64
        description: "42"
  PatchInstruction:
    type: object
    required:
      - op
      - path
      - value
    properties:
      op:
        type: string
        example: "Add"
        enum:
          - ADD
          - REPLACE
          - REMOVE
      path:
        type: string
        example: "/auth/params"
      value:
        type: object
        properties:
          description:
            type: string
            example: "A new description to provide further context on a specified connection or flow."
            description: The new description value you want to add.
parameters:
  authorization:
    name: Authorization
    description: "The access token which can be copied from your Experience Platform integration, prefixed with 'Bearer '. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: "The organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: "The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
    required: true
    type: string
    in: header
  content-type:
    name: Content-Type
    description: "The type of content being sent in the body of the request. Should be 'application/json'."
    required: true
    type: string
    in: header
  x-sandbox-id:
    name: x-sandbox-id
    description: "The unique identifier of the sandbox in which the operation will take place. See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en) for more information."
    required: false
    in: header
    type: string
  x-sandbox-name:
    name: x-sandbox-name
    description: "All resources in Experience Platform are isolated to specific virtual sandboxes. Requests to Platform APIs require a header that specifies the name of the sandbox in which the operation will take place."
    required: false
    in: header
    type: string
  x-service-token:
    name: x-service-token
    in: header
    description: "The unique token associated with the service."
    required: false
    type: string
  x-user-token:
    name: x-user-token
    in: header
    description: "The unique token associated with the user account."
    required: false
    type: string
  limit:  
    name: limit
    in: query
    description: "Limit response to a specific number of objects. Must be a positive number. For example, `limit=10`"
    required: false
    type: integer
  property:
    name: property
    in: query
[...]
