openapi: 3.0.1
info:
  title: Query Service API
  description: |-
    Use the Adobe Experience Platform Query Service API to query Platform data with standard SQL. This serverless tool which allows you to join any datasets in Experience Data Lake and capture the query results as a new dataset for use in reporting, Data Science Workspace, or for ingestion into Real-time Customer Profile.

    Related Documentation:
      * [Query Service documentation](http://www.adobe.com/go/query-service-home-en)

    Visualize API calls with Postman (a free, third-party software):
      * [Query Service API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Query%20Service%20API.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    API paths:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io/
      * Base path for this API: /data/foundation/query
      * Example of a complete path: https://<span>platform.adobe.io/data/foundation/query/queries

    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

    API error handling:
      * Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#request-header-errors).
      * Refer to the Query Service troubleshooting guide for [common query related FAQs](https://experienceleague.adobe.com/docs/experience-platform/query/troubleshooting-guide.html).
  version: "1.0"
servers:
- url: //platform.adobe.io/data/foundation/query
tags:
- name: Queries
  description: The queries endpoint uses standard SQL to query data held in Adobe Experience Platform. For example, you can join any number of datasets in the Data Lake and capture the results as a new dataset.
- name: Connections
  description: The connections endpoint retrieves connection parameters for the interactive interface.
- name: Schedules
  description: Schedules let you perform SQL functions on a regular cadence from a start date to an end date or set a maximum number of runs.
- name: Alert Subscriptions
  description: Alert subscriptions allow you to receive notifications on the different statuses of both ad hoc and scheduled queries. Alerts can be received by email, within the Platform UI, or both.
- name: Query Templates
  description: Query templates let you create, store, and execute any query as an ad hoc or scheduled service.
- name: Accelerated Queries
  description: Query the accelerated store in a stateless manner to quickly return results based on aggregated data.
paths:
  /connection_parameters:
    get:
      tags:
      - Connections
      summary: List connection parameters
      description: This request lists the connection parameters used for the interactive interface.
      operationId: listConnectionParameters
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      responses:
        200:
          description: Connection Parameters Response for interactive interface
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connection_parameters'
        401:
          description: Unauthorized
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /queries:
    get:
      tags:
      - Queries
      summary: List queries
      operationId: listQueries
      description: This request provides a list of queries for your organization.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: orderby
        in: query
        description: 'Field to order results by. Supported fields: created, updated.
          Prepend property name with + for ASC,- for DESC order. Default is -created.
          Note that the plus sign (+) has to be escaped with %2B. Example: %2Bcreated
          for ASC created.'
        schema:
          type: string
      - name: limit
        in: query
        description: Hint on number of records to fetch per page.
        schema:
          type: integer
      - name: start
        in: query
        description: Start value of property specified using orderby.
        schema:
          type: string
      - name: property
        in: query
        description: "Comma-separated filters. Examples below are given with unsafe\
          \ HTML characters for clarity, but all content MUST be HTML escaped.\n\n\
          \ List of properties that allow filtering with all operators:\n created\n\
          \ updated\n state\n id\n\n List of supported operators:\n '>'  (greater\
          \ than)\n '<'  (less than)\n '>=' (greater than or equal to)\n '<=' (less\
          \ than or equal to)\n '==' (equal to)\n '!=' (not equal to)\n '~' (contains)\n\
          \n Examples with filters that support all operators:\n * Get query with\
          \ match on id:\n id==6ebd9c2d-494d-425a-aa91-24033f3abeec\n * Get me queries\
          \ created after a timestamp, and with a specific state:\n created>=2017-04-05T13:30:00Z,state==IN_PROGRESS\n\
          \nFiltering is also allowed with limited operators on the following properties:\n\
          \ * the referenced_datasets and userId property. This filter only allows\
          \ the '==' equal to operator, and up to 10 dataset ids can be included by\
          \ using the '||' logical OR operator. \n Example: referenced_datasets==aabbcc||ddeeff\n\
          \ * the SQL property. This filter only allows the '~' contains operator,\
          \ and only one SQL string WITHOUT COMMA (,) can be included.\n Example:\
          \ sql~SELECT c1\n * the templateId property: This filter only allows the\
          \ '==' equal to operator, and only one template ID can be included. \n Example:\
          \ templateId=3e61c592-05de-422e-99be-24712c07fc29\n * the templateName property:\
          \ This filter only allows the '~' contains operator, and only one templateName\
          \ can be included. \n Example: templateName~sample-template-name \n * the\
          \ client property. This filter only allows the '==' equal to operator, and\
          \ only one SQL string WITHOUT COMMA (,) can be included.\n Example: client==API\n\
          \ * the scheduleId and scheduleRunId properties. These filters only allow\
          \ the '==' equal to operator.\n Example: scheduleId==bWFudWFsX18yMDE4LTEwLTEyVDA0OjM2OjE5LjkzNzI2Nw==,scheduleRunId==manual__2018-10-12T05:11:40.816520\n\
          \n Example of a complex search with multiple filters:\n * Get me queries\
          \ that utilize two specific datasets,submitted by a particular user, and\
          \ that include the string 'SELECT c1' in the SQL body: referenced_datasets==aabbcc||ddeeff,userId=1234@AdobeId,sql~SELECT\
          \ c1"
        schema:
          type: string
      - name: excludeSoftDeleted
        in: query
        description: Whether to include any queries that have been soft deleted. Defaults
          to true.
        schema:
          type: boolean
      - name: excludeHidden
        in: query
        description: Whether to include any queries that have been found to be not
          interesting, as they were not user driven. Examples include CURSOR definitions,
          FETCH, and Metadata queries. Defaults to true.
        schema:
          type: boolean
      - name: isPrevLink
        in: query
        description: Field indicating if the URI is a previous link.
        schema:
          type: boolean
      responses:
        200:
          description: Query List Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_list'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    post:
      tags:
      - Queries
      summary: Create a query
      operationId: createQuery
      description: This request creates a new query configured by the values provided in the payload. The query required in the request body can be either an SQL statement or a template ID.
      parameters:
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: Content-Type
        in: header
        description: The type of content being sent in the body of the request. The value should be 'application/json'.
        required: true
        schema:
          type: string
      requestBody:
        description: Query to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/query_def'
        required: true
      responses:
        202:
          description: Query status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query'
        400:
          description: Bad Request. The payload may be malformed, or the SQL statement
            has been found to be syntactically incorrect.
          content: {}
        401:
          description: Unauthorized
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: query
  /queries/{queryid}:
    get:
      tags:
      - Queries
      summary: Retrieve a query
      operationId: retrieveQuery
      description: This endpoint provides the query information that relates to the query ID provided in the request.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: queryid
        in: path
        description: Query ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Query status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Query not found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    patch:
      tags:
      - Queries
      summary: Request cancellation or query soft delete
      operationId: cancelQuery
      description: This request cancels the execution of the query that relates to the query ID provided in the request.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: queryid
        in: path
        description: Query ID
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: The type of content being sent in the body of the request. The value should be 'application/json'.
        required: true
        schema:
          type: string
      requestBody:
        description: Requested operation
        content:
          application/json:
            schema:
              type: object
              properties:
                op:
                  type: string
                  enum:
                  - cancel
                  - soft_delete
        required: true
      responses:
        202:
          description: Query termination request submitted successfully
          content: {}
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not found
          content: {}
        409:
          description: Query termination request failed because the job might already
            have terminated
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: operation
  /schedules:
    get:
      tags:
      - Schedules
      summary: List schedules
      operationId: listSchedules
      description: This request provides a list of all query schedules for your organization.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: orderby
        in: query
        description: 'Field to order results by. Supported fields: created, updated.
          Prepend property name with + for ASC,- for DESC order. Default is -created.
          Note that the plus sign (+) has to be escaped with %2B. Example: %2Bcreated
          for ASC created.'
        schema:
          type: string
      - name: limit
        in: query
        description: Hint on number of records to fetch per page.
        schema:
          type: integer
      - name: start
        in: query
        description: Start value of property specified using orderby.
        schema:
          type: string
      - name: property
        in: query
        description: "Comma-separated filters.\n\n List of properties that allow filtering\
          \ with all operators:\n created\n List of supported operators:\n '>'  (greater\
          \ than)\n '<'  (less than)\n Examples with filters that support all operators:\n\
          \ * Get me schedules created after a timestamp:\n created>2017-04-05T13:30:00Z\n\
          \nFiltering is also allowed with limited operators on the following properties:\n\
          \ * the templateId property. This filter only allows the '==' equal to operator.\
          \ \n Example: templateId==123412354\n * the userId property. This filter\
          \ only allows the '==' equal to operator. \n Example: userId==123412354\n"
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      responses:
        200:
          description: Schedules List Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedules_list'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    post:
      tags:
      - Schedules
      summary: Create a scheduled query
      operationId: createSchedule
      description: This request creates a new schedule for the query provided in the request payload. 
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      requestBody:
        description: Schedule to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schedules_create_request'
        required: true
      responses:
        202:
          description: Schedules Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedules'
        400:
          description: Bad Request. The payload may be malformed, or the SQL statement
            has been found to be syntactically incorrect.
          content: {}
        401:
          description: Unauthorized
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: schedule
  /schedules/{schedulesId}:
    get:
      tags:
      - Schedules
      summary: Retrieve a schedule
      operationId: retrieveSchedule
      description: This request lists the details for the schedule ID provided
        in the request path. It returns schedule information that includes the state, creation date, 
        and updated date of the scheduled query, as well as the cadence and user ID who created the schedule.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: schedulesId
        in: path
        description: Schedule ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Schedules Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedules'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Query not found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    delete:
      tags:
      - Schedules
      summary: Delete a schedule
      operationId: deleteSchedule
      description: This request deletes the query schedule for the schedule ID provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: schedulesId
        in: path
        description: Schedule ID
        required: true
        schema:
          type: string
      responses:
        202:
          description: Schedule deleted successfully
          content: {}
        400:
          description: Please disable the schedule before requesting delete operation
            OR There are active run(s) for this schedule, please wait for completion
            before requesting delete operation
          content: {}
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    patch:
      tags:
      - Schedules
      summary: Update a schedule
      operationId: updateSchedule
      description: This request updates the details of the schedule for the schedule ID provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: schedulesId
        in: path
        description: Schedule ID
        required: true
        schema:
          type: string
      requestBody:
        description: List of patch operations
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: array
                  items:
                    $ref: '#/components/schemas/schedule_patch_operation'
        required: true
      responses:
        202:
          description: Request to patch accepted
          content: {}
        400:
          description: Schedule already in the state request OR Schedule is in Inactive
            state. Please try after sometime.
          content: {}
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: body
  /schedules/{schedulesId}/runs:
    get:
      tags:
      - Schedules
      summary: List all runs for a schedule
      operationId: listScheduleRuns
      description: This request lists the run details for the schedule ID provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: orderby
        in: query
        description: 'Field to order results by. Supported fields: created, updated.
          Prepend property name with + for ASC,- for DESC order. Default is -created.
          Note that the plus sign (+) has to be escaped with %2B. Example: %2Bcreated
          for ASC created.'
        schema:
          type: string
      - name: limit
        in: query
        description: Hint on number of records to fetch per page.
        schema:
          type: integer
      - name: start
        in: query
        description: Start value of property specified using orderby.
        schema:
          type: string
      - name: property
        in: query
        description: |-
          Comma-separated filters. Examples below are given with unsafe HTML characters for clarity, but all content MUST be HTML escaped.

           Properties that allow filtering :
           created
           Supported operators:
           '>'  (greater than)
           '<'  (less than)
           state
           Supported operators:
           '==' (equal to)
           '!=' (not equal to)
           externalTrigger
           List of supported operators:
           '==' (equal to)

           Examples with filters that support all operators:
           * Get me  runs created after a timestamp:
           created>2017-04-05T13:30:00Z
           * Get me  runs that have failed: state==FAILED * Get me runs that were manually triggered, and that succeeded: externalTrigger==true,state==SUCCESS
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: schedulesId
        in: path
        description: Schedule ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Schedules Run Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedules_run_list'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    post:
      tags:
      - Schedules
      summary: Trigger an immediate run of a scheduled query
      operationId: triggerScheduleRun
      description: This request triggers an immediate run for the schedule ID provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: schedulesId
        in: path
        description: Schedule ID
        required: true
        schema:
          type: string
      responses:
        202:
          description: Request to trigger run of a scheduled query accepted
          content: {}
        400:
          description: Schedule is disabled. Immediate run cannot be triggered
          content: {}
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /schedules/{schedulesId}/runs/{runId}:
    get:
      tags:
      - Schedules
      summary: Retrieve details of a query schedule run
      operationId: retrieveScheduledQueryRun
      description: This request provides details about a specific run for a specific scheduled query. Both the schedule ID and the run ID must be provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: schedulesId
        in: path
        description: Schedule ID
        required: true
        schema:
          type: string
      - name: runId
        in: path
        description: Run ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Schedules Run Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedules_run_details'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    patch:
      tags:
      - Schedules
      summary: Cancel a run of a scheduled query
      operationId: cancelScheduledQueryRun
      description: This request cancels a specific run for a specific scheduled query. Both the schedule ID and the run ID must be provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: schedulesId
        in: path
        description: Schedule ID
        required: true
        schema:
          type: string
      - name: runId
        in: path
        description: Run ID
        required: true
        schema:
          type: string
      requestBody:
        description: Requested operation
        content:
          application/json:
            schema:
              type: object
              properties:
                op:
                  type: string
                  enum:
                  - cancel
        required: true
      responses:
        202:
          description: Request to cancel run of a scheduled query accepted
          content: {}
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: operation
  /query-templates:
    get:
      tags:
      - Query Templates
      summary: List query templates
      operationId: listQueryTemplates
      description: This request provides a list of every query template.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: isPrevLink
        in: query
        description: Field indicating if the URI is a previous link.
        schema:
          type: boolean
      - name: orderby
        in: query
        description: 'Field to order results by. Supported fields: created, updated.
          Prepend property name with + for ASC,- for DESC order. Default is -created.
          Note that the plus sign (+) has to be escaped with %2B. Example: %2Bcreated
          for ASC created.'
        schema:
          type: string
      - name: limit
        in: query
        description: Hint on number of records to fetch per page.
        schema:
          type: integer
      - name: start
        in: query
        description: Start value of property specified using orderby.
        schema:
          type: string
      - name: property
        in: query
        description: "Comma-separated filters.\n\n List of properties that allow filtering:\n\
          \ name\n userId\n\n lastUpdatedBy\n Supported operators:\n'~' (contains).\
          \ This operator can only be used on the name property. \n '==' (equal to).\
          \ This operator can be used on both the userId and the lastUpdatedBy properties.\
          \ \n\n Example: property=name~Sample query\n\n  \n  Example: property=userId=={USER_ID}"
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_template_list'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    post:
      tags:
      - Query Templates
      summary: Create a query template
      operationId: createQueryTemplate
      description: This request creates a query template.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      requestBody:
        description: Query template to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/query_template_def'
        required: true
      responses:
        202:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_template'
        401:
          description: Unauthorized
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: queryTemplate
  /query-templates/count:
    get:
      tags:
      - Query Templates
      summary: Retrieve the count of query templates
      operationId: retrieveQueryTemplateCount
      description: This request retrieves the count of query templates.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: property
        in: query
        description: "Comma-separated filters. Examples below are given with unsafe\
          \ HTML characters for clarity, but all content MUST be HTML escaped.\n\n\
          \  Currently only userId is allowed in filtering count.\nExample: property=userId=={USER_ID}\n\
          \ "
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template_count'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not found
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /query-templates/{queryTemplateId}:
    get:
      tags:
      - Query Templates
      summary: Retrieve a query template
      operationId: retrieveQueryTemplate
      description: This request retrieves the query template for the template ID provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: queryTemplateId
        in: path
        description: Query Template ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_template'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not found
          content: {}
        500:
          description: Internal Server Error
          content: {}
    put:
      tags:
      - Query Templates
      summary: Update a query template
      operationId: updateQueryTemplate
      description: This request updates the query template for the template ID provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: queryTemplateId
        in: path
        description: Query Template ID
        required: true
        schema:
          type: string
      requestBody:
        description: Query template to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/query_template_def'
        required: true
      responses:
        202:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_template'
        401:
          description: Unauthorized
          content: {}
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: queryTemplate
    delete:
      tags:
      - Query Templates
      summary: Delete a query template
      operationId: deleteQueryTemplate
      description: This request deletes the query template for the template ID provided in the request path.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: queryTemplateId
        in: path
        description: Query Template ID
        required: true
        schema:
          type: string
      responses:
        202:
          description: Query Template Delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/query_template_delete'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not found
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /alert-subscriptions:
    get:
      tags:
      - Alert Subscriptions
      summary: List alerts
      description: This request provides a list of alerts.
      operationId: listAlertsPerImsOrgAndSandbox
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      responses:
        200:
          description: A list of alerts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alerts_per_imsorg_and_sandbox'
        401:
          description: Unauthorized
          content: {}
        500:
          description: Internal Server Error
          content: {}
    post:
      tags:
      - Alert Subscriptions
      summary: Create an alert and subscribe users
      description: This request associates a query to a newly created alert using
        an `assetId` property, and subscribes users to alerts for that query through
        the use of `emailIds`.
      operationId: createAndSubscribeToAnAlert
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-service-token
        in: header
        description: An optional key used to authenticate access.
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      requestBody:
        description: Create an alert for a particular query or schedule ID and subscribe
          `emailId`s to different notification channels.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscribe_user_to_alert_body'
        required: true
      responses:
        200:
          description: The subscription to an alert was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert_subscription_response_body'
        400:
          description: Bad Request. The payload may be malformed, the alert might
            be in a disabled state, or an `emailID` provided for subscribing to the
            alert might not be a registered Adobe ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_bad_request_error_message'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not found. The request cannot be processed because the asset
            ID provided is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_not_found_error_message'
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: alert subscription
  /alert-subscriptions/{assetId}:
    get:
      tags:
      - Alert Subscriptions
      summary: List alert subscription information for a query or schedule
      description: This request lists the alerts for the query ID or schedule ID provided
        in the request path. It returns subscription information that includes a list
        of all subscribed users by providing their email IDs and their chosen notification
        channels.
      operationId: listSubscribersForAnAlertByAssetsId
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: assetId
        in: path
        description: A query or schedule ID that you want the subscription information
          for.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Information on the alerts subscribed to by a particular query
            ID or schedule ID. A maximum of 3 alerts are available in a single response.
            1 alert for each `alertType` is contained in the response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscribers_for_alert_by_assetId'
        401:
          description: Unauthorized
          content: {}
        404:
          description: There is no alert associated with the provided `assetId`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_alert_subscription_for_asset_id_error_message'
        500:
          description: Internal Server Error
          content: {}
  /alert-subscriptions/{assetId}/{alertType}:
    get:
      tags:
      - Alert Subscriptions
      summary: List alert subscription information for a particular query and alert
        type
      description: This request lists the alerts and alert subscription information
        for the query ID and alert type provided in the request path.
      operationId: listSubscribersForAnAlertByAssetIdAndAlertType
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: assetId
        in: path
        description: A query or schedule ID that you want the subscription information
          for.
        required: true
        schema:
          type: string
      - name: alertType
        in: path
        description: This property describes the state of query execution that triggers
          an alert. The response will only include alert subscription information
          for alerts of this type. The alert type is one of three values (`start`,
          `success`, `failure`).
        required: true
        schema:
          type: string
      responses:
        200:
          description: A successful response returns the user email IDs and notification
            channels for a particular query and alert type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscribers_for_alert_by_assetId_and_alertType'
        400:
          description: Bad Request. An invalid `alertType` was provided in the URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_alert_subscription_for_asset_id_and_alert_type_bad_request_error_message'
        401:
          description: Unauthorized
          content: {}
        404:
          description: No alert was found for the given `assetId`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_alert_subscription_for_asset_id_and_alert_type_not_found_error_message'
        500:
          description: Internal Server Error.
          content: {}
    delete:
      tags:
      - Alert Subscriptions
      summary: Delete the alert for a particular query and alert type
      description: Delete a specific alert by providing either an alert type and a
        query ID or an alert type and a schedule ID in the request path.
      operationId: deleteAlert
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: assetId
        in: path
        description: A query ID or a schedule ID that you want to delete the alert
          for.
        required: true
        schema:
          type: string
      - name: alertType
        in: path
        description: The state of query execution that triggers the alert to be deleted.
          The alert type is one of three values (`start`, `success`, `failure`).
        required: true
        schema:
          type: string
      responses:
        200:
          description: Alert deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert_deleted'
        400:
          description: Bad Request. An invalid `alertType` was provided in the URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert_deleted_bad_request_error_message'
        401:
          description: Unauthorized
          content: {}
        404:
          description: No alert was found for the given `assetId` and `alertType`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert_deleted_not_found_error_message'
        500:
          description: Internal Server Error.
          content: {}
    patch:
      tags:
      - Alert Subscriptions
      summary: Enable or disable an alert
      description: Update the status of an alert to either `enable` or `disable` by
        providing a query or schedule ID and an alert type in the request path.
      operationId: patchAlert
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: assetId
        in: path
        description: A query ID or a schedule ID.
        required: true
        schema:
          type: string
      - name: alertType
        in: path
        description: This property determines the state of query execution that triggers
          a user to receive an alert. The alert type is one of three values (`start`,
          `success`, `failure`).
        required: true
        schema:
          type: string
      requestBody:
        description: The requested operation.
        content:
          application/json:
            schema:
              type: object
              properties:
                op:
                  type: string
                  description: The operation to be performed. The only accepted value
                    is `replace`. It replaces the current alert's status with the
                    value provided in the request.
                  enum:
                  - replace
                path:
                  type: string
                  description: The path must be `/status` to ensure the alert `status`
                    is updated.
                  enum:
                  - /status
                value:
                  type: string
                  description: The provided value will be the status of the alert
                    after the update takes effect.
                  enum:
                  - enable
                  - disable
        required: true
      responses:
        200:
          description: The alert status has been updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert_patched'
        400:
          description: Bad Request. The payload may be malformed, or an invalid `alertType`
            may have been provided in URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert_patched_bad_request_error_message'
        401:
          description: Unauthorized
          content: {}
        404:
          description: No alert found for the `assetId` and `alertType` provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alert_patched_not_found_error_message'
        500:
          description: Internal Server Error
          content: {}
      x-codegen-request-body-name: operation
  /alert-subscriptions/user-subscriptions/{emailID}:
    get:
      tags:
      - Alert Subscriptions
      summary: List information on all alerts that a user is subscribed to
      description: This request lists the alerts subscribed to by the email ID provided
        in the request path. The returned information includes the alert name, IDs,
        status, alert type, and notification channels.
      operationId: listAllAlertsSubscribedToByEmailId
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform
          integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`).
          For more information on how to obtain this value, visit the documentation
          covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: The API key which can be copied from your Experience Platform
          integration. For more information on how to obtain this value, visit the
          documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: The name of the sandbox in which the operation will take place.
          See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en)
          for more information.
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An optional header that serves as a tracking ID for the request.
          If one is not provided on the request, the server generates one automatically.
        schema:
          type: string
      - name: User-Agent
        in: header
        description: The type of the client making the HTTP request.
        schema:
          type: string
      - name: emailID
        in: path
        description: An Adobe-registered email address whose alert subscriptions you
          want to retrieve.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Details of all alerts subscribed to by the `emailId` provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alerts_to_which_user_subscribed_response'
        400:
          description: Bad Request. The emailID is not an Adobe registered ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_alerts_to_which_user_subscribed_bad_request_error_message'
        401:
          description: Unauthorized
          content: {}
        500:
          description: Internal Server Error
          content: {}
  /accelerated-queries:
    post:
      tags:
      - Accelerated Queries
      summary: Query the accelerated store
      operationId: runAcceleratedQuery
      description: Run a query on accelerated store datasets by including either an SQL statement or a template ID within the request payload.
      parameters:
      - name: Authorization
        in: header
        description: The access token which can be copied from your Experience Platform integration, prefixed with "Bearer " (for example, `Bearer {ACCESS_TOKEN}`). For more information on how to obtain this value, visit the documentation covering making API calls in the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: The Organization ID which can be copied from your Experience
          Platform integration. For more information on how to obtain this value,
          visit the documentation covering making API calls in the [authentication
          tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
[...]
