swagger: '2.0'
info:
  version: '1.0'
  title: Reactor API
  description: >- 
    The Reactor API is used to programmatically manage resources and develop tag extensions in Adobe Experience Platform.
  
  
    Related documentation:
      * [Tags overview and UI documentation](https://adobe.com/go/launch_help_en)
      * [Reactor API documentation](https://adobe.com/go/reactor-api-overview)
  
    API paths:
      * Reactor Gateway URL: https://<span>reactor.adobe.io
      * Example of a complete path for making a call to `/properties`: https://<span>reactor.adobe.io/properties
    
    Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/launch-authentication-en).
      * All GET requests to the Reactor API require an `Accept` header to determine what data is returned by the system. In most cases, this value will be `application/vnd.api+json;revision=#` (where `#` is the revision number of the resource you want to retrieve, e.g. `1`).
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type`. The specific `Content-Type` value for each call is provided in the parameters sections in the endpoints listed below.
host: reactor.adobe.io
tags:
  - name: Companies
    description: A company represents the organization of a tags user, typically a business. These companies match 1:1 with IMS Organization IDs. API users will only have visibility into the companies to which they have access. Nearly all API usage is performed using an Adobe I/O integration which is scoped to a single IMS Org, and therefore the /companies endpoint is not a major part of most workflows. Most use cases start with a property instead.
  - name: Properties
    description: A property is a container that holds most of the other resources available within the Reactor API. The only resources that are not owned by a property are audit events, companies, extension packages, and profiles. A property belongs to exactly one company, and a company can have many properties.
  - name: Data elements
    description: A data element functions as a variable which points to an important piece of data within your application. Data elements are used within rules and extension configurations. When the rule is triggered at runtime in a browser or an application, the value of the data element is resolved and used within the rule.
  - name: Rules
    description: Rules control the behavior of the resources contained in a deployed library. A rule is a group of one or more rule components, and exists to tie the rule components together in a logical way.
  - name: Rule components
    description: >-
      Rule components are the individual items that make up a rule. Rule components have three basic types: events (what triggers a rule), conditions (what the rule checks to determine an action), and actions (what the rule executes depending on whether the condition is met). A rule component can **only** belong to exactly one rule.
  - name: Extension packages
    description: An extension package represents a grouping of individual capabilities that can be made available to a tags user. Most commonly, these capabilities come in the form of rule components (events, conditions, and actions) and data elements, but can also include main modules and shared modules. The capabilities provided by an extension package are installed as an extension when it is included in a library.
  - name: Extensions
    description: An extension represents the installed instance of an extension package. An extension makes the features defined by an extension package available to a property. These features are leveraged when creating data elements and rule components.
  - name: Libraries
    description: A library is a collection of resources (extensions, rules, and data elements) that represent the desired behavior of a property. Libraries are compiled into builds, and those builds are assigned to different environments as they move down the publishing flow from testing to production.
  - name: Builds
    description: A tag library is compiled into a build in order for it to be assigned to an environment for testing and deployment. The contents of a build varies depending on the resources included in the library, the configuration of the environment to which the build is assigned, and the platform of the property that the build belongs to.
  - name: Environments
    description: An environment indicates the specific host where a build can be deployed, and whether the build should be deployed as a set of files or compressed in an archive format. In the Reactor API, environments are separate from hosts themselves, which are managed by the /hosts endpoint.
  - name: Hosts
    description: A host represents a hosted destination where a library build can be delivered and ultimately deployed. Hosts can be either Akamai or SFTP servers.
  - name: Secrets
    description: A secret is a resource that represents an authentication credential. Secrets are used in event forwarding to authenticate to another system for secure data exchange. Secrets can only be created within event forwarding properties (properties whose `platform` attribute is set to `edge`).
  - name: App configurations
    description: App configurations allow credentials to be stored and retrieved for later use.
  - name: Audit events
    description: An audit event is a record of a specific change to another tag resource, generated at the time the change is made. These are system events which can be subscribed to through the use of a callback function.
  - name: Callbacks
    description: A callback is a message that Platform sends to a URL host whenever a new audit event is generated.
  - name: Notes
    description: Notes are textual annotations that you can add to certain tag resources, such as data elements, extensions, libraries, properties, rules, and rule components.
  - name: Profiles
    description: A profile represents a tags user. Platform does not maintain its own database of users and permissions, and instead relies on Adobe IDs managed by Adobe’s company-wide Identity Management System (IMS). A profile contains all the information about the logged-in user, including all the Adobe Orgs to which they belong, the product profiles they belong to within each Org, and the rights they have from each product profile.
  - name: Search
    description: The search endpoint provides a way to find resources matching a desired criteria, expressed as a query. All queries are scoped to your current company and accessible properties. 
consumes:
  - application/vnd.api+json
produces:
  - application/vnd.api+json
paths:
  '/companies':
    get:
      tags:
        - Companies
      summary: List companies
      description: >-
        >**NOTE**: For more information on using this operation, see the [companies endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/companies.html) on Experience League.
      operationId: listCompanies
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/org_id'
        - $ref: '#/parameters/token'
      
      responses:
        200:
          description: A successful response returns an array of companies, including their IDs and attributes.
          schema:
            $ref: '#/definitions/companiesListResponse'
  '/companies/{COMPANY_ID}':
    get:
      tags:
        - Companies
      summary: Retrieve a company
      description: >-
        >**NOTE**: For more information on using this operation, see the [companies endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/companies.html) on Experience League.
      operationId: retrieveCompany
      parameters:
        - name: COMPANY_ID
          in: path
          required: true
          description: The ID of the company you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the company.
          schema:
            $ref: '#/definitions/companiesLookupResponse'
  '/companies/{COMPANY_ID}/properties':
    get:
      tags:
        - Companies
        - Properties
      summary: List a company's properties
      description: >-
        >**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.
      operationId: listProperties
      parameters:
        - name: COMPANY_ID
          in: path
          required: true
          description: The ID of the company whose properties you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/app_id'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/copying'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/platform'
        - $ref: '#/parameters/token'
      
      responses:
        200:
          description: A successful response returns an array, listing the properties belonging to the specified company.
          schema:
            $ref: '#/definitions/propertiesListResponse'
    post:
      tags:
        - Companies
        - Properties
      summary: Create a new property
      description: >-
        >**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.
      operationId: createProperty
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: COMPANY_ID
          in: path
          required: true
          description: The ID of the company that you want to define the property under.
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/createPropertyPayload'
      responses:
        201:
          description: A successful response returns the details of the newly created property.
          schema:
            $ref: '#/definitions/propertiesLookupResponse'
  '/companies/{COMPANY_ID}/app_configurations':
    get:
      tags:
        - Companies
        - App configurations
      summary: List a company's app configurations
      description: >-
        >**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.
      operationId: listAppConfigurations
      parameters:
        - name: COMPANY_ID
          in: path
          required: true
          description: The ID of the company whose app configurations you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/app_id'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/key_type'
        - $ref: '#/parameters/messaging_service'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/platform'
      
      responses:
        200:
          description: A successful response returns an array, listing the app configurations belonging to the specified company.
          schema:
            $ref: '#/definitions/appConfigurationsListResponse'
    post:
      tags:
        - Companies
        - App configurations
      summary: Create an app configuration
      description: >-
        >**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.
      operationId: createAppConfiguration
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: COMPANY_ID
          in: path
          required: true
          description: The ID of the company that you want to define the app configuration under.
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/appConfigurationsCreatePayload'
      responses:
        201:
          description: A successful response returns the details of the newly created app configuration.
          schema:
            $ref: '#/definitions/appConfigurationsLookupResponse'
  '/properties/{PROPERTY_ID}':
    get:
      tags:
        - Properties
      summary: Retrieve a property
      description: >-
        >**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.
      operationId: retrieveProperty
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the property.
          schema:
            $ref: '#/definitions/propertiesLookupResponse'
    patch:
      tags:
        - Properties
      summary: Update a property
      description: >-
        >**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.
      operationId: updateProperty
      parameters:
      - name: PROPERTY_ID
        in: path
        required: true
        description: The ID of the property you want to update.
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/content-type'
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/propertiesUpdatePayload'
      responses:
        200:
          description: A successful response returns the details of the updated property.
          schema:
            $ref: '#/definitions/propertiesUpdateResponse'
    delete:
      tags:
        - Properties
      summary: Delete a property
      description: >-
        >**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.
      operationId: deleteProperty
      parameters:
      - name: PROPERTY_ID
        in: path
        required: true
        description: The ID of the property you want to delete.
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
  '/app_configurations/{CONFIG_ID}':
    get:
      tags:
      - App configurations
      summary: Retrieve an app configuration
      description: >-
        >**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.
      operationId: retrieveAppConfiguration
      parameters:
      - name: CONFIG_ID
        in: path
        required: true
        description: The ID of the app configuration you want to look up.
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the app configuration.
          schema:
            $ref: '#/definitions/appConfigurationsLookupResponse'
    patch:
      tags:
        - App configurations
      summary: Update an app configuration
      description: >-
        >**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.
      operationId: updateAppConfiguration
      parameters:
      - name: CONFIG_ID
        in: path
        required: true
        description: The ID of the app configuration you want to update.
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/content-type'
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/appConfigurationsCreatePayload'
      responses:
        200:
          description: A successful response returns the details of the updated app configuration.
          schema:
            $ref: '#/definitions/appConfigurationsUpdateResponse'
    delete:
      tags:
        - App configurations
      summary: Delete an app configuration
      description: >-
        >**NOTE**: For more information on using this operation, see the [app configurations endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/app-configurations.html) on Experience League.
      operationId: deleteAppConfiguration
      parameters:
      - name: CONFIG_ID
        in: path
        required: true
        description: The ID of the app configuration you want to delete.
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
  '/app_configurations/{CONFIG_ID}/company':
    get:
      tags:
        - App configurations
      summary: Retrieve the company that owns an app configuration
      operationId: retrieveAppConfigurationCompany
      parameters:
      - name: CONFIG_ID
        in: path
        required: true
        description: The ID of the app configuration whose company you want to look up.
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      responses:
        200:
          description: A successful response returns the details of the company that owns the app configuration.
          schema:
            $ref: '#/definitions/appConfigurationsCompanyLookupResponse'
  '/properties/{PROPERTY_ID}/company':
    get:
      tags:
        - Properties
      summary: Retrieve the company that owns a property
      description: >-
        >**NOTE**: For more information on using this operation, see the [properties endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/properties.html) on Experience League.
      operationId: retrievePropertyCompany
      parameters:
      - name: PROPERTY_ID
        in: path
        required: true
        description: The ID of the property whose company you want to look up.
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      responses:
        200:
          description: A successful response returns the details of the company that owns the property.
          schema:
            $ref: '#/definitions/companiesLookupResponse'
  '/properties/{PROPERTY_ID}/callbacks':
    get:
      tags:
        - Properties
        - Callbacks
      summary: List a property's callbacks
      description: >-
        >**NOTE**: For more information on using this operation, see the [callbacks endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/callbacks.html) on Experience League.
      operationId: listCallbacks
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property whose callbacks you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
      
      responses:
        200:
          description: A successful response returns an array of callbacks belonging to the specified property.
          schema:
            $ref: '#/definitions/callbacksListResponse'
    post:
      tags:
        - Properties
        - Callbacks
      summary: Create a new callback
      description: >-
        >**NOTE**: For more information on using this operation, see the [callbacks endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/callbacks.html) on Experience League.
      operationId: createCallback
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property that you want to create a callback for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/callbacksCreatePayload'
      
      responses:
        201:
          description: A successful response returns the details of the newly created callback.
          schema:
            $ref: '#/definitions/callbacksCreateResponse'
  '/properties/{PROPERTY_ID}/data_elements':
    get:
      tags:
        - Properties
        - Data elements
      summary: List a property's data elements
      description: >-
        >**NOTE**: For more information on using this operation, see the [data elements endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/data-elements.html) on Experience League.
      operationId: listPropertyDataElements
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property whose data elements you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/published_at'
        - $ref: '#/parameters/published'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/origin_id'
        - $ref: '#/parameters/revision_number'
      
      responses:
        200:
          description: A successful response returns an array of data elements belonging to the specified property.
          schema:
            $ref: '#/definitions/dataElementsListResponse'
    post:
      tags:
        - Properties
        - Data elements
      summary: Create a data element
      description: >-
        >**NOTE**: For more information on using this operation, see the [data elements endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/data-elements.html) on Experience League.
      operationId: createDataElement
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property that you want to create a data element for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/dataElementsCreatePayload'
      
      responses:
        201:
          description: A successful response returns the details of the newly created data element.
          schema:
            $ref: '#/definitions/dataElementsCreateResponse'
  '/properties/{PROPERTY_ID}/environments':
    get:
      tags:
        - Properties
        - Environments
      summary: List a property's environments
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: listEnvironments
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property whose environments you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/stage'
        - $ref: '#/parameters/token'
      
      responses:
        200:
          description: A successful response returns an array of environments belonging to the specified property.
          schema:
            $ref: '#/definitions/environmentsListResponse'
    post:
      tags:
        - Properties
        - Environments
      summary: Create an environment
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: createEnvironment
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property that you want to create an environment for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/environmentsCreatePayload'
      
      responses:
        201:
          description: A successful response returns the details of the newly created environment.
          schema:
            $ref: '#/definitions/environmentsCreateResponse'
  '/properties/{PROPERTY_ID}/extensions':
    get:
      tags:
        - Properties
        - Extensions
      summary: List a property's extensions
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: listExtensions
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property whose extensions you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/display_name'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/origin_id'
        - $ref: '#/parameters/published'
        - $ref: '#/parameters/published_at'
        - $ref: '#/parameters/revision_number'
        - $ref: '#/parameters/version'
      
      responses:
        200:
          description: A successful response returns an array of extensions belonging to the specified property.
          schema:
            $ref: '#/definitions/extensionsListResponse'
    post:
      tags:
        - Properties
        - Extensions
      summary: Create an extension
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: createExtension
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property that you want to create an extension for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/extensionsCreatePayload'
      
      responses:
        201:
          description: A successful response returns the details of the newly created extension.
          schema:
            $ref: '#/definitions/extensionsCreateResponse'
  '/properties/{PROPERTY_ID}/hosts':
    get:
      tags:
        - Properties
        - Hosts
      summary: List a property's hosts
      description: >-
        >**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.
      operationId: listHosts
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property whose hosts you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/display_name'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/origin_id'
        - $ref: '#/parameters/published'
        - $ref: '#/parameters/published_at'
        - $ref: '#/parameters/revision_number'
        - $ref: '#/parameters/version'
      
      responses:
        200:
          description: A successful response returns an array of hosts belonging to the specified property.
          schema:
            $ref: '#/definitions/hostsListResponse'
    post:
      tags:
        - Properties
        - Hosts
      summary: Create a host
      description: >-
        >**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.
      operationId: createHost
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property that you want to create a host for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/hostsCreatePayload'
      
      responses:
        201:
          description: A successful response returns the details of the newly created host.
          schema:
            $ref: '#/definitions/hostsCreateResponse'
  '/properties/{PROPERTY_ID}/libraries':
    get:
      tags:
        - Properties
        - Libraries
      summary: List a property's libraries
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: listLibraries
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property whose libraries you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/stale'
        - $ref: '#/parameters/state'
      
      responses:
        200:
          description: A successful response returns an array of libraries belonging to the specified property.
          schema:
            $ref: '#/definitions/librariesListResponse'
    post:
      tags:
        - Properties
        - Libraries
      summary: Create a library
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: createLibrary
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property that you want to create a library for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/librariesCreatePayload'
      
      responses:
        201:
          description: A successful response returns the details of the newly created library.
          schema:
            $ref: '#/definitions/librariesCreateResponse'
  '/properties/{PROPERTY_ID}/rules':
    get:
      tags:
        - Properties
        - Rules
      summary: List a property's rules
      description: >-
        >**NOTE**: For more information on using this operation, see the [rules endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/rules.html) on Experience League.
      operationId: listRules
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property whose rules you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/dirty'
        - $ref: '#/parameters/enabled'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/origin_id'
        - $ref: '#/parameters/published'
        - $ref: '#/parameters/published_at'
        - $ref: '#/parameters/revision_number'
      
      responses:
        200:
          description: A successful response returns an array of rules belonging to the specified property.
          schema:
            $ref: '#/definitions/rulesListResponse'
    post:
      tags:
        - Properties
        - Rules
      summary: Create a rule
      description: >-
        >**NOTE**: For more information on using this operation, see the [rules endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/rules.html) on Experience League.
      operationId: createRule
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property that you want to create a rule for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/rulesCreatePayload'
      responses:
        201:
          description: A successful response returns the details of the newly created rule.
          schema:
            $ref: '#/definitions/rulesCreateResponse'
  '/properties/{PROPERTY_ID}/secrets':
    get:
      tags:
        - Properties
        - Secrets
      summary: List a property's secrets
      description: >-
        >**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.
      operationId: listSecrets
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property whose secrets you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/environment_id'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/status'
        - $ref: '#/parameters/type_of'
        - $ref: '#/parameters/updated_at'
      
      responses:
        200:
          description: A successful response returns an array of secrets belonging to the specified property.
          schema:
            $ref: '#/definitions/secretsListResponse'
    post:
      tags:
        - Properties
        - Secrets
      summary: Create a secret
      description: >-
        >**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.
      operationId: createSecret
      parameters:
        - name: PROPERTY_ID
          in: path
          required: true
          description: The ID of the property that you want to create a secret for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/secretsCreatePayload'
      responses:
        201:
          description: A successful response returns the details of the newly created secret.
          schema:
            $ref: '#/definitions/secretsCreateResponse'
  '/callbacks/{CALLBACK_ID}':
    get:
      tags:
        - Callbacks
      summary: Retrieve a callback
      description: >-
        >**NOTE**: For more information on using this operation, see the [callbacks endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/callbacks.html) on Experience League.
      operationId: retrieveCallback
      parameters:
        - name: CALLBACK_ID
          in: path
          required: true
          description: The ID of the callback you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the callback.
          schema:
            $ref: '#/definitions/callbacksLookupResponse'
    patch:
      tags:
        - Callbacks
      summary: Update a callback
      description: >-
        >**NOTE**: For more information on using this operation, see the [callbacks endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/callbacks.html) on Experience League.
      operationId: updateCallback
      parameters:
        - name: CALLBACK_ID
          in: path
          required: true
          description: The ID of the callback you want to update.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/callbacksUpdatePayload'
      
      responses:
        200:
          description: A successful response returns the details of the updated callback.
          schema:
            $ref: '#/definitions/callbacksUpdateResponse'
    delete:
      tags:
        - Callbacks
      summary: Delete a callback
      description: >-
        >**NOTE**: For more information on using this operation, see the [callbacks endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/callbacks.html) on Experience League.
      operationId: deleteCallback
      parameters:
        - name: CALLBACK_ID
          in: path
          required: true
          description: The ID of the callback you want to delete.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
      
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
  '/data_elements/{DATA_ELEMENT_ID}':
    get:
      tags:
        - Data elements
      summary: Retrieve a data element
      description: >-
        >**NOTE**: For more information on using this operation, see the [data elements endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/data-elements.html) on Experience League.
      operationId: retrieveDataElement
      parameters:
        - name: DATA_ELEMENT_ID
          in: path
          required: true
          description: The ID of the data element you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the data element.
          schema:
            $ref: '#/definitions/dataElementsLookupResponse'
    patch:
      tags:
        - Data elements
      summary: Update a data element
      operationId: updateDataElement
      description: >-
        When updating a data element, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.


        You can also create a new revision of the data element which is assigned its own ID. The original data element may be discovered via the origin link. Revising a data element is achieved by supplying a `meta` attribute containing an `action` property with the value `revise`. Excluding this property will update the current revision of the data element without creating a new one.



        >**NOTE**: For more information on using this operation, see the [data elements endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/data-elements.html) on Experience League.
      parameters:
        - name: DATA_ELEMENT_ID
          in: path
          required: true
          description: The ID of the data element you want to update.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/dataElementsUpdatePayload'
      responses:
        200:
          description: A successful response returns the details of the updated data element or its new revision.
          schema:
            $ref: '#/definitions/dataElementsUpdateResponse'
  '/environments/{ENVIRONMENT_ID}':
    get:
      tags:
        - Environments
      summary: Retrieve an environment
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: retrieveEnvironment
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the environment.
          schema:
            $ref: '#/definitions/environmentsLookupResponse'
    patch:
      tags:
        - Environments
      summary: Update an environment
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: updateEnvironment
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment you want to update.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/environmentsUpdatePayload'
      
      responses:
        200:
          description: A successful response returns the details of the updated environment.
          schema:
            $ref: '#/definitions/environmentsUpdateResponse'
    delete:
      tags:
        - Environments
      summary: Delete an environment
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: deleteEnvironment
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment you want to delete.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
      
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
  '/secrets/{SECRET_ID}':
    get:
      tags:
        - Secrets
      summary: Retrieve a secret
      description: >-
        >**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.
      operationId: retrieveSecret
      parameters:
        - name: SECRET_ID
          in: path
          required: true
          description: The ID of the secret you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the secret.
          schema:
            $ref: '#/definitions/secretsLookupResponse'
    patch:
      tags:
        - Secrets
      summary: Test or retry a secret
      operationId: testOrRetrySecret
      description: >-
        This call tests or retries a secret depending on the value of the `meta.action` property in the request payload. This call does not update the secret itself.
        


        You can retry a secret by setting the `action` property to `retry`. Retrying a secret is the action of manually triggering the secret exchange.



        If the secret in question is an `oauth2` type, you can test it by setting the `action` property to `test` instead. This performs an exchange with the authorization service and includes the response in the `test_exchange` attribute in the secret’s `meta` object.



        >**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.
      parameters:
        - name: SECRET_ID
          in: path
          required: true
          description: The ID of the secret you want to test or retry.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/secretsUpdatePayload'
      
      responses:
        200:
          description: A successful response returns the details of the updated secret.
          schema:
            $ref: '#/definitions/secretsUpdateResponse'
    delete:
      tags:
        - Secrets
      summary: Delete a secret
      description: >-
        >**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.
      operationId: deleteSecret
      parameters:
        - name: SECRET_ID
          in: path
          required: true
          description: The ID of the secret you want to delete.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
      
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
  '/environments/{ENVIRONMENT_ID}/builds':  
    get:
      tags:
        - Environments
      summary: List an environment's builds
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: listBuilds
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment whose related builds you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
      
      responses:
        200:
          description: A successful response returns an array of builds that use the specified environment.
          schema:
            $ref: '#/definitions/environmentsBuildsListResponse'
  '/environments/{ENVIRONMENT_ID}/secrets':  
    get:
      tags:
        - Secrets
        - Environments
      summary: List an environment's secrets
      description: >-
        >**NOTE**: For more information on using this operation, see the [secrets endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/secrets.html) on Experience League.
      operationId: listSecrets
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment whose related secrets you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
      
      responses:
        200:
          description: A successful response returns an array of secrets that are associated with the specified environment.
          schema:
            $ref: '#/definitions/environmentsSecretsListResponse'
  '/environments/{ENVIRONMENT_ID}/host':
    get:
      tags:
        - Environments
      summary: Retrieve a host
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: retrieveEnvironmentHost
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment whose host you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the environment's associated host.
          schema:
            $ref: '#/definitions/environmentsHostLookupResponse'
  '/environments/{ENVIRONMENT_ID}/relationships/host':
    get:
      tags:
        - Environments
      summary: Retrieve the host relationship for an environment
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: retrieveHostRelationship
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment whose host relationship you want to retrieve.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the host relationship for the specified environment.
          schema:
            $ref: '#/definitions/environmentsHostRelationshipLookupResponse'
  '/environments/{ENVIRONMENT_ID}/library':
    get:
      tags:
        - Environments
      summary: Retrieve an environment's related library
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: retrieveEnvironmentLibrary
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment whose related library you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the environment's associated library.
          schema:
            $ref: '#/definitions/environmentsLibraryLookupResponse'
  '/environments/{ENVIRONMENT_ID}/property':
    get:
      tags:
        - Environments
      summary: Retrieve the property that owns an environment
      description: >-
        >**NOTE**: For more information on using this operation, see the [environments endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/environments.html) on Experience League.
      operationId: retrieveEnvironmentProperty
      parameters:
        - name: ENVIRONMENT_ID
          in: path
          required: true
          description: The ID of the environment whose related property you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the environment's associated property.
          schema:
            $ref: '#/definitions/environmentsPropertyLookupResponse'
  '/extension_packages':
    get:
      tags:
        - Extension packages
      summary: List extension packages
      description: >-
        >**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.
      operationId: listExtensionPackages
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/name'
        - $ref: '#/parameters/display_name'
        - $ref: '#/parameters/status'
        - $ref: '#/parameters/platform'
        - $ref: '#/parameters/version'
        
      
      responses:
        200:
          description: A successful response returns an array of extension packages, including their IDs and attributes.
          schema:
            $ref: '#/definitions/extensionPackagesListResponse'
    post:
      tags:
        - Extension packages
      summary: Create an extension package
      operationId: createExtensionPackage
      description: >-
        >**NOTE**: Instead of a JSON payload, this endpoint expects a file upload via multipart form data.
        >
        >For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.
      consumes:
      - multipart/form-data
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type-form'
        - name: package
          in: formData
          required: true
          description: The extension package archive file.
          type: file
      
      responses:
        202:
          description: A successful response returns the details of the newly created extension package.
          schema:
            $ref: '#/definitions/extensionPackagesCreateResponse'
  '/extension_packages/{EXTENSION_PACKAGE_ID}':
    get:
      tags:
        - Extension packages
      summary: Retrieve an extension package
      description: >-
        >**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.
      operationId: retrieveExtensionPackage
      parameters:
        - name: EXTENSION_PACKAGE_ID
          in: path
          required: true
          description: The ID of the extension package you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the extension package.
          schema:
            $ref: '#/definitions/extensionPackagesLookupResponse'
    post:
      tags:
        - Extension packages
      summary: Update an extension package
      operationId: updateExtensionPackage
      description: >-
        Only development extension packages can be updated using a new archive file. Once the extension package has been transitioned to either private or public, it can no longer be updated. If you want to add new functionality or fix bugs, you must first create a new extension package with the same name, but with a new version. When this new extension package is transitioned to private or public, it will become available in the marketplace and replace the previous version.


        >**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.
      consumes:
        - multipart/form-data    
      parameters:
        - name: EXTENSION_PACKAGE_ID
          in: path
          required: true
          description: The ID of the development extension package you want to update.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type-form'
        - name: package
          in: formData
          required: true
          description: The extension package archive file.
          type: file
      
      responses:
        200:
          description: A successful response returns the details of the updated extension package.
          schema:
            $ref: '#/definitions/extensionPackagesLookupResponse'
    patch:
      tags:
        - Extension packages
      summary: Privately release or discontinue an extension package
      operationId: privateReleaseExtensionPackage
      description: >-
        Once you have completed testing your extension package you can release it privately. This makes it available to any property within your company. After you have released it privately, you can begin the public release process by filling out the [Public Release Request Form](https://adobe.allegiancetech.com/cgi-bin/qwebcorporate.dll?idx=7DRB5U).
          

        When privately releasing or discontinuing an extension package, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.



        >**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.
      parameters:
        - name: EXTENSION_PACKAGE_ID
          in: path
          required: true
          description: The ID of the development extension package you want to privately release or discontinue.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/extensionPackagesPatchPayload'
      
      responses:
        200:
          description: A successful response returns the details of the updated extension package.
          schema:
            $ref: '#/definitions/extensionPackagesPatchResponse'
  '/extension_packages/{EXTENSION_PACKAGE_ID}/versions':
    get:
      tags:
        - Extension packages
      summary: Retrieve an extension package's versions
      description: >-
        >**NOTE**: For more information on using this operation, see the [extension packages endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extension-packages.html) on Experience League.
      operationId: retrieveExtensionPackageVersion
      parameters:
        - name: EXTENSION_PACKAGE_ID
          in: path
          required: true
          description: The ID of the extension package whose versions you want to retrieve.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns a list of each version of the extension package.
          schema:
            $ref: '#/definitions/extensionPackagesVersionsListResponse'
  '/extensions/{EXTENSION_ID}':
    get:
      tags:
        - Extensions
      summary: Retrieve an extension
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: retrieveExtension
      parameters:
        - name: EXTENSION_ID
          in: path
          required: true
          description: The ID of the extension you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the extension.
          schema:
            $ref: '#/definitions/extensionsLookupResponse'
    patch:
      tags:
        - Extensions
      summary: Revise an extension
      operationId: reviseExtension
      description: >-
        This operation creates a new revision of an extension with the current (head) revision. A revision of an extension has its own ID, and the original extension may be discovered via the `origin` link.


        When revising an extension, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.



        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      parameters:
        - name: EXTENSION_ID
          in: path
          required: true
          description: The ID of the extension you want to revise.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/extensionsUpdatePayload'
      
      responses:
        200:
          description: A successful response returns the details of the new revision for the extension.
          schema:
            $ref: '#/definitions/extensionsUpdateResponse'
    delete:
      tags:
        - Extensions
      summary: Delete an extension
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: deleteExtension
      parameters:
        - name: EXTENSION_ID
          in: path
          required: true
          description: The ID of the extension you want to delete.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
      
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
  '/extensions/{EXTENSION_ID}/extension_package':
    get:
      tags:
        - Extensions
      summary: Retrieve the extension package for an extension
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: retrievePackageForExtension
      parameters:
        - name: EXTENSION_ID
          in: path
          required: true
          description: The ID of the extension whose extension package you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the extension package associated with the specified extension.
          schema:
            $ref: '#/definitions/extensionsExtensionPackageLookupResponse'
  '/extensions/{EXTENSION_ID}/libraries':
    get:
      tags:
        - Extensions
      summary: List the libraries that use an extension
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: listExtensionLibraries
      parameters:
        - name: EXTENSION_ID
          in: path
          required: true
          description: The ID of the extension whose libraries you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
      
      responses:
        200:
          description: A successful response returns an array of libraries that use the specified extension.
          schema:
            $ref: '#/definitions/extensionsLibrariesListResponse'
  '/extensions/{EXTENSION_ID}/property':
    get:
      tags:
        - Extensions
      summary: Retrieve an extension's property
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: retrieveExtensionProperty
      parameters:
        - name: EXTENSION_ID
          in: path
          required: true
          description: The ID of the extension whose property you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the property that owns the specified extension property.
          schema:
            $ref: '#/definitions/extensionsPropertyLookupResponse'
  '/extensions/{EXTENSION_ID}/origin':
    get:
      tags:
        - Extensions
      summary: Retrieve an extension's origin
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: retrieveExtensionOrigin
      parameters:
        - name: EXTENSION_ID
          in: path
          required: true
          description: The ID of the extension whose origin you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the specified extension's origin.
          schema:
            $ref: '#/definitions/extensionsOriginLookupResponse'
  '/extensions/{EXTENSION_ID}/revisions':
    get:
      tags:
        - Extensions
      summary: List an extension's revisions
      description: >-
        >**NOTE**: For more information on using this operation, see the [extensions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/extensions.html) on Experience League.
      operationId: listExtensionRevisions
      parameters:
        - name: EXTENSION_ID
          in: path
          required: true
          description: The ID of the extension whose revisions you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
      
      responses:
        200:
          description: A successful response returns an array of revisions for the specified extension.
          schema:
            $ref: '#/definitions/extensionsRevisionsListResponse'
  '/hosts/{HOST_ID}':
    get:
      tags:
        - Hosts
      summary: Retrieve a host
      description: >-
        >**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.
      operationId: retrieveHost
      parameters:
        - name: HOST_ID
          in: path
          required: true
          description: The ID of the host you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the host.
          schema:
            $ref: '#/definitions/hostsLookupResponse'
    patch:
      tags:
        - Hosts
      summary: Update a host
      operationId: updateHost
      description: >-
        Only hosts with a `type_of` value of `sftp` may be updated.


        >**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.
      parameters:
        - name: HOST_ID
          in: path
          required: true
          description: The ID of the host you want to update.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/hostsUpdatePayload'
      
      responses:
        200:
          description: A successful response returns the details of the updated host.
          schema:
            $ref: '#/definitions/hostsUpdateResponse'
    delete:
      tags:
        - Hosts
      summary: Delete a host
      description: >-
        >**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.
      operationId: deleteHost
      parameters:
        - name: HOST_ID
          in: path
          required: true
          description: The ID of the host you want to delete.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
      
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
  '/hosts/{HOST_ID}/property':
    get:
      tags:
        - Hosts
      summary: Retrieve a host's property
      description: >-
        >**NOTE**: For more information on using this operation, see the [hosts endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/hosts.html) on Experience League.
      operationId: retrieveHostProperty
      parameters:
        - name: HOST_ID
          in: path
          required: true
          description: The ID of the host whose property you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the property that owns the host.
          schema:
            $ref: '#/definitions/hostsPropertyLookupResponse'
  '/libraries/{LIBRARY_ID}':
    get:
      tags:
        - Libraries
      summary: Retrieve a library
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: retrieveLibrary
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the library.
          schema:
            $ref: '#/definitions/librariesLookupResponse'
    patch:
      tags:
        - Libraries
      summary: Update a library
      operationId: updateLibrary  
      description: >-
        This endpoint allows you to update the name of a library, or transition the library between different states in the [publishing flow](https://experienceleague.adobe.com/docs/launch/using/publish/publishing-flow.html).


        When updating a library, its ID must be provided in both the request path and the request payload. These IDs must match in order for the call to be successful.


        To transition the library between states, the payload must include a `meta` object, containing a single `action` property whose value represents the specific transition action. The available actions for a library depend on its current publishing state. See the API guide on [transitioning a library](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html#transition) for details on the available actions for each library state.


        To update the name of a library, the payload must include an `attributes` object, containing a single `name` property with the updated value.


        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library you want to update.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/librariesUpdatePayload'
      
      responses:
        200:
          description: A successful response returns the details of the updated library.
          schema:
            $ref: '#/definitions/librariesUpdateResponse'
    delete:
      tags:
        - Libraries
      summary: Delete a library
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: deleteLibrary
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library you want to delete.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
      
      responses:
        204:
          description: A successful response returns HTTP status 204 (No Content).
  '/libraries/{LIBRARY_ID}/property':
    get:
      tags:
        - Libraries
      summary: Retrieve a library's property
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: retrieveLibraryProperty
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose related property you want to retrieve.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the property associated with the specified library.
          schema:
            $ref: '#/definitions/librariesPropertyLookupResponse'
  '/libraries/{LIBRARY_ID}/builds':
    get:
      tags:
        - Builds
        - Libraries
      summary: List a library's builds
      description: >-
        >**NOTE**: For more information on using this operation, see the [builds endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/builds.html) on Experience League.
      operationId: listLibraryBuilds
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose builds you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
        - $ref: '#/parameters/created_at'
        - $ref: '#/parameters/updated_at'
        - $ref: '#/parameters/status'
        - $ref: '#/parameters/token'
      
      responses:
        200:
          description: A successful response returns an array of builds belonging to the specified library.
          schema:
            $ref: '#/definitions/buildsListResponse'
    post:
      tags:
        - Libraries
        - Builds
      summary: Create a build
      operationId: createBuild
      description: >-
        This POST request does not accept a payload, as the build parameters are determined by the parent library.


        >**NOTE**: For more information on using this operation, see the [builds endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/builds.html) on Experience League.
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library that you want to create a build for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
      
      responses:
        201:
          description: A successful response returns the details of the newly created build.
          schema:
            $ref: '#/definitions/buildsCreateResponse'
  '/libraries/{LIBRARY_ID}/environment':
    get:
      tags:
        - Libraries
      summary: Retrieve a library's related environment
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: retrieveLibraryEnvironment
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose related environment you want to retrieve.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the environment associated with the specified library.
          schema:
            $ref: '#/definitions/librariesLookupEnvironmentResponse'
  '/libraries/{LIBRARY_ID}/upstream_library':
    get:
      tags:
        - Libraries
      summary: Retrieve a library's upstream library
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: retrieveUpstreamLibrary
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose upstream library you want to retrieve.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the upstream library.
          schema:
            $ref: '#/definitions/librariesLookupUpstreamResponse'
  '/libraries/{LIBRARY_ID}/data_elements':
    get:
      tags:
        - Libraries
      summary: List a library's related data elements
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: listLibraryDataElements
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose related data elements you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
      
      responses:
        200:
          description: A successful response returns an array of data elements related to the specified library.
          schema:
            $ref: '#/definitions/librariesDataElementsListResponse'
  '/libraries/{LIBRARY_ID}/relationships/data_elements':
    get:
      tags:
        - Libraries
      summary: List a library's data element relationships
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: listLibraryRelationships
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose data element relationships you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
      
      responses:
        200:
          description: A successful response returns an array of data element relationships attached to the specified library.
          schema:
            $ref: '#/definitions/librariesDataElementRelationshipsListResponse'
    post:
      tags:
        - Libraries
      summary: Add data elements to a specific library.
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library that you want to add data elements to.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/librariesCreateDataElementRelationshipsPayload'
      responses:
        200:
          description: A successful response returns the details of the newly created relationship.
          schema:
            $ref: '#/definitions/librariesDataElementRelationshipsCreateResponse'
    patch:
      tags:
        - Libraries
      summary: Replace all data element relationships for a specific library
      operationId: updateLibraryRelationships
      description: >-
        This call replaces all of the existing data element relationships for a library with those you provide in the payload array.


        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library that you want to replace a data element relationship for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/librariesUpdateDataElementRelationshipsPayload'
      
      responses:
        200:
          description: A successful response returns the details of the updated relationship.
          schema:
            $ref: '#/definitions/librariesDataElementRelationshipsUpdateResponse'
    delete:
      tags:
        - Libraries
      summary: Remove a library's data element relationships
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: deleteLibraryRelationships
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library that you want to remove a data element relationship from.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/librariesDeleteDataElementRelationshipsPayload'
      
      responses:
        200:
          description: A successful response returns the details of the removed relationship.
          schema:
            $ref: '#/definitions/librariesDataElementRelationshipsDeleteResponse'
  '/libraries/{LIBRARY_ID}/relationships/environment':
    get:
      tags:
        - Libraries
      summary: Retrieve a library's environment relationship
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose environment relationship you want to look up.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
      
      responses:
        200:
          description: A successful response returns the details of the environment relationship attached to the specified library.
          schema:
            $ref: '#/definitions/librariesEnvironmentRelationshipLookupResponse'
    patch:
      tags:
        - Libraries
      summary: Set a library's environment relationship
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: updateLibraryRelationship
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library that you want to set an environment relationship for.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/librariesCreateEnvironmentRelationshipsPayload'
      responses:
        200:
          description: A successful response returns the details of the established relationship.
          schema:
            $ref: '#/definitions/librariesEnvironmentRelationshipCreateResponse'
    delete:
      tags:
        - Libraries
      summary: Remove a library's environment relationship
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: removeLibraryRelationship
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library that you want to remove an environment relationship from.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/content-type'
      
      responses:
        200:
          description: A successful response returns the details of the removed relationship.
          schema:
            $ref: '#/definitions/librariesEnvironmentRelationshipDeleteResponse'
  '/libraries/{LIBRARY_ID}/extensions':
    get:
      tags:
        - Libraries
      summary: List a library's related extensions
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: listLibraryExtensions
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose related extensions you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
      
      responses:
        200:
          description: A successful response returns an array of extensions associated with the specified library.
          schema:
            $ref: '#/definitions/librariesExtensionsListResponse'
  '/libraries/{LIBRARY_ID}/relationships/extensions':
    get:
      tags:
        - Libraries
      summary: List a library's extension relationships
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: listExtensionRelationships
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library whose extension relationships you want to list.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/page[size]'
        - $ref: '#/parameters/page[number]'
      
      responses:
        200:
          description: A successful response returns a list of extension relationship objects attached to the specified library.
          schema:
            $ref: '#/definitions/librariesExtensionRelationshipsListResponse'
    post:
      tags:
        - Libraries
      summary: Add extensions to a specific library
      description: >-
        >**NOTE**: For more information on using this operation, see the [libraries endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/tags/api/endpoints/libraries.html) on Experience League.
      operationId: addExtension
      parameters:
        - name: LIBRARY_ID
          in: path
          required: true
          description: The ID of the library that you want to add extensions to.
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
[...]
