swagger: '2.0'
info:
  version: '1.0'
  title: Schema Registry API
  description: >- 
    The Schema Registry API is used to access the Schema Library within Adobe Experience Platform. The registry provides a user interface and RESTful API from which all available library resources are accessible.
  

    * Related documentation:
      * [XDM documentation](http://www.adobe.com/go/xdm-home-en)
    
    * Visualize API calls with Postman (a free, third-party software):
      * [Schema Registry API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Schema%20Registry%20API.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)
  
    * API paths:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io
      * Base path for this API: /data/foundation/schemaregistry
      * Example of a complete path for making a call to "/stats": https://<span>platform.adobe.io/data/foundation/schemaregistry/stats
    
    * Required headers:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      * All GET requests to the Schema Registry require an `Accept` header to determine what data is returned by the system. See the [section on `Accept` headers](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/getting-started.html?lang=en#accept) in the Schema Registry developer guide for more information.
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.


basePath: /data/foundation/schemaregistry
host: platform.adobe.io
tags:
  - name: "Stats"
    description: Returns {TENANT_ID} along with information regarding IMS Org usage of the Schema Registry such as resource counts, recently created resources, and class usage.
  - name: "Schemas"
    description: Schemas provide an abstract definition of a real-world object along with constraints and expectations that can be applied and used to validate data.
  - name: "Behaviors"
    description: Behaviors define the nature of data that a schema describes. Each XDM class must reference a specific behavior, which all schemas that employ that class will inherit. Schemas that inherit the "record" behavior provide information about the attributes of a subject, while those that inherit the "time-series" behavior provide a snapshot of the system at the time an action was taken by a record subject.
  - name: "Classes"
    description: Classes define behavioral aspects of the data within the schema and describe the smallest number of common properties contained in all schemas that implement the same class.
  - name: "Field groups"
    description: A field group is a reusable component that defines one or more fields to implement certain functions within a schema based on a compatible class.
  - name: "Data types"
    description: Data types are used as reference field types in classes or schemas to define complex types. Data types may define multiple sub-fields providing a consistent multi-field structure.
  - name: "Descriptors"
    description: Schema descriptors are tenant-level metadata used to provide interpretive details on how data based on certain schemas may relate or interact with one another.
  - name: "Unions"
    description: Union schemas aggregate the fields of all schemas that implement the same class (such as ExperienceEvent or Profile) into a single schema. They are used by Real-time Customer Profile to merge data together to form a "single source of truth" for an individual.
  - name: "Export/Import"
    description: The Schema Registry API allows you to transfer and share XDM resources between sandboxes and IMS Organizations. For any schema, field group, or data type, you can generate an export payload containing the structure of the resource and any dependent resources. This payload can then be used to import the resource into a destination sandbox and IMS Org.
  - name: "Sample data"
    description: You can generate sample data for any specified schema within the Schema Library. The response object returned can then be used as the source of dataset ingestion.
  - name: "Audit log"
    description: The Schema Registry maintains a log of all the changes that have occurred to a resource (class, field group, data type, or schema) between different updates.
  - name: "Mixins (deprecated)"
    description: '"Mixin" is the former term for a field group. The /mixins endpoints are deprecated and only maintained as legacy endpoints. For new implementations, please use the /fieldgroups endpoint instead.'
consumes:
  - application/json
produces:
  - application/json
paths:
  '/stats':
    parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
    get:
      tags:
      - "Stats"
      summary: Retrieve your tenant ID and other usage information related to the Schema Registry.
      operationId: retrieveStats
      produces:
        - application/json
      responses:
        '200':
          description: A successful response returns your tenant ID and Schema Registry usage information.
          schema: 
            '$ref': '#/definitions/statsResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
  '/{CONTAINER_ID}/fieldgroups':
    get:
      tags:
      - "Field groups"
      summary: List field groups
      description: >-
        Retrieve a list of field groups within the specified container.

        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: listFieldGroups
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/containerIdList'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/acceptListing'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: A successful response returns all field groups in the specified container.
          schema:
            $ref: '#/definitions/listFieldGroupsResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          schema:
           $ref: '#/definitions/acceptErrorList' 
        
  '/{CONTAINER_ID}/fieldgroups/{FIELD_GROUP_ID}':
    get:
      tags:
      - "Field groups"
      parameters:
      - $ref: '#/parameters/containerIdLookup'
      - name: FIELD_GROUP_ID
        description: The `meta:altId` or URL-encoded `$id` of the field group you want to look up.
        required: true
        in: path
        type: string
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept'
      summary: Retrieve a field group
      description: >-
        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: retrieveFieldGroup
      produces:
        - application/json
      responses:
        '200':
          description: A successful response returns the details of the field group.
          schema:
            $ref: '#/definitions/lookupFieldGroupResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid accept header for a lookup call including a version number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying again.
          schema:
            $ref: '#/definitions/acceptErrorLookup'
        
  '/tenant/fieldgroups':
    post:
      tags:
      - "Field groups"
      summary: Create a custom field group
      description: >-
        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: createFieldGroup
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'        
        - $ref: '#/parameters/fieldGroupPayload'
      responses:
        '201':
          description: A successful response returns the details of the field group.
          schema:
            $ref: '#/definitions/createFieldGroupResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
  '/tenant/fieldgroups/{FIELD_GROUP_ID}':
    put:
      tags:
      - "Field groups"
      summary: Update a custom field group
      description: >-
        A PUT request essentially re-writes the field group, therefore the request body must include all fields required to create (POST) a field group. This is especially useful when updating a lot of information in the field group at once.



        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: updateFieldGroup
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: FIELD_GROUP_ID
          description: The `meta:altId` or URL-encoded `$id` of the field group you want to update.
          required: true
          in: path
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/replaceFieldGroupPayload'
      responses:
        '200':
          description: A successful response returns the details of the updated field group.
          schema:
            $ref: '#/definitions/updateFieldGroupResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    patch:
      tags:
      - "Field groups"
      summary: Update a custom field group
      description: >-
        You can use this endpoint to update one or more attributes of your custom field group.

        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`, to allow you to modify or update resources you have defined.
        
        
        >**NOTE**: For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902).
        >
        >For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: patchFieldGroup
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: FIELD_GROUP_ID
          description: The `meta:altId` or URL-encoded `$id` of the field group you want to update.
          required: true
          in: path
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/patchFieldGroupPayload'
      responses:
        '200':
          description: A successful response returns the details of the updated field group.
          schema:
            $ref: '#/definitions/patchFieldGroupResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    delete:
      tags:
      - "Field groups"
      summary: Delete a custom field group
      description: >-
        You can remove an existing field group through a DELETE request. A successful deletion returns an empty response body and HTTP status 204 (No Content).


        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: removeFieldGroup
      parameters:
        - name: FIELD_GROUP_ID
          description: The `meta:altId` or URL-encoded `$id` of the field group you want to delete.
          required: true
          in: path
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      responses:
        '204':
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the field group has been deleted.
  '/{CONTAINER_ID}/schemas':
    get:
      tags:
      - "Schemas"
      summary: List schemas
      description: >-
        You can list schemas within the global or tenant container by performing a GET request. To help filter results, the Schema Registry supports the use of query parameters when listing resources.


        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: listSchemas
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/containerIdList'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/acceptListing'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: A successful response returns a list of all schemas in the container with format dependent on the `Accept` header.
          schema:
            $ref: '#/definitions/listSchemasResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          schema:
           $ref: '#/definitions/acceptErrorList' 
        
  '/{CONTAINER_ID}/schemas/{SCHEMA_ID}':
    get:
      tags:
      - "Schemas"
      parameters:
      - $ref: '#/parameters/containerIdLookup'
      - $ref: '#/parameters/SCHEMA_ID'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept'
      summary: Retrieve a schema
      description: >-
        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: retrieveSchema
      produces:
        - application/json
      responses:
        '200':
          description: A successful response returns the details of the schema.
          schema:
            $ref: '#/definitions/lookupSchemaResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        '404':
          description: The resource is not found.
        '406':
          description: The specified `Accept` format/version is not available for this resource.
        
  '/tenant/schemas':
    post:
      tags:
      - "Schemas"
      summary: Create a custom schema
      description: >-
        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: createSchema
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/createSchemaPayload'
      responses:
        '201':
          description: A successful response returns the details of the newly created schema.
          schema: 
            '$ref': '#/definitions/createSchemaResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
  '/tenant/schemas/{SCHEMA_ID}':
    put:
      tags:
      - "Schemas"
      summary: Update a custom schema
      description: >-
        A PUT request essentially re-writes the schema, therefore the request body must include all fields required to create (POST) a schema. This is especially useful when updating a lot of information in the schema at once.


        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: updateSchema
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/SCHEMA_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/replaceSchemaPayload'
      responses:
        '200':
          description: A successful response returns JSON schema with updated attributes.
          schema: 
            '$ref': '#/definitions/updateSchemaResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    patch:
      tags:
        - "Schemas"
      summary: Update one or more attributes of a custom schema
      description: >-
        You can use this endpoint to update one or more attributes of the custom schema.

        
        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`. For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902).


        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: patchSchema
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/SCHEMA_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/patchPayload'
      responses:
        '200':
          description: A successful response returns JSON schema with updated attributes.
          schema:
            $ref: '#/definitions/patchSchemaResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
   
    delete:
      tags:
      - "Schemas"
      summary: Delete a custom schema
      description: >-
        You can remove an existing schema by performing a DELETE request. A successful deletion returns an empty response body and HTTP status 204 (No Content).


        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: deleteSchema
      parameters:
        - $ref: '#/parameters/SCHEMA_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      responses:
        '204':
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the schema has been deleted.
        '404':
          description: The resource is not found.
        '500':
         description: An internal server error occurred.
  '/global/behaviors':
    get:
      tags:
        - "Behaviors"
      summary: List behaviors
      description: >-
        >**NOTE**: For more information on using this operation, see the [behaviors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/behaviors.html) on Experience League.
      operationId: listBehaviors
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/acceptListing'
      responses:
        '200':
          description: A successful response returns all behaviors in the global container.
          schema:
            allOf:
              - $ref: '#/definitions/listResponse'
            example:
              "results":
                - "$id": "https://ns.adobe.com/xdm/data/record"
                  "meta:altId": "_xdm.data.record"
                  "version": "1.16.4"
                  "title": "Record Schema"
                - "$id": "https://ns.adobe.com/xdm/data/adhoc"
                  "meta:altId": "_xdm.data.adhoc"
                  "version": "1.16.4"
                  "title": "Ad Hoc Schema"
                - "$id": "https://ns.adobe.com/xdm/data/time-series"
                  "meta:altId": "_xdm.data.time-series"
                  "version": "1.16.4"
                  "title": "Time-series Schema"
              "_page":
                "orderby": "updated"
                "next": null
                "count": 3
              "_links":
                "next": null
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          schema:
           $ref: '#/definitions/acceptErrorList' 
  '/global/behaviors/{BEHAVIOR_ID}':
    get:
      tags:
        - "Behaviors"
      summary: Retrieve a behavior
      description: >-
        >**NOTE**: For more information on using this operation, see the [behaviors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/behaviors.html) on Experience League.
      operationId: retrieveBehavior
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/BEHAVIOR_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/accept'
      responses:
        '200':
          description: A successful response returns the details of the behavior specified in the request path.
          schema:
            $ref: '#/definitions/singleBehaviorResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid accept header for a lookup call including a version number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying again.
          schema:
            $ref: '#/definitions/acceptErrorLookup'
  '/{CONTAINER_ID}/mixins':
    get:
      tags:
      - "Mixins (deprecated)"
      summary: List all mixins
      description: >-
        **NOTE**: This endpoint is deprecated. For future implementations, please use the [equivalent operation](#operation/listFieldGroups) for the field groups endpoint instead.
      deprecated: true
      operationId: listMixins
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/containerIdList'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/acceptListing'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: A successful response returns all mixins in the specified container.
          schema:
            $ref: '#/definitions/listFieldGroupsResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
  '/{CONTAINER_ID}/mixins/{MIXIN_ID}':
    get:
      tags:
      - "Mixins (deprecated)"
      parameters:
      - $ref: '#/parameters/containerIdLookup'
      - $ref: '#/parameters/MIXIN_ID'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept'
      summary: Retrieve a mixin
      deprecated: true
      description: >-
        **NOTE**: This endpoint is deprecated. For future implementations, please use the [equivalent operation](#operation/retrieveFieldGroup) for the field groups endpoint instead.
      operationId: lookupMixin
      produces:
        - application/json
      responses:
        '200':
          description: A successful response returns the details of the mixin.
          schema:
            $ref: '#/definitions/lookupFieldGroupResponse'
        '404':
          description: The resource is not found.
        '406':
          description: The specified `Accept` format/version is not available for this resource.
        
  '/tenant/mixins':
    post:
      tags:
      - "Mixins (deprecated)"
      summary: Create a new custom mixin
      description: >-
        **NOTE**: This endpoint is deprecated. For future implementations, please use the [equivalent operation](#operation/createFieldGroup) for the field groups endpoint instead.
      deprecated: true
      operationId: createMixin
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'        
        - $ref: '#/parameters/fieldGroupPayload'
      responses:
        '201':
          description: A successful response returns the details of the mixin.
          schema:
            $ref: '#/definitions/createFieldGroupResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
  '/tenant/mixins/{MIXIN_ID}':
    put:
      tags:
      - "Mixins (deprecated)"
      summary: Update a custom mixin
      deprecated: true
      description: >-
        **NOTE**: This endpoint is deprecated. For future implementations, please use the [equivalent operation](#operation/updateFieldGroup) for the field groups endpoint instead.
      operationId: replaceMixin
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/MIXIN_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/replaceFieldGroupPayload'
      responses:
        '200':
          description: A successful response returns the details of the updated mixin.
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    patch:
      tags:
      - "Mixins (deprecated)"
      summary: Update custom mixin
      deprecated: true
      description: >-
        **NOTE**: This endpoint is deprecated. For future implementations, please use the [equivalent operation](#operation/patchFieldGroup) for the field groups endpoint instead.
      operationId: updateMixin
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/MIXIN_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/patchFieldGroupPayload'
      responses:
        '200':
          description: A successful response returns the details of the updated mixin.
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    delete:
      tags:
      - "Mixins (deprecated)"
      summary: Delete a custom mixin
      deprecated: true
      description: >-
        **NOTE**: This endpoint is deprecated. For future implementations, please use the [equivalent operation](#operation/removeFieldGroup) for the field groups endpoint instead.
      operationId: removeMixin
      parameters:
        - $ref: '#/parameters/MIXIN_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      responses:
        '204':
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the mixin has been deleted.
        '404':
          description: The resource is not found.
        '500':
         description: An internal server error occurred.
  '/{CONTAINER_ID}/classes':
    get:
      tags:
      - "Classes"
      summary: List classes
      description: >-
        >**NOTE**: For more information on using this operation, see the [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html) on Experience League.
      operationId: listClasses
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/containerIdList'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/acceptListing'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: A successful response returns a list of all classes in the container.
          schema:
            $ref: '#/definitions/listClassesResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          schema:
           $ref: '#/definitions/acceptErrorList' 
        
  '/{CONTAINER_ID}/classes/{CLASS_ID}':
    get:
      tags:
      - "Classes"
      parameters:
        - $ref: '#/parameters/containerIdLookup'
        - name: CLASS_ID
          description: The `meta:altId` or URL-encoded `$id` of the class you want to look up.
          required: true
          in: path
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/accept'
      summary: Retrieve a class
      description: >-
        >**NOTE**: For more information on using this operation, see the [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html) on Experience League.
      operationId: retrieveClass
      produces:
        - application/json
      responses:
        '200':
          description: A successful response returns the details of the class.
          schema:
            $ref: '#/definitions/lookupClassResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a single lookup call, including a major version (e.g. `application/vnd.adobe.xed-id+json; version=1`) before trying again.
          schema:
            $ref: '#/definitions/acceptErrorLookup'
        '404':
          description: The resource is not found.
        
  '/tenant/classes':
    post:
      tags:
      - "Classes"
      summary: Create a custom class
      description: >-
        >**NOTE**: For more information on using this operation, see the [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html) on Experience League.
      operationId: createClass
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/createClassPayload'
      responses:
        '201':
          description: A successful response returns the details of the newly created class.
          schema: 
            '$ref': '#/definitions/createClassResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    
  '/tenant/classes/{CLASS_ID}':
    put:
      tags:
      - "Classes"
      summary: Update a custom class
      description: >-
        A PUT request essentially re-writes the class, therefore the request body must include all fields required to create (POST) a class. This is especially useful when updating a lot of information in the class at once.


        >**NOTE**: For more information on using this operation, see the [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html) on Experience League.
      operationId: replaceClass
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: CLASS_ID
          description: The `meta:altId` or URL-encoded `$id` of the class you want to update.
          required: true
          in: path
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/replaceClassPayload'
      responses:
        '200':
          description: A successful response returns the details of the updated class.
          schema:
            $ref: '#/definitions/updateClassResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    patch:
      tags:
      - "Classes"
      summary: Update one or more attributes of a custom class
      description: >-
        You can use this endpoint to update one or more attributes for a custom class.

        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`, to allow users to modify or update classes they have defined.
        
        >**NOTE**: For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902).
        >
        >For more information on using this operation, see the [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html) on Experience League.
      operationId: updateClass
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: CLASS_ID
          description: The `meta:altId` or URL-encoded `$id` of the class you want to update.
          required: true
          in: path
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/patchClassPayload'
      responses:
        '200':
          description: A successful response returns the the details of the updated class.
          schema:
            $ref: '#/definitions/patchClassResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    delete:
      tags:
      - "Classes"
      summary: Delete a custom class
      description: >-
        Remove a class by performing a DELETE request to the `$id` of the class being removed.
        
        
        A successful deletion returns an empty response body and HTTP status 204 (No Content).


        >**NOTE**: For more information on using this operation, see the [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html) on Experience League.
      operationId: removeClass
      parameters:
        - name: CLASS_ID
          description: The `meta:altId` or URL-encoded `$id` of the class you want to delete.
          required: true
          in: path
          type: string
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      responses:
        '204':
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the resource has been deleted.
        '404':
          description: The resource is not found.
  '/{CONTAINER_ID}/datatypes':
    get:
      tags:
      - "Data types"
      summary: List data types
      description: >-
        >**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.
      operationId: listDataTypes
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/containerIdList'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/acceptListing'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: A successful response returns a list of all data types in the specified container.
          schema:
            $ref: '#/definitions/listDataTypesResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          schema:
           $ref: '#/definitions/acceptErrorList' 
        
  '/{CONTAINER_ID}/datatypes/{DATA_TYPE_ID}':
    get:
      tags:
      - "Data types"
      parameters:
        - $ref: '#/parameters/containerIdLookup'
        - $ref: '#/parameters/DATA_TYPE_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/accept'
      summary: Retrieve a data type
      description: >-
        >**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.
      operationId: retrieveDataType
      produces:
        - application/json
      responses:
        '200':
          description: A successful response returns the details of the data type.
          schema:
            $ref: '#/definitions/lookupDataTypeResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid accept header for a lookup call including a version number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying again.
          schema:
            $ref: '#/definitions/acceptErrorLookup'
        
  '/tenant/datatypes':
    post:
      tags:
      - "Data types"
      summary: Create a custom data type
      description: >-
        >**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.
      operationId: createDataType
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/accept'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/createDataTypePayload'
      responses:
        '201':
          description: A successful response returns the details of the newly created data type.
          schema: 
            '$ref': '#/definitions/createDataTypeResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
  '/tenant/datatypes/{DATA_TYPE_ID}':
    put:
      tags:
      - "Data types"
      summary: Update a custom data type
      description: >-
        A PUT request essentially re-writes the data type, therefore the request body must include all fields required to create (POST) a data type. This is especially useful when updating a lot of information in the data type at once.


        >**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.
      operationId: replaceDatatype
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/DATA_TYPE_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/replaceDataTypePayload'
      responses:
        '200':
          description: A successful response returns the details of the updated data type.
          schema: 
            '$ref': '#/definitions/putDataTypeResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    patch:
      tags:
      - "Data types"
      summary: Update a custom data type's attributes
      operationId: updateDataType
      description: >-
        You can use this endpoint to update one or more attributes of a custom data type.
      
        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`, to allow users to modify or update data types they have defined.
        
        
        >**NOTE**: For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902).
        >
        >For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/DATA_TYPE_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/content-type'
        - $ref: '#/parameters/patchDataTypePayload'
      responses:
        '200':
          description: A successful response returns the details of the updated data type.
          schema: 
            '$ref': '#/definitions/patchDataTypeResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    delete:
      tags:
      - "Data types"
      summary: Delete a custom class
      description: >-
        Removing a data type is done through a DELETE request to the `$id` of the data type being removed.
        
        
        A successful deletion returns an empty response body and HTTP status 204 (No Content).


        >**NOTE**: For more information on using this operation, see the [data types endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/data-types.html) on Experience League.
      operationId: deleteDatatype
      parameters:
        - $ref: '#/parameters/DATA_TYPE_ID'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
      responses:
        '204':
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the class has been deleted.
        '404':
          description: The resource is not found.
        '500':
         description: An internal server error occurred.
  '/{CONTAINER_ID}/descriptors':
    get:
      tags:
      - "Descriptors"
      summary: List descriptors
      description: >-
        Schemas define a static view of data entities, but do not provide specific details on how data based on these schemas (datasets) may relate to one another. Platform allows you to describe these relationships and other interpretive metadata about a schema through the use of descriptors.
        
        
        Descriptors are tenant-level metadata for schemas, meaning they are unique to your IMS Organization and all descriptor operations take place in the `tenant` container.
        
        
        Each schema can have one or more schema descriptor entities applied to it. Each schema descriptor entity includes a descriptor `@type` and the `sourceSchema` to which it applies. Once applied, these descriptors apply to all datasets created using the schema.


        >**NOTE**: For more information on using this operation, see the [descriptors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/descriptors.html) on Experience League.
      operationId: listDescriptors
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/containerIdList'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/acceptDescriptors'
      - $ref: '#/parameters/property'
      - name: orderby
        description: Sort response by specified fields separated by "," and/or prefix field with "-" for descending order. Used by the v2 option of the API, as indicated by the `Accept` header.
        required: false
        in: query
        type: string
      - name: limit
        description: Specify a limit for the number of response results to be displayed (must be between 0 and 500). Used by the v2 option of the API, as indicated by the `Accept` header.
        required: false
        in: query
        type: number
      - name: start
        description: The start value of the first `orderBy` field. The value of this parameter be the same data type as that of the `orderBy` field (e.g. strings or integers). Used by the v2 option of the API, as indicated by the `Accept` header.
        required: false
        in: query
        type: string
      responses:
        '200':
          description: A successful response returns a list of all existing descriptors, separated by type.
          schema:
            $ref: '#/definitions/listDescriptorsResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for the descriptors endpoint with no version supplied (e.g. `application/vnd.adobe.xdm+json`) before trying again.
          schema:
           $ref: '#/definitions/acceptErrorDescriptorList' 
        
  '/{CONTAINER_ID}/descriptors/{DESCRIPTOR_ID}':
    get:
      tags:
      - "Descriptors"
      summary: Retrieve a descriptor
      description: >-
        View the details of a specific descriptor by performing a lookup (GET) request using the `@id` of the descriptor. Descriptors are not versioned, therefore no `Accept` header is required in the lookup request.


        >**NOTE**: For more information on using this operation, see the [descriptors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/descriptors.html) on Experience League.
      operationId: retrieveDescriptor
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/containerIdLookup'
      - $ref: '#/parameters/DESCRIPTOR_ID'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      responses:
        '200':
          description: A successful response returns the details of the descriptor.
          schema:
            $ref: '#/definitions/identityDescriptorResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for the descriptors endpoint with no version supplied (e.g. `application/vnd.adobe.xdm+json`) before trying again.
          schema:
           $ref: '#/definitions/acceptErrorDescriptorLookup' 
        
  '/tenant/descriptors':
    post:
      tags:
      - "Descriptors"
      summary: Create a descriptor
      description: >-
        You can create a new descriptor by making a POST request. The required request payload fields vary based on the `@type` of descriptor being defined. For details on the requirements for each descriptor type, refer to the section on [defining descriptors](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/descriptors.html#defining-descriptors) on Experience League.
      operationId: createDescriptor
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/content-type'
      - $ref: '#/parameters/descriptorPayload'
      responses:
        '201':
          description: A successful response returns the details of the newly created descriptor.
          schema:
            $ref: '#/definitions/createDescriptorResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
  
  '/tenant/descriptors/{DESCRIPTOR_ID}':
    put:
      tags:
      - "Descriptors"
      summary: Update a descriptor
      description: >-
        You can update a descriptor by making a PUT request. This action essentially rewrites the existing descriptor, therefore the payload must include all fields that were required when the descriptor was first defined.


        >**NOTE**: For more information on using this operation, see the [descriptors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/descriptors.html) on Experience League.
      operationId: updateDescriptor
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/DESCRIPTOR_ID'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/content-type'
      - $ref: '#/parameters/descriptorPayload'
      responses:
        '200':
          description: A successful response returns the details of the updated descriptor.
          schema:
            $ref: '#/definitions/createDescriptorResponse'
        '400':
          description: The request payload was incorrectly formatted. Check your payload formatting before trying again.
        
    delete:
      tags:
      - "Descriptors"
      summary: Delete a descriptor
      description: >-
        >**NOTE**: For more information on using this operation, see the [descriptors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/descriptors.html) on Experience League.
      operationId: deleteDescriptor
      parameters:
      - $ref: '#/parameters/DESCRIPTOR_ID'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      responses:
        '204':
          description: A successful response returns an empty response body and HTTP status 204 (No Content), indicating that the descriptor has been deleted.
        '403':
          description: Forbidden
        '404':
          description: The resource is not found.
        
  '/tenant/unions':
    get:
      tags:
      - Unions
      summary: List union schemas
      description: >-
        >**NOTE**: For more information on using this operation, see the [unions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/unions.html) on Experience League.
      operationId: listUnionSchemas
      parameters:
        - $ref: '#/parameters/acceptListing'
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/x-api-key'
        - $ref: '#/parameters/x-gw-ims-org-id'
        - $ref: '#/parameters/x-sandbox-name'
        - $ref: '#/parameters/property'
        - $ref: '#/parameters/orderBy'
        - $ref: '#/parameters/start'
        - $ref: '#/parameters/limit'
      responses:
        '200':
          description: A successful response returns a list of all union schemas with format dependent on the `Accept` header.
          schema:
            $ref: '#/definitions/listUnionsResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid `Accept` header for a listing call with no version supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          schema:
           $ref: '#/definitions/acceptErrorList' 
        
  '/tenant/unions/{UNION_ID}':
    get:
      tags:
      - Unions
      parameters:
      - $ref: '#/parameters/UNION_ID'
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept'
      summary: Retrieve a union schema
      description: >-
        >**NOTE**: For more information on using this operation, see the [unions endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/unions.html) on Experience League.
      operationId: retrieveUnionSchema
      responses:
        '200':
          description: A successful response returns the details of the union.
          schema:
            $ref: '#/definitions/lookupUnionResponse'
        '400':
          description: The `Accept` header is invalid or missing. Ensure that you are providing a valid accept header for a lookup call including a version number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying again.
          schema:
            $ref: '#/definitions/acceptErrorLookup'
        
  '/rpc/export/{RESOURCE_ID}':
    get:
      tags:
      - "Export/Import"
      summary: Retrieve an export payload 
      description: >-
        You can use this endpoint to retrieve an export payload for a specific resource in order to transfer it into a different sandbox or IMS Organization.


        >**NOTE**: For more information on using this operation, see the [export/import endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/export-import.html) on Experience League.
      operationId: retrieveExportPayload
      parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept'
      - name: RESOURCE_ID
        description: The `meta:altId` or URL-encoded `$id` value of the schema, field group, or data type you want to export.
        required: true
        in: path
        type: string
      responses:
        '200':
          description: A successful response returns the details of the exported resource and its dependent field groups and data types, with any tenant ID values being replaced with `<XDM_TENANTID_PLACEHOLDER>`. The contents of this payload can then be used as the request body in a POST `/rpc/import` call to import the resource to the desired sandbox or IMS Organization.
          schema:
            $ref: '#/definitions/importExportPayload'
        '404':
          description: No schema could be found for the specified {SCHEMA_ID}. Double-check that you are providing a valid {SCHEMA_ID} and are using the correct {IMS_ORG} and {SANDBOX_NAME} headers for that schema before trying again.
          schema:
            $ref: '#/definitions/notFoundError'
  '/rpc/import':
    post:
      tags:
      - "Export/Import"
      summary: Import a resource
      description: >-
        Use an export payload to import a resource into a different sandbox or IMS Organization.


        >**NOTE**: For more information on using this operation, see the [export/import endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/export-import.html) on Experience League.
      operationId: importResource
      parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - name: x-gw-ims-org-id
        required: true
        in: header
        description: The unique ID ({IMS_ORG}) of the IMS Organization that you want to import the resource into.
        type: string
      - name: x-sandbox-name
        required: true
        in: header
        type: string
        description: The name of the sandbox that you want to import the resource into. See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en) for more information.
      - name: body
        description: The payload returned by a GET `/rpc/export/{RESOURCE_ID}` call, indicating which schemas, field groups, and/or data types should be imported into the destination IMS Organization and sandbox.
        in: body
        schema:
          $ref: '#/definitions/importExportPayload'
      responses:
        '200':
          description: A successful response returns the details of the imported resource, with the appropriate `{TENANT_ID}` applied for the specified IMS Organization.
          schema:
            $ref: '#/definitions/importResponse'
        '400':
          description: The resources failed to import due to a conflict. In order to import XDM resources, their `$id` and `title` values must be unique within the destination IMS Org and sandbox. The error message will indicate which field contains the conflicting value. Change this value in the request payload before attempting the import again.
          schema:
            $ref: '#/definitions/importError'
  '/rpc/sampledata/{SCHEMA_ID}':
    get:
      tags:
      - "Sample data"
      summary: Retrieve sample data
      description: >-
        Retrieve sample data for a schema.

        >**NOTE**: For more information on using this operation, see the [sample data endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/sample-data.html) on Experience League.
      operationId: retrieveSampleData
      parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - $ref: '#/parameters/accept'
      - name: SCHEMA_ID
        description: The `meta:altId` or URL-encoded `$id` value of the schema you want to generate sample data for.
        required: true
        in: path
        type: string
      responses:
        '200':
          description: A successful response returns a sample ingestion file, mapped to the structure of the specified schema.
          schema:
            type: object
            example:
              "@id": "/uri-reference"
              "xdm:name": "Example Offer Name"
              "xdm:representations":
                - "xdm:channel": "https://ns.adobe.com/xdm/common/uri"
                  "xdm:components":
                    - "@type": "https://ns.adobe.com/experience/offer-management/content-component-text"
                      "dc:format": "application/vnd.adobe.photoshop"
                      "dc:language":
                        - "\n"
                      "repo:id": "urn:aaid:sc:US:6dc33479-13ca-4b19-b25d-c805eff8a69e"
                      "repo:name": "Example Repo Name"
                      "repo:resolveURL": "https://plaftform.adobe.io/resolveByPath?path=&quot;/mycorp/content/projectx/fragment/prod/herobanners/banner14.html3&quot;"
                  "xdm:placement": "https://ns.adobe.com/xdm/common/uri"
              "xdm:status": "draft"
              "xdm:tags":
                - "https://ns.adobe.com/xdm/common/uri"
        '404':
          description: No schema could be found for the specified {SCHEMA_ID}. Double-check that you are providing a valid {SCHEMA_ID} and are using the correct {IMS_ORG} and {SANDBOX_NAME} headers for that schema before trying again.
          schema:
            $ref: '#/definitions/notFoundError'
  '/rpc/auditlog/{RESOURCE_ID}':
    get:
      tags:
      - "Audit log"
      summary: Retrieve a resource's audit log
      description: >-
        This endpoint retrieves a resource's audit log, which shows a list of all the changes made to the resource.


        >**NOTE**: For more information on using this operation, see the [audit log endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/audit-log.html) on Experience League.
      operationId: retrieveAuditLog
      parameters:
      - $ref: '#/parameters/authorization'
      - $ref: '#/parameters/x-api-key'
      - $ref: '#/parameters/x-gw-ims-org-id'
      - $ref: '#/parameters/x-sandbox-name'
      - name: RESOURCE_ID
        description: The `meta:altId` or URL-encoded `$id` value of the resource whose changes you wish to view.
        in: path
        required: true
        type: string
      responses:
        '200':
          description: A successful response returns an array of change logs for the specified resource. Each change object provides details on what action was performed to which field(s), the user that made the change, and a timestamp for when the change was committed.
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The `$id` of the resource that was changed. This value will typically represent the resource specified in the request path, but may represent a dependent resource if that is the source of the change.
                updatedUser:
                  type: string
                  description: The ID of the user that updated the resource.
                imsOrg:
                  type: string
                  description: The ID of the IMS Org that owns the resource.
                updatedTime:
                  type: string
                  description: A timestamp of when the resource was updated.
                requestId:
                  type: string
                  description: A unique ID for the request that retrieved the audit log data.
                clientId:
                  type: string
                  description: The ID of the client that updated the resource.
                sandboxId:
                  type: string
                  description: The ID of the sandbox that owns the resource.
                updates:
                  type: array
                  description: A list of changes made to the specified resource or one of its dependent resources.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The `$id` of the resource that was changed. This value will typically represent the resource specified in the request path, but may represent a dependent resource if that is the source of the change.
                      xdmType:
                        type: string
                        description: The type of XDM resource that was changed.
                      action:
                        type: string
                        description: The type of change that was made.
                      path:
                        type: string
                        description: A [JSON Pointer](https://experienceleague.adobe.com/docs/experience-platform/landing/platform-apis/api-fundamentals.html?lang=en#json-pointer) string indicating the path to the specific field that was changed or added.
                      value:
                        type: string
                        description: The value that was assigned to the new or updated field.
            example:
              - id: https://ns.adobe.com/{TENANT_ID}/schemas/50649eb1b040bf042d6400a0335901cd2a97d31a4eac4330
                updatedUser: "{USER_ID}"
                imsOrg: "{IMS_ORG}"
                updatedTime: 02-19-2021 05:43:56
                requestId: a14NMF0jd6BIfyXaHdTDl4bC4R0r9rht
                clientId: "{CLIENT_ID}"
                sandBoxId: 28e74200-e3de-11e9-8f5d-7f27416c5f0d
                updates:
                - id: https://ns.adobe.com/{TENANT_ID}/schemas/50649eb1b040bf042d6400a0335901cd2a97d31a4eac4330
                  xdmType: schemas
                  action: remove
                  path: "/meta:usageCount"
                  value: 0
              - id: https://ns.adobe.com/{TENANT_ID}/schemas/50649eb1b040bf042d6400a0335901cd2a97d31a4eac4330
                updatedUser: "{USER_ID}"
                imsOrg: "{IMS_ORG}"
                updatedTime: 02-19-2021 05:43:56
                requestId: pFQbgmWrdbJrNB9GdxTSGECpXYWspu68
                clientId: "{CLIENT_ID}"
                sandBoxId: 28e74200-e3de-11e9-8f5d-7f27416c5f0d
                updates:
                - id: https://ns.adobe.com/{TENANT_ID}/classes/11052164b588f0c29584bf6ae1a6663a59aa65426c82389f
                  xdmType: classes
                  action: remove
                  path: "/definitions/customFields/properties/_{TENANT_ID}/properties/loyaltySunday_ABC"
                  value:
                    title: LoyaltySundayABC
                    description: ''
                    type: string
                    isRequired: false
                    required: []
                    meta:xdmType: string
                - id: https://ns.adobe.com/{TENANT_ID}/classes/11052164b588f0c29584bf6ae1a6663a59aa65426c82389f
                  xdmType: classes
                  action: remove
                  path: "/definitions/customFields/properties/_{TENANT_ID}/properties/loyaltyMoxee_XYZ"
                  value:
                    title: LoyaltyMoxeeXYZ
                    description: ''
                    type: string
                    isRequired: false
                    required: []
                    meta:xdmType: string

parameters:
  containerIdList:
    name: CONTAINER_ID
    description: The name of the container that you want to list resources from. To list core resources provided by Adobe, use `global`. To list custom resources defined by your organization, use `tenant`.
    required: true
    in: path
    type: string
  containerIdLookup:
    name: CONTAINER_ID
    description: The name of the container that you want to retrieve a resource from. To retrieve a core resource provided by Adobe, use `global`. To retrieve a custom resource defined by your organization, use `tenant`.
    required: true
    in: path
    type: string
  SCHEMA_ID:
    name: SCHEMA_ID
    description: The `meta:altId` or URL-encoded `$id` of the schema in question.
    required: true
    in: path
    type: string
  BEHAVIOR_ID:
    name: BEHAVIOR_ID
    description: The `meta:altId` or URL-encoded `$id` of the behavior in question.
    required: true
    in: path
    type: string
  CLASS_ID:
    name: CLASS_ID
    description: The `meta:altId` or URL-encoded `$id` of the class in question.
    required: true
    in: path
    type: string
  MIXIN_ID:
    name: MIXIN_ID
    description: The `meta:altId` or URL-encoded `$id` of the mixin in question.
    required: true
    in: path
    type: string
  DATA_TYPE_ID:
    name: DATA_TYPE_ID
    description: The `meta:altId` or URL-encoded `$id` of the data type in question.
    required: true
    in: path
    type: string
  DESCRIPTOR_ID:
    name: DESCRIPTOR_ID
    description: The unique ID (`@id`) of the descriptor in question.
    required: true
    in: path
    type: string
  UNION_ID:
    name: UNION_ID
    description: The `meta:altId` or URL-encoded `$id` of the union schema in question.
    required: true
    in: path
    type: string
  authorization:
    name: Authorization
    description: 'The access token which can be copied from your Experience Platform integration, prefixed with "Bearer ". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).'
    required: true
    type: string
    in: header
  x-gw-ims-org-id:
    name: x-gw-ims-org-id
    description: 'The IMS Organization ID which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).'
    required: true
    type: string
    in: header
  x-api-key:
    name: x-api-key
    description: 'The API key which can be copied from your Experience Platform integration. For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).'
    required: true
    type: string
    in: header
  x-sandbox-name:
    name: x-sandbox-name
    description: 'The name of the sandbox in which the operation will take place. See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.'
    required: true
    type: string
    in: header
  content-type:
    name: Content-Type
    description: The type of content being sent in the body of the request. When sending requests that include payloads to the Schema Registry API, this header must be included with a value of `application/json`.
    required: true
    type: string
    in: header
  accept:
    name: Accept
    description: >-
      The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:

      <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>
    required: true
    type: string
    in: header
  acceptListing:
    name: Accept
    description: >-
      The desired response format. For listing calls, the following `Accept` header values are permitted: 
      
      <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code> attributes included.</td></tr></tbody></table>
    required: true
    type: string
    in: header
  acceptDescriptors:
    name: Accept
    description: >-
      The desired response format. Descriptors require unique `Accept` headers using `xdm` instead of `xed`. The following values are permitted:

      <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xdm-id+json</code></td><td>Returns a list of descriptor IDs, grouped by their <code>@type</code>.</td></tr><tr><td><code>application/vnd.adobe.xdm-link+json</code></td><td>Returns a list of descriptor API paths, grouped by their <code>@type</code>.</td></tr><tr><td><code>application/vnd.adobe.xdm+json</code></td><td>Returns a list of descriptor objects, grouped by their <code>@type</code>.</td></tr><tr><td><code>application/vnd.adobe.xdm-v2{-id/-link}+json</code></td><td>Including the <code>-v2</code> option in any of the above <code>Accept</code> headers permits paging functionality, returning a results array with a <code>_page</code> attribute that can be used to request the next page if needed.</td></tr></tbody></table>
    required: true
    type: string
    in: header
  property:
    name: property
    description: A comma-separated list of top-level object properties to be returned in the response. For example, `property=meta:intendedToExtend==https://ns.adobe.com/xdm/context/profile` returns only field groups that are compatible with the XDM Individual Profile class.
    in: query
    type: string
    required: false
  orderBy:
    name: orderby
    description: Sort the listed resources by specified fields. For example `orderby=title` sorts results by title in ascending order (A-Z). Adding a `-` before the field name (`orderby=-title`) sorts items in descending order (Z-A). Multiple fields can also be included to denote primary and secondary sort orders (for example, `orderby=title,description`).
    required: false
    in: query
    type: string
  limit:
    name: limit
    description: >-
      When used in conjunction with an `orderby` parameter, `limit` restricts the maximum number of items that should be returned for a given request. This parameter cannot be used without an `orderby` parameter present.
      

      The `limit` parameter specifies a positive integer (between `0` and `500`) as a *hint* as to the maximum number of items that should be returned. For example, `limit=5` returns only five resources in the list. However, this value is not strictly honored. The actual response size may be smaller or larger as constrained by the need to provide the reliable operation of the `start` parameter, if one is provided.
    required: false
    in: query
    type: number
  start:
    name: start
    description: >-
      When used in conjunction with an `orderby` parameter, `start` specifies where the paginated list of items should begin. This parameter cannot be used without an `orderby` parameter present.
      
      
      Typically, this parameter is omitted in order to obtain the first page of results. After that, `start` should be set to the maximum value of the primary sort property of the `orderby` field received in the previous page. The API response then returns entries beginning with those that have a primary sort property from `orderby` strictly greater than (for ascending) or strictly less than (for descending) the specified value.


      For example, if the `orderby` parameter is set to `orderby=name,firstname`, the `start` parameter would contain a value for the `name` property. In this case, if you wanted to show the next 20 entries of a resource immediately following the name "Miller", you would use: `?orderby=name,firstname&start=Miller&limit=20`.
    required: false
    in: query
    type: string
  patchPayload:
    name: body
    description: The request body accepts a JSON Patch payload.
    required: true
    in: body
    schema:
      '$ref': '#/definitions/patchSchema'
  patchClassPayload:
    name: body
    description: The request body accepts a JSON Patch payload.
    required: true
    in: body
    schema:
      $ref: '#/definitions/patchClass'
  patchFieldGroupPayload:
    name: body
    description: The request body accepts a JSON Patch payload.
    required: true
    in: body
    schema:
      $ref: '#/definitions/patchFieldGroup'
  createSchemaPayload:
    name: body
    description: The JSON payload must include an `allOf` attribute referencing the `$id` of the base class the that the schema will implement.
    required: true
    in: body
    schema:
      "$ref": '#/definitions/createSchema'
  replaceSchemaPayload:
    name: body
    description: The JSON payload must include all of the fields that were originally required for creating the schema, but with updated values. This includes an `allOf` attribute referencing the `$id` of the class the schema will implement.
    required: true
    in: body
    schema:
      "$ref": '#/definitions/replaceSchema'
  createClassPayload:
    name: body
    description: The request payload must include an `allOf` attribute referencing either 'https://ns.adobe.com/xdm/data/record' or 'https://ns.adobe.com/xdm/data/time-series'. This value represents the data behavior upon which the class is based. `allOf` may also optionally include field groups or custom fields that will be included each time the class is used.
    required: true
    in: body
    schema:
      "$ref": '#/definitions/createClass'
  replaceClassPayload:
    name: body
    description: The JSON payload must include all of the fields that were originally required for creating the class, but with updated values. This includes an `allOf` attribute referencing the behavior of the class.
    required: true
    in: body
    schema:
      "$ref": '#/definitions/replaceClass'
  fieldGroupPayload:
    name: body
    description: The JSON payload must include a 'meta:intendedToExtend' field listing the '$id' of the class(es) with which the field group is compatible.
    required: true
    in: body
    schema:
      $ref: '#/definitions/createFieldGroup'
  replaceFieldGroupPayload:
    name: body
    description: The JSON payload must include all of the fields that were originally required for creating the field group, but with updated values. This includes an `allOf` attribute referencing the `$id` of the class the schema will implement.
    required: true
    in: body
    schema:
      "$ref": '#/definitions/replaceFieldGroup'
  createDataTypePayload:
    name: body
    description: Defining a data type does not require `meta:extends` or `meta:intendedToExtend` fields, nor do fields need to be nested to avoid collisions.
    required: true
    in: body
    schema:
      "$ref": '#/definitions/createDataType'
  patchDataTypePayload:
    name: body
    description: The request body accepts a JSON Patch payload.
    required: true
    in: body
    schema:
      $ref: '#/definitions/patchDataType'
  replaceDataTypePayload:
    name: body
    description: The JSON payload must include all of the fields that were originally required for creating the data type, but with updated values.
    required: true
    in: body
    schema:
      "$ref": '#/definitions/replaceDataType'
  descriptorPayload:
    name: body
    description: The required request payload fields vary based on the `@type` of descriptor being defined. For details on the requirements for each descriptor type, refer to the section on [defining descriptors](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/descriptors.html?lang=en#defining-descriptors) in the API guide.
    required: true
    in: body
    schema:
      '$ref': '#/definitions/createDescriptor'


definitions:
  statsResponse:
    type: object
    properties:
      imsOrg:
        type: string
        description: The ID of the IMS Organization that the returned stats apply to.
        example: '{IMS_ORG}'
      tenantId:
        type: string
        description: The tenant ID of the IMS Organization identified under `imsOrg`.
        example: '{TENANT_ID}'
      counts:
        type: object
        description: Provides the total counts of different XDM resources currently stored in the Schema Library.
        properties:
          schemas:
            type: integer
            description: The number of schemas currently stored in the Schema Library.
            example: 4
          mixins:
            type: integer
            description: The number of field groups currently stored in the Schema Library.
            example: 38
          datatypes:
            type: integer
            description: The number of data types currently stored in the Schema Library.
            example: 382
          classes:
            type: integer
            description: The number of classes currently stored in the Schema Library.
            example: 5
          unions:
            type: integer
            description: The number of union schemas currently stored in the Schema Library.
            example: 2
      recentlyCreatedResources:
        type: array
        description: Array of objects containing details of recently created resources.
        items:
          $ref: '#/definitions/listResponseItemWithVersion'
      recentlyUpdatedResources:
        type: array
        description: Array of objects containing details of recently updated resources.
        items:
          $ref: '#/definitions/listResponseItemWithVersion'   
      classUsage:
        type: array
        description: Provides information about which schemas are being employed for each class in the Schema Library.
        items:
          $ref: '#/definitions/classUsageItem'
        example:
          - $id: https://ns.adobe.com/xdm/context/profile
            title: XDM Individual Profile
            numberOfSchemas: 3
            schemas:
            - $id: https://ns.adobe.com/{TENANT_ID}/schemas/3d569c62921ac9371ad148afbaec3891547aca2a49575cef
              title: Customers
              description: Basic profile schema.
            - $id: https://ns.adobe.com/{TENANT_ID}/schemas/ad79ff2868d65545812ffe6745a2085d0b5deff379bc3faf
              title: Loyalty Members
              description: Describes members of the loyalty program.
            - $id: https://ns.adobe.com/{TENANT_ID}/schemas/274f17bc5807ff307a046bab1489fb18,
              title: Tenant Data Schema,
              meta:altId: _{TENANT_ID}.schemas.274f17bc5807ff307a046bab1489fb18,
          - $id: https://ns.adobe.com/xdm/context/profile
            title: XDM ExperienceEvent
            numberOfSchemas: 1
            schemas:
            - $id: https://ns.adobe.com/{TENANT_ID}/schemas/7a3739168b1cb52b1489f6f3c43eaa66ff155fa87cd1e5ee
              title: Website Event
              description: Describes a web traffic event.
  classUsageItem:
    type: object
    properties:
      $id:
        type: string
        description: The URI ID of the class whose usage stats are being listed.
        example: https://ns.adobe.com/xdm/context/profile
      title:
        type: string
        description: The title of the class whose usage stats are being listed.
        example: XDM Individual Profile
      numberOfSchemas:
        type: integer
        description: The number of schemas that are based on the class.
        example: 2
      schemas:
        type: array
        description: A list of objects that describe the basic details about the schemas that are based on the class.
        items:
          $ref: '#/definitions/listResponseItem'
  linksBasic:
    type: object
    description: Contains various links related to the response.
    properties:
      next:
        type: string
        description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
        example:
  linksSchemas:
    allOf:
      - $ref: '#/definitions/linksBasic'
      - properties:
          global_schemas:
            type: object
            description: Contains an `href` property that links to the path for retrieving schemas from the global container.
            properties:
              href:
                type: string
                description: The path for retrieving schemas from the global container.
                example: https://platform.adobe.io/data/foundation/schemaregistry/global/schemas
  listSchemasResponse:
    allOf:
      - $ref: '#/definitions/listResponseBasic'
      - properties:
          _links:
            $ref: '#/definitions/linksSchemas'
  listResponse:
    allOf:
      - $ref: '#/definitions/listResponseBasic'
      - properties:
          _links:
            $ref: '#/definitions/linksBasic'
  listFieldGroupsResponse:
    allOf:
      - $ref: '#/definitions/listResponse'
      - properties:
          results:
            items:
              $ref: '#/definitions/singleFieldGroupResponse'
    example:
      results:
        - "$id": https://ns.adobe.com/xdm/context/profile-person-details
          meta:altId: _xdm.context.profile-person-details
          meta:resourceType: mixins
          version: 1.27.4
          title: Demographic Details
          type: object
          description: Demographic information such as name, gender, and birth date of an
            individual.
          definitions:
            profile-person-details:
              properties:
                person:
                  title: Person
                  "$ref": https://ns.adobe.com/xdm/context/person
                  description: An individual actor, contact, or owner.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:person
          allOf:
          - "$ref": https://ns.adobe.com/xdm/common/extensible#/definitions/@context
            type: object
            meta:xdmType: object
          - "$ref": "#/definitions/profile-person-details"
            type: object
            meta:xdmType: object
          meta:extensible: true
          meta:abstract: true
          meta:intendedToExtend:
          - https://ns.adobe.com/xdm/context/profile
          meta:xdmType: object
          meta:status: stable
          "$schema": http://json-schema.org/draft-06/schema#
          meta:registryMetadata:
            repo:createdDate: 1635361816945
            repo:lastModifiedDate: 1635361816945
            eTag: 9f6a76cf4e115d0a3db3900fb418979ebea28bce47967484a1a0b2a2c32514cb
            meta:globalLibVersion: 1.27.4
            meta:usageCount: 316
          meta:tags:
            industry:
            - all
          meta:createdDate: '2020-08-10'
        - "$id": https://ns.adobe.com/xdm/context/profile-personal-details
          meta:altId: _xdm.context.profile-personal-details
          meta:resourceType: mixins
          version: 1.27.4
          title: Personal Contact Details
          type: object
          description: Contact information for an individual person such as home address,
            phone number, fax, and email.
          definitions:
            profile-personal-details:
              properties:
                faxPhone:
                  title: Fax phone
                  "$ref": https://ns.adobe.com/xdm/context/phonenumber
                  description: Fax phone number.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:faxPhone
                homeAddress:
                  title: Home address
                  "$ref": https://ns.adobe.com/xdm/common/address
                  description: A home postal address.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:homeAddress
                homePhone:
                  title: Home phone
                  "$ref": https://ns.adobe.com/xdm/context/phonenumber
                  description: Home phone number.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:homePhone
                mobilePhone:
                  title: Mobile phone
                  "$ref": https://ns.adobe.com/xdm/context/phonenumber
                  description: Mobile phone number.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:mobilePhone
                personalEmail:
                  title: Personal email
                  "$ref": https://ns.adobe.com/xdm/context/emailaddress
                  description: A personal email address.
                  type: object
                  meta:xdmType: object
                  meta:xdmField: xdm:personalEmail
          allOf:
          - "$ref": https://ns.adobe.com/xdm/common/extensible#/definitions/@context
            type: object
            meta:xdmType: object
          - "$ref": "#/definitions/profile-personal-details"
            type: object
            meta:xdmType: object
          meta:extensible: true
          meta:abstract: true
          meta:intendedToExtend:
          - https://ns.adobe.com/xdm/context/profile
          meta:xdmType: object
          meta:status: stable
          "$schema": http://json-schema.org/draft-06/schema#
          meta:registryMetadata:
            repo:createdDate: 1635361816961
            repo:lastModifiedDate: 1635361816961
            eTag: 750a04f69224e9fab367c6663199218dbd524852652627756284b4333fd7b27b
            meta:globalLibVersion: 1.27.4
            meta:usageCount: 300
          meta:tags:
            industry:
            - all
          meta:createdDate: '2020-08-10'
      _page:
        orderby: updated
        next:
        count: 2
      _links:
        next:

  listResponseBasic:
    type: object
    properties:
      results:
        type: array
        description: Lists the basic details of the returned XDM resources.
        items:
          $ref: '#/definitions/listResponseItemWithVersion'
      _page:
        type: object
        description: Contains pagination information related to the response.
        properties:
          orderby:
            type: string
            description: The attribute that results are sorted by.
            example: title
          next:
            type: string
            description: A URI for the next page in the response, if one exists. Contains `null` if this is the last or only page in the response.
            example:
          count:
            type: integer
            description: The number of results returned per page.
            example: 2
      _links:
        $ref: '#/definitions/linksBasic'
    example:
      results:
        - "$id": https://ns.adobe.com/{TENANT_ID}/schemas/0238be93d3e7a06aec5e0655955901ec
          meta:altId: _{TENANT_ID}.schemas.0238be93d3e7a06aec5e0655955901ec
          version: '1.4'
          title: Hotels
        - "$id": https://ns.adobe.com/{TENANT_ID}/schemas/0ef4ce0d390f0809fad490802f53d30b
          meta:altId: _{TENANT_ID}.schemas.0ef4ce0d390f0809fad490802f53d30b
          version: '1.0'
          title: Loyalty Members
      _page:
        orderby: title
        next:
        count: 2
      _links:
        next:
        global_schemas:
          href: https://platform.adobe.io/data/foundation/schemaregistry/global/schemas
  listResponseItem:
    type: object
    properties:
      title:
        type: string
        description: The title of the XDM resource.
        example: Tenant Data Schema
      $id:
        type: string
        description: The URI ID of the XDM resource.
        example: 'https://ns.adobe.com/{TENANT_ID}/schemas/274f17bc5807ff307a046bab1489fb18'
      meta:altId:
        type: string
        description: An alternate dot-notation ID for the XDM resource.
        example: '_{TENANT_ID}.schemas.274f17bc5807ff307a046bab1489fb18'
  listResponseItemWithVersion:
    allOf:
      - $ref: '#/definitions/listResponseItem'
      - properties:
          version:
            type: string
            description: The current version of the XDM resource.
            example: '1.1'
  listUnionsResponse:
    type: object
    properties: 
      results:
        type: array
        description: Lists the returned union schemas.
        items:
              $ref: '#/definitions/unionBasic'
    example:
      results:
        - "$id": https://ns.adobe.com/xdm/context/profile__union
          meta:altId: _xdm.context.profile__union
          meta:resourceType: unions
          version: '1.0'
          title: XDM Individual Profile
          type: object
          description: An XDM Individual Profile forms a singular representation of the attributes
            and interests of both identified and partially-identified individuals. Less-identified
            profiles may contain only anonymous behavioral signals, such as browser cookies,
            while highly-identified profiles may contain detailed personal information such
            as name, date of birth, location, and email address. As a profile grows, it becomes
            a robust repository of personal information, identification information, contact
            details, and communication preferences for an individual.
          allOf:
          - {}
          - "$ref": https://ns.adobe.com/xdm/context/profile-test-profile
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/e16d03cd4f0f1cd0f837ceada0aa478e
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/03a07059cad2a4d772385bcf8105750f
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/6287e6dfaf504f1eb47842492431255d
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/5a55c7ba8bfe66d1ec0fd5b7e6a2a280c45c6e3312c259ef
          - "$ref": https://ns.adobe.com/xdm/mixins/profile-consents
          - "$ref": https://ns.adobe.com/xdm/common/external-source-system-audit-details
          - "$ref": https://ns.adobe.com/xdm/context/profile-person-details
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/1e9576c98a5d2a67ac90da1a271f5eb2
          - "$ref": https://ns.adobe.com/xdm/context/profile-privacy
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/44850059caa530684c4507d0e01647e9
          - "$ref": https://ns.adobe.com/xdm/mixins/profile/profile-loyalty-details
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/d0b9284f0610076e97f57dfadf78b3de
          - "$ref": https://ns.adobe.com/experience/campaign/profile-all
          - "$ref": https://ns.adobe.com/xdm/context/profile-personal-details
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/811a7c6627d5af6680cdfebf81c101c2
          - "$ref": https://ns.adobe.com/experience/profile-edgeregion
          - "$ref": https://ns.adobe.com/xdm/context/profile
          - "$ref": https://ns.adobe.com/xdm/context/identitymap
          - "$ref": https://ns.adobe.com/experience/profile/profile-all
          - "$ref": https://ns.adobe.com/xdm/context/profile-segmentation
          - "$ref": https://ns.adobe.com/xdm/context/profile-preferences-details
          - "$ref": https://ns.adobe.com/{TENANT_ID}/mixins/5e903c020e4cd4ef65ec4b3ebcc0a1df9ab2c064f303e377
          - "$ref": https://ns.adobe.com/xdm/context/profile-work-details
          imsOrg: '{IMS_ORG}'
          meta:extends:
          - https://ns.adobe.com/{TENANT_ID}/schemas/7c92ae0a47db946ba5d7d47b1cfbca4b
          - https://ns.adobe.com/xdm/common/extensible
          - https://ns.adobe.com/{TENANT_ID}/schemas/5d70026f5522fc60b3c81f6523b83c86
          - https://ns.adobe.com/{TENANT_ID}/mixins/5a55c7ba8bfe66d1ec0fd5b7e6a2a280c45c6e3312c259ef
          - https://ns.adobe.com/xdm/mixins/profile-consents
          - https://ns.adobe.com/{TENANT_ID}/schemas/c447e8716f1d4598be9e36dcd64cd55a
          - https://ns.adobe.com/xdm/common/external-source-system-audit-details
[...]
