openapi: 3.0.1
info:
  title: Schema Registry API
  description: |-
    Use the Schema Registry API to access the Schema Library within Adobe Experience Platform. The registry provides a user interface and RESTful API from which all available library resources are accessible.  Programmatically manage all schemas and related Experience Data Model (XDM) resources available to you within Platform. This includes those defined by Adobe, Experience Platform partners, and vendors whose applications you use.
    * **Related documentation**:
      * [XDM documentation](http://www.adobe.com/go/xdm-home-en)

    * **Visualize API calls with Postman (a free, third-party software)**:
      * [Schema Registry API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Schema%20Registry%20API.postman_collection.json)
      * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
      * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    * **API paths**:
      * PLATFORM Gateway URL: https://<span>platform.adobe.io
      * Base path for this API: /data/foundation/schemaregistry
      * Example of a complete path for making a call to "/stats": https://<span>platform.adobe.io/data/foundation/schemaregistry/stats

    * **Required headers**:
      * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
      * All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
      * All GET requests to the Schema Registry require an `Accept` header to determine what data is returned by the system. See the [section on `Accept` headers](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/getting-started.html?lang=en#accept) in the Schema Registry developer guide for more information.
      * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

    - **API error handling**:
      * Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors).
  version: "1.0"
servers:
- url: //platform.adobe.io/data/foundation/schemaregistry
tags:
- name: Stats
  description: "Returns {TENANT_ID} along with information regarding IMS Org usage\
    \ of the Schema Registry such as resource counts, recently created resources,\
    \ and class usage."
- name: Schemas
  description: Schemas provide an abstract definition of a real-world object along
    with constraints and expectations that can be applied and used to validate data.
- name: Behaviors
  description: "Behaviors define the nature of data that a schema describes. Each\
    \ XDM class must reference a specific behavior, which all schemas that employ\
    \ that class will inherit. Schemas that inherit the \"record\" behavior provide\
    \ information about the attributes of a subject, while those that inherit the\
    \ \"time-series\" behavior provide a snapshot of the system at the time an action\
    \ was taken by a record subject."
- name: Classes
  description: Classes define behavioral aspects of the data within the schema and
    describe the smallest number of common properties contained in all schemas that
    implement the same class.
- name: Field groups
  description: A field group is a reusable component that defines one or more fields
    to implement certain functions within a schema based on a compatible class.
- name: Data types
  description: Data types are used as reference field types in classes or schemas
    to define complex types. Data types may define multiple sub-fields providing a
    consistent multi-field structure.
- name: Descriptors
  description: Schema descriptors are tenant-level metadata used to provide interpretive
    details on how data based on certain schemas may relate or interact with one another.
- name: Unions
  description: Union schemas aggregate the fields of all schemas that implement the
    same class (such as ExperienceEvent or Profile) into a single schema. They are
    used by Real-time Customer Profile to merge data together to form a "single source
    of truth" for an individual.
- name: Export/Import
  description: "The Schema Registry API allows you to transfer and share XDM resources\
    \ between sandboxes and IMS Organizations. For any schema, field group, or data\
    \ type, you can generate an export payload containing the structure of the resource\
    \ and any dependent resources. This payload can then be used to import the resource\
    \ into a destination sandbox and IMS Org."
- name: Sample data
  description: You can generate sample data for any specified schema within the Schema
    Library. The response object returned can then be used as the source of dataset
    ingestion.
- name: Audit log
  description: "The Schema Registry maintains a log of all the changes that have occurred\
    \ to a resource (class, field group, data type, or schema) between different updates."
- name: Mixins (deprecated)
  description: "\"Mixin\" is the former term for a field group. The /mixins endpoints\
    \ are deprecated and only maintained as legacy endpoints. For new implementations,\
    \ please use the /fieldgroups endpoint instead."
paths:
  /stats:
    get:
      tags:
      - Stats
      summary: Retrieve your tenant ID and other usage information related to the
        Schema Registry.
      operationId: retrieveStats
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A successful response returns your tenant ID and Schema Registry
            usage information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/statsResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
  /{CONTAINER_ID}/fieldgroups:
    get:
      tags:
      - Field groups
      summary: List field groups
      description: |-
        Retrieve a list of field groups within the specified container.
        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: listFieldGroups
      parameters:
      - name: CONTAINER_ID
        in: path
        description: "The name of the container that you want to list resources from.\
          \ To list core resources provided by Adobe, use `global`. To list custom\
          \ resources defined by your organization, use `tenant`."
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: "The desired response format. For listing calls, the following\
          \ `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns\
          \ a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns\
          \ full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code>\
          \ attributes included.</td></tr></tbody></table>"
        required: true
        schema:
          type: string
      - name: property
        in: query
        description: "A comma-separated list of top-level object properties to be\
          \ returned in the response. For example, `property=meta:intendedToExtend==https://ns.adobe.com/xdm/context/profile`\
          \ returns only field groups that are compatible with the XDM Individual\
          \ Profile class."
        schema:
          type: string
      - name: orderby
        in: query
        description: "Sort the listed resources by specified fields. For example `orderby=title`\
          \ sorts results by title in ascending order (A-Z). Adding a `-` before the\
          \ field name (`orderby=-title`) sorts items in descending order (Z-A). Multiple\
          \ fields can also be included to denote primary and secondary sort orders\
          \ (for example, `orderby=title,description`)."
        schema:
          type: string
      - name: start
        in: query
        description: |-
          When used in conjunction with an `orderby` parameter, `start` specifies where the paginated list of items should begin. This parameter cannot be used without an `orderby` parameter present.

          Typically, this parameter is omitted in order to obtain the first page of results. After that, `start` should be set to the maximum value of the primary sort property of the `orderby` field received in the previous page. The API response then returns entries beginning with those that have a primary sort property from `orderby` strictly greater than (for ascending) or strictly less than (for descending) the specified value.

          For example, if the `orderby` parameter is set to `orderby=name,firstname`, the `start` parameter would contain a value for the `name` property. In this case, if you wanted to show the next 20 entries of a resource immediately following the name "Miller", you would use: `?orderby=name,firstname&start=Miller&limit=20`.
        schema:
          type: string
      - name: limit
        in: query
        description: |-
          When used in conjunction with an `orderby` parameter, `limit` restricts the maximum number of items that should be returned for a given request. This parameter cannot be used without an `orderby` parameter present.

          The `limit` parameter specifies a positive integer (between `0` and `500`) as a *hint* as to the maximum number of items that should be returned. For example, `limit=5` returns only five resources in the list. However, this value is not strictly honored. The actual response size may be smaller or larger as constrained by the need to provide the reliable operation of the `start` parameter, if one is provided.
        schema:
          type: number
      responses:
        "200":
          description: A successful response returns all field groups in the specified
            container.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listFieldGroupsResponse'
        "400":
          description: The `Accept` header is invalid or missing. Ensure that you
            are providing a valid `Accept` header for a listing call with no version
            supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorList'
  /{CONTAINER_ID}/fieldgroups/{FIELD_GROUP_ID}:
    get:
      tags:
      - Field groups
      summary: Retrieve a field group
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html)\
        \ on Experience League."
      operationId: retrieveFieldGroup
      parameters:
      - name: CONTAINER_ID
        in: path
        description: "The name of the container that you want to retrieve a resource\
          \ from. To retrieve a core resource provided by Adobe, use `global`. To\
          \ retrieve a custom resource defined by your organization, use `tenant`."
        required: true
        schema:
          type: string
      - name: FIELD_GROUP_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the field group you
          want to look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: |-
          The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:
          <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A successful response returns the details of the field group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookupFieldGroupResponse'
        "400":
          description: The `Accept` header is invalid or missing. Ensure that you
            are providing a valid accept header for a lookup call including a version
            number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying
            again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorLookup'
  /tenant/fieldgroups:
    post:
      tags:
      - Field groups
      summary: Create a custom field group
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html)\
        \ on Experience League."
      operationId: createFieldGroup
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON payload must include a 'meta:intendedToExtend' field
          listing the '$id' of the class(es) with which the field group is compatible.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFieldGroup'
        required: true
      responses:
        "201":
          description: A successful response returns the details of the field group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createFieldGroupResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      x-codegen-request-body-name: body
  /tenant/fieldgroups/{FIELD_GROUP_ID}:
    put:
      tags:
      - Field groups
      summary: Update a custom field group
      description: |-
        A PUT request essentially re-writes the field group, therefore the request body must include all fields required to create (POST) a field group. This is especially useful when updating a lot of information in the field group at once.


        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: updateFieldGroup
      parameters:
      - name: FIELD_GROUP_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the field group you
          want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: "The JSON payload must include all of the fields that were originally\
          \ required for creating the field group, but with updated values. This includes\
          \ an `allOf` attribute referencing the `$id` of the class the schema will\
          \ implement."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/replaceFieldGroup'
        required: true
      responses:
        "200":
          description: A successful response returns the details of the updated field
            group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateFieldGroupResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Field groups
      summary: Delete a custom field group
      description: |-
        You can remove an existing field group through a DELETE request. A successful deletion returns an empty response body and HTTP status 204 (No Content).

        >**NOTE**: For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: removeFieldGroup
      parameters:
      - name: FIELD_GROUP_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the field group you
          want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      responses:
        "204":
          description: "A successful response returns an empty response body and HTTP\
            \ status 204 (No Content), indicating that the field group has been deleted."
          content: {}
    patch:
      tags:
      - Field groups
      summary: Update a custom field group
      description: |-
        You can use this endpoint to update one or more attributes of your custom field group.
        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`, to allow you to modify or update resources you have defined.

        >**NOTE**: For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902). > >For more information on using this operation, see the [field groups endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/field-groups.html) on Experience League.
      operationId: patchFieldGroup
      parameters:
      - name: FIELD_GROUP_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the field group you
          want to update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: The request body accepts a JSON Patch payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchFieldGroup'
        required: true
      responses:
        "200":
          description: A successful response returns the details of the updated field
            group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchFieldGroupResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      x-codegen-request-body-name: body
  /{CONTAINER_ID}/schemas:
    get:
      tags:
      - Schemas
      summary: List schemas
      description: |-
        You can list schemas within the global or tenant container by performing a GET request. To help filter results, the Schema Registry supports the use of query parameters when listing resources.

        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: listSchemas
      parameters:
      - name: CONTAINER_ID
        in: path
        description: "The name of the container that you want to list resources from.\
          \ To list core resources provided by Adobe, use `global`. To list custom\
          \ resources defined by your organization, use `tenant`."
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: "The desired response format. For listing calls, the following\
          \ `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns\
          \ a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns\
          \ full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code>\
          \ attributes included.</td></tr></tbody></table>"
        required: true
        schema:
          type: string
      - name: property
        in: query
        description: "A comma-separated list of top-level object properties to be\
          \ returned in the response. For example, `property=meta:intendedToExtend==https://ns.adobe.com/xdm/context/profile`\
          \ returns only field groups that are compatible with the XDM Individual\
          \ Profile class."
        schema:
          type: string
      - name: orderby
        in: query
        description: "Sort the listed resources by specified fields. For example `orderby=title`\
          \ sorts results by title in ascending order (A-Z). Adding a `-` before the\
          \ field name (`orderby=-title`) sorts items in descending order (Z-A). Multiple\
          \ fields can also be included to denote primary and secondary sort orders\
          \ (for example, `orderby=title,description`)."
        schema:
          type: string
      - name: start
        in: query
        description: |-
          When used in conjunction with an `orderby` parameter, `start` specifies where the paginated list of items should begin. This parameter cannot be used without an `orderby` parameter present.

          Typically, this parameter is omitted in order to obtain the first page of results. After that, `start` should be set to the maximum value of the primary sort property of the `orderby` field received in the previous page. The API response then returns entries beginning with those that have a primary sort property from `orderby` strictly greater than (for ascending) or strictly less than (for descending) the specified value.

          For example, if the `orderby` parameter is set to `orderby=name,firstname`, the `start` parameter would contain a value for the `name` property. In this case, if you wanted to show the next 20 entries of a resource immediately following the name "Miller", you would use: `?orderby=name,firstname&start=Miller&limit=20`.
        schema:
          type: string
      - name: limit
        in: query
        description: |-
          When used in conjunction with an `orderby` parameter, `limit` restricts the maximum number of items that should be returned for a given request. This parameter cannot be used without an `orderby` parameter present.

          The `limit` parameter specifies a positive integer (between `0` and `500`) as a *hint* as to the maximum number of items that should be returned. For example, `limit=5` returns only five resources in the list. However, this value is not strictly honored. The actual response size may be smaller or larger as constrained by the need to provide the reliable operation of the `start` parameter, if one is provided.
        schema:
          type: number
      responses:
        "200":
          description: A successful response returns a list of all schemas in the
            container with format dependent on the `Accept` header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSchemasResponse'
        "400":
          description: The `Accept` header is invalid or missing. Ensure that you
            are providing a valid `Accept` header for a listing call with no version
            supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorList'
  /{CONTAINER_ID}/schemas/{SCHEMA_ID}:
    get:
      tags:
      - Schemas
      summary: Retrieve a schema
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html)\
        \ on Experience League."
      operationId: retrieveSchema
      parameters:
      - name: CONTAINER_ID
        in: path
        description: "The name of the container that you want to retrieve a resource\
          \ from. To retrieve a core resource provided by Adobe, use `global`. To\
          \ retrieve a custom resource defined by your organization, use `tenant`."
        required: true
        schema:
          type: string
      - name: SCHEMA_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the schema in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: |-
          The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:
          <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A successful response returns the details of the schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookupSchemaResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
        "404":
          description: The resource is not found.
          content: {}
        "406":
          description: The specified `Accept` format/version is not available for
            this resource.
          content: {}
  /tenant/schemas:
    post:
      tags:
      - Schemas
      summary: Create a custom schema
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html)\
        \ on Experience League."
      operationId: createSchema
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON payload must include an `allOf` attribute referencing
          the `$id` of the base class the that the schema will implement.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createSchema'
        required: true
      responses:
        "201":
          description: A successful response returns the details of the newly created
            schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createSchemaResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      x-codegen-request-body-name: body
  /tenant/schemas/{SCHEMA_ID}:
    put:
      tags:
      - Schemas
      summary: Update a custom schema
      description: |-
        A PUT request essentially re-writes the schema, therefore the request body must include all fields required to create (POST) a schema. This is especially useful when updating a lot of information in the schema at once.

        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: updateSchema
      parameters:
      - name: SCHEMA_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the schema in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: "The JSON payload must include all of the fields that were originally\
          \ required for creating the schema, but with updated values. This includes\
          \ an `allOf` attribute referencing the `$id` of the class the schema will\
          \ implement."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/replaceSchema'
        required: true
      responses:
        "200":
          description: A successful response returns JSON schema with updated attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateSchemaResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      x-codegen-request-body-name: body
    delete:
      tags:
      - Schemas
      summary: Delete a custom schema
      description: |-
        You can remove an existing schema by performing a DELETE request. A successful deletion returns an empty response body and HTTP status 204 (No Content).

        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: deleteSchema
      parameters:
      - name: SCHEMA_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the schema in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      responses:
        "204":
          description: "A successful response returns an empty response body and HTTP\
            \ status 204 (No Content), indicating that the schema has been deleted."
          content: {}
        "404":
          description: The resource is not found.
          content: {}
        "500":
          description: An internal server error occurred.
          content: {}
    patch:
      tags:
      - Schemas
      summary: Update one or more attributes of a custom schema
      description: |-
        You can use this endpoint to update one or more attributes of the custom schema.

        The Schema Registry supports all standard JSON Patch operations, including `add`, `remove`, and `replace`. For more information on JSON Patch, including all available operations, please refer to the [the official JSON Patch specification](https://datatracker.ietf.org/doc/html/rfc6902).

        >**NOTE**: For more information on using this operation, see the [schemas endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/schemas.html) on Experience League.
      operationId: patchSchema
      parameters:
      - name: SCHEMA_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the schema in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: The request body accepts a JSON Patch payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchSchema'
        required: true
      responses:
        "200":
          description: A successful response returns JSON schema with updated attributes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchSchemaResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      x-codegen-request-body-name: body
  /global/behaviors:
    get:
      tags:
      - Behaviors
      summary: List behaviors
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [behaviors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/behaviors.html)\
        \ on Experience League."
      operationId: listBehaviors
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: "The desired response format. For listing calls, the following\
          \ `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns\
          \ a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns\
          \ full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code>\
          \ attributes included.</td></tr></tbody></table>"
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A successful response returns all behaviors in the global container.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/listResponse'
        "400":
          description: The `Accept` header is invalid or missing. Ensure that you
            are providing a valid `Accept` header for a listing call with no version
            supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorList'
  /global/behaviors/{BEHAVIOR_ID}:
    get:
      tags:
      - Behaviors
      summary: Retrieve a behavior
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [behaviors endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/behaviors.html)\
        \ on Experience League."
      operationId: retrieveBehavior
      parameters:
      - name: BEHAVIOR_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the behavior in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: |-
          The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:
          <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A successful response returns the details of the behavior specified
            in the request path.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/singleBehaviorResponse'
        "400":
          description: The `Accept` header is invalid or missing. Ensure that you
            are providing a valid accept header for a lookup call including a version
            number (e.g. `application/vnd.adobe.xed+json;version=1`) before trying
            again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorLookup'
  /{CONTAINER_ID}/mixins:
    get:
      tags:
      - Mixins (deprecated)
      summary: List all mixins
      description: "**NOTE**: This endpoint is deprecated. For future implementations,\
        \ please use the [equivalent operation](#operation/listFieldGroups) for the\
        \ field groups endpoint instead."
      operationId: listMixins
      parameters:
      - name: CONTAINER_ID
        in: path
        description: "The name of the container that you want to list resources from.\
          \ To list core resources provided by Adobe, use `global`. To list custom\
          \ resources defined by your organization, use `tenant`."
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: "The desired response format. For listing calls, the following\
          \ `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns\
          \ a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns\
          \ full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code>\
          \ attributes included.</td></tr></tbody></table>"
        required: true
        schema:
          type: string
      - name: property
        in: query
        description: "A comma-separated list of top-level object properties to be\
          \ returned in the response. For example, `property=meta:intendedToExtend==https://ns.adobe.com/xdm/context/profile`\
          \ returns only field groups that are compatible with the XDM Individual\
          \ Profile class."
        schema:
          type: string
      - name: orderby
        in: query
        description: "Sort the listed resources by specified fields. For example `orderby=title`\
          \ sorts results by title in ascending order (A-Z). Adding a `-` before the\
          \ field name (`orderby=-title`) sorts items in descending order (Z-A). Multiple\
          \ fields can also be included to denote primary and secondary sort orders\
          \ (for example, `orderby=title,description`)."
        schema:
          type: string
      - name: start
        in: query
        description: |-
          When used in conjunction with an `orderby` parameter, `start` specifies where the paginated list of items should begin. This parameter cannot be used without an `orderby` parameter present.

          Typically, this parameter is omitted in order to obtain the first page of results. After that, `start` should be set to the maximum value of the primary sort property of the `orderby` field received in the previous page. The API response then returns entries beginning with those that have a primary sort property from `orderby` strictly greater than (for ascending) or strictly less than (for descending) the specified value.

          For example, if the `orderby` parameter is set to `orderby=name,firstname`, the `start` parameter would contain a value for the `name` property. In this case, if you wanted to show the next 20 entries of a resource immediately following the name "Miller", you would use: `?orderby=name,firstname&start=Miller&limit=20`.
        schema:
          type: string
      - name: limit
        in: query
        description: |-
          When used in conjunction with an `orderby` parameter, `limit` restricts the maximum number of items that should be returned for a given request. This parameter cannot be used without an `orderby` parameter present.

          The `limit` parameter specifies a positive integer (between `0` and `500`) as a *hint* as to the maximum number of items that should be returned. For example, `limit=5` returns only five resources in the list. However, this value is not strictly honored. The actual response size may be smaller or larger as constrained by the need to provide the reliable operation of the `start` parameter, if one is provided.
        schema:
          type: number
      responses:
        "200":
          description: A successful response returns all mixins in the specified container.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listFieldGroupsResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      deprecated: true
  /{CONTAINER_ID}/mixins/{MIXIN_ID}:
    get:
      tags:
      - Mixins (deprecated)
      summary: Retrieve a mixin
      description: "**NOTE**: This endpoint is deprecated. For future implementations,\
        \ please use the [equivalent operation](#operation/retrieveFieldGroup) for\
        \ the field groups endpoint instead."
      operationId: lookupMixin
      parameters:
      - name: CONTAINER_ID
        in: path
        description: "The name of the container that you want to retrieve a resource\
          \ from. To retrieve a core resource provided by Adobe, use `global`. To\
          \ retrieve a custom resource defined by your organization, use `tenant`."
        required: true
        schema:
          type: string
      - name: MIXIN_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the mixin in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: |-
          The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:
          <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A successful response returns the details of the mixin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookupFieldGroupResponse'
        "404":
          description: The resource is not found.
          content: {}
        "406":
          description: The specified `Accept` format/version is not available for
            this resource.
          content: {}
      deprecated: true
  /tenant/mixins:
    post:
      tags:
      - Mixins (deprecated)
      summary: Create a new custom mixin
      description: "**NOTE**: This endpoint is deprecated. For future implementations,\
        \ please use the [equivalent operation](#operation/createFieldGroup) for the\
        \ field groups endpoint instead."
      operationId: createMixin
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: The JSON payload must include a 'meta:intendedToExtend' field
          listing the '$id' of the class(es) with which the field group is compatible.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createFieldGroup'
        required: true
      responses:
        "201":
          description: A successful response returns the details of the mixin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createFieldGroupResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      deprecated: true
      x-codegen-request-body-name: body
  /tenant/mixins/{MIXIN_ID}:
    put:
      tags:
      - Mixins (deprecated)
      summary: Update a custom mixin
      description: "**NOTE**: This endpoint is deprecated. For future implementations,\
        \ please use the [equivalent operation](#operation/updateFieldGroup) for the\
        \ field groups endpoint instead."
      operationId: replaceMixin
      parameters:
      - name: MIXIN_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the mixin in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: "The JSON payload must include all of the fields that were originally\
          \ required for creating the field group, but with updated values. This includes\
          \ an `allOf` attribute referencing the `$id` of the class the schema will\
          \ implement."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/replaceFieldGroup'
        required: true
      responses:
        "200":
          description: A successful response returns the details of the updated mixin.
          content: {}
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      deprecated: true
      x-codegen-request-body-name: body
    delete:
      tags:
      - Mixins (deprecated)
      summary: Delete a custom mixin
      description: "**NOTE**: This endpoint is deprecated. For future implementations,\
        \ please use the [equivalent operation](#operation/removeFieldGroup) for the\
        \ field groups endpoint instead."
      operationId: removeMixin
      parameters:
      - name: MIXIN_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the mixin in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      responses:
        "204":
          description: "A successful response returns an empty response body and HTTP\
            \ status 204 (No Content), indicating that the mixin has been deleted."
          content: {}
        "404":
          description: The resource is not found.
          content: {}
        "500":
          description: An internal server error occurred.
          content: {}
      deprecated: true
    patch:
      tags:
      - Mixins (deprecated)
      summary: Update custom mixin
      description: "**NOTE**: This endpoint is deprecated. For future implementations,\
        \ please use the [equivalent operation](#operation/patchFieldGroup) for the\
        \ field groups endpoint instead."
      operationId: updateMixin
      parameters:
      - name: MIXIN_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the mixin in question.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: The request body accepts a JSON Patch payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchFieldGroup'
        required: true
      responses:
        "200":
          description: A successful response returns the details of the updated mixin.
          content: {}
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      deprecated: true
      x-codegen-request-body-name: body
  /{CONTAINER_ID}/classes:
    get:
      tags:
      - Classes
      summary: List classes
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html)\
        \ on Experience League."
      operationId: listClasses
      parameters:
      - name: CONTAINER_ID
        in: path
        description: "The name of the container that you want to list resources from.\
          \ To list core resources provided by Adobe, use `global`. To list custom\
          \ resources defined by your organization, use `tenant`."
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: "The desired response format. For listing calls, the following\
          \ `Accept` header values are permitted: \n<table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed-id+json</code></td><td>Returns\
          \ a short summary of each resource, generally the preferred header for listing.</td></tr><tr><td><code>application/vnd.adobe.xed+json</code></td><td>Returns\
          \ full JSON for each resource, with the original <code>$ref</code> and <code>allOf</code>\
          \ attributes included.</td></tr></tbody></table>"
        required: true
        schema:
          type: string
      - name: property
        in: query
        description: "A comma-separated list of top-level object properties to be\
          \ returned in the response. For example, `property=meta:intendedToExtend==https://ns.adobe.com/xdm/context/profile`\
          \ returns only field groups that are compatible with the XDM Individual\
          \ Profile class."
        schema:
          type: string
      - name: orderby
        in: query
        description: "Sort the listed resources by specified fields. For example `orderby=title`\
          \ sorts results by title in ascending order (A-Z). Adding a `-` before the\
          \ field name (`orderby=-title`) sorts items in descending order (Z-A). Multiple\
          \ fields can also be included to denote primary and secondary sort orders\
          \ (for example, `orderby=title,description`)."
        schema:
          type: string
      - name: start
        in: query
        description: |-
          When used in conjunction with an `orderby` parameter, `start` specifies where the paginated list of items should begin. This parameter cannot be used without an `orderby` parameter present.

          Typically, this parameter is omitted in order to obtain the first page of results. After that, `start` should be set to the maximum value of the primary sort property of the `orderby` field received in the previous page. The API response then returns entries beginning with those that have a primary sort property from `orderby` strictly greater than (for ascending) or strictly less than (for descending) the specified value.

          For example, if the `orderby` parameter is set to `orderby=name,firstname`, the `start` parameter would contain a value for the `name` property. In this case, if you wanted to show the next 20 entries of a resource immediately following the name "Miller", you would use: `?orderby=name,firstname&start=Miller&limit=20`.
        schema:
          type: string
      - name: limit
        in: query
        description: |-
          When used in conjunction with an `orderby` parameter, `limit` restricts the maximum number of items that should be returned for a given request. This parameter cannot be used without an `orderby` parameter present.

          The `limit` parameter specifies a positive integer (between `0` and `500`) as a *hint* as to the maximum number of items that should be returned. For example, `limit=5` returns only five resources in the list. However, this value is not strictly honored. The actual response size may be smaller or larger as constrained by the need to provide the reliable operation of the `start` parameter, if one is provided.
        schema:
          type: number
      responses:
        "200":
          description: A successful response returns a list of all classes in the
            container.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listClassesResponse'
        "400":
          description: The `Accept` header is invalid or missing. Ensure that you
            are providing a valid `Accept` header for a listing call with no version
            supplied (e.g. `application/vnd.adobe.xed-id+json`) before trying again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorList'
  /{CONTAINER_ID}/classes/{CLASS_ID}:
    get:
      tags:
      - Classes
      summary: Retrieve a class
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html)\
        \ on Experience League."
      operationId: retrieveClass
      parameters:
      - name: CONTAINER_ID
        in: path
        description: "The name of the container that you want to retrieve a resource\
          \ from. To retrieve a core resource provided by Adobe, use `global`. To\
          \ retrieve a custom resource defined by your organization, use `tenant`."
        required: true
        schema:
          type: string
      - name: CLASS_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the class you want to
          look up.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: |-
          The desired response format. For lookup requests, a `version` parameter must be included, with the following `Accept` header values being permitted:
          <table><thead><tr><th>Accept</th><th>Description</th></tr></thead><tbody><tr><td><code>application/vnd.adobe.xed+json; version=1</code></td><td>Returns only the basic details of the resource, with all inherited fields relegated to <code>$ref</code> and <code>allOf</code> properties.</td></tr><tr><td><code>application/vnd.adobe.xed-full+json; version=1</code></td><td>Returns the full details of the resource, including the details all fields inherited from other resources.</td></tr><tr><td><code>application/vnd.adobe.xed-notext+json; version=1</code></td><td>Returns only the basic details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-notext+json; version=1</code></td><td>Returns the full details of the resource, but with no titles or descriptions.</td></tr><tr><td><code>application/vnd.adobe.xed-full-desc+json; version=1</code></td><td>Returns the full details of the resource, including descriptions but with no titles.</td></tr></tbody></table>
        required: true
        schema:
          type: string
      responses:
        "200":
          description: A successful response returns the details of the class.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lookupClassResponse'
        "400":
          description: "The `Accept` header is invalid or missing. Ensure that you\
            \ are providing a valid `Accept` header for a single lookup call, including\
            \ a major version (e.g. `application/vnd.adobe.xed-id+json; version=1`)\
            \ before trying again."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptErrorLookup'
        "404":
          description: The resource is not found.
          content: {}
  /tenant/classes:
    post:
      tags:
      - Classes
      summary: Create a custom class
      description: ">**NOTE**: For more information on using this operation, see the\
        \ [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html)\
        \ on Experience League."
      operationId: createClass
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform\
          \ integration, prefixed with \"Bearer \". For more information on how to\
          \ obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform\
          \ integration. For more information on how to obtain this value, visit the\
          \ [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The IMS Organization ID which can be copied from your Experience\
          \ Platform integration. For more information on how to obtain this value,\
          \ visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place.\
          \ See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en)\
          \ for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: "The type of content being sent in the body of the request. When\
          \ sending requests that include payloads to the Schema Registry API, this\
          \ header must be included with a value of `application/json`."
        required: true
        schema:
          type: string
      requestBody:
        description: The request payload must include an `allOf` attribute referencing
          either 'https://ns.adobe.com/xdm/data/record' or 'https://ns.adobe.com/xdm/data/time-series'.
          This value represents the data behavior upon which the class is based. `allOf`
          may also optionally include field groups or custom fields that will be included
          each time the class is used.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createClass'
        required: true
      responses:
        "201":
          description: A successful response returns the details of the newly created
            class.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createClassResponse'
        "400":
          description: The request payload was incorrectly formatted. Check your payload
            formatting before trying again.
          content: {}
      x-codegen-request-body-name: body
  /tenant/classes/{CLASS_ID}:
    put:
      tags:
      - Classes
      summary: Update a custom class
      description: |-
        A PUT request essentially re-writes the class, therefore the request body must include all fields required to create (POST) a class. This is especially useful when updating a lot of information in the class at once.

        >**NOTE**: For more information on using this operation, see the [classes endpoint guide](https://experienceleague.adobe.com/docs/experience-platform/xdm/api/classes.html) on Experience League.
      operationId: replaceClass
      parameters:
      - name: CLASS_ID
        in: path
        description: The `meta:altId` or URL-encoded `$id` of the class you want to
          update.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
[...]
