openapi: 3.0.1
info:
  description: 
    >-
    Adobe Experience Platform Destination SDK (also referred to as the *Destination Authoring API*) is a suite of configuration APIs that allow you to configure destination integration patterns for Experience Platform to deliver audience and profile data to your endpoint, based on data and authentication formats of your choice. 
    
    - **Related documentation**:
        - [Destination SDK overview](http://www.adobe.com/go/destination-sdk-overview-en)
        - [Getting started](http://www.adobe.com/go/destination-sdk-getting-started-en)

    - **Visualize API calls with Postman (a free, third-party software)**:
        - [Destination Authoring API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Destination%20Authoring%20API.postman_collection.json)
        - [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
        - [Steps for importing environments and collections in Postman](https://learning.postman.com/docs/getting-started/importing-and-exporting-data/)

    - **API paths**:
        - PLATFORM Gateway URL: https://<span>platform.adobe.io
        - Base path for this API: /data/core/activation/authoring
        - Example of a complete path for making a call to "/destinations": https://<span>platform.adobe.io/data/core/activation/authoring/destinations
  
    - **Required headers**:
        - All service calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        - All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
        - All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

    - **API error handling**:
        - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html?lang=en#request-header-errors).

  version: "1.0"
  title: "Destination Authoring API"
servers:
  - url: https://platform.adobe.io/data/core/activation/authoring
    description: Production server
tags:
  - name: (NEW) Interactive API documentation
    description: You can now interact with the Experience Platform API endpoints directly from this API reference page. Get your [authentication credentials](https://www.adobe.com/go/platform-api-get-credentials-en) and use the **Try it** functionality in the right rail. Note that by using this functionality, you are making real API calls. Keep this in mind when you interact with production sandboxes.
  - name: "Destination configurations"
    description: "Destination configurations contain essential metadata for individual destinations, including their name, category, description, and more. The settings in this configuration also determine how Experience Platform users authenticate to your destination, how it appears in the Experience Platform user interface, and the identities that can be exported to your destination. <br><br> For a description of the functionality supported by this endpoint and an example configuration, see the overview on [destination configurations](http://www.adobe.com/go/destination-sdk-destination-configuration-en) in the Destination SDK documentation."
  - name: "Destination servers and templates"
    description: "Destination server configurations contain information about the server receiving the messages (the server on your side). Template configurations allow you to configure how to format the exported message to your destination. <br><br> For a description of the functionality provided by this endpoint, see the overview on [server](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/functionality/destination-server/server-specs) and [template specs](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/functionality/destination-server/templating-specs) in the Destination SDK documentation."
  - name: "Audience metadata templates"
    description: "Audience metadata templates allow you to programmatically manage audiences in your destination. <br><br> For a description of when to use this endpoint, see the overview on [audience metadata management](http://www.adobe.com/go/destination-sdk-audience-metadata-en) in the Destination SDK documentation."
  - name: "Credentials"
    description: "If a Platform customer does not need to provide any authentication credentials to connect to your destination, a credentials configuration can provide the required credentials instead. Note that you must also select `PLATFORM_AUTHENTICATION` in the destination configuration in order to make use of this endpoint. <br><br> For more information when to use this endpoint, see the overview on [authentication configuration](http://www.adobe.com/go/destination-sdk-authentication-configuration-en) in the Destination SDK documentation. "
  - name: "Destination testing"
    description: "The Destination Authoring API provides several tools to test file-based and streaming destinations. Read the overview documents for testing [file-based](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/testing-api/batch-destinations/file-based-destination-testing-overview) and [streaming destinations](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/testing-api/streaming-destinations/streaming-destination-testing-overview) to understand the tools available to you."
  - name: "Destination publishing"
    description: "After you have configured and tested your destination, you can use the destination publishing endpoint to submit it to Adobe for review and publishing. Read more in the [destination publishing API tutorial](http://www.adobe.com/go/destination-sdk-publish-en)."
paths:
  /destinations:
    get:
      tags:
        - "Destination configurations"
      summary: "Retrieve a list of destination configurations"
      description: "You can retrieve a list of all destination configurations for your IMS Organization by making a GET request to the `/destinations` endpoint."
      operationId: "listDestinations"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
      # - in: "body"
      #   name: "body"
      #   description: "Destination Configuration object for a new destination"
      #   required: true
      #   schema:
      #     $ref: "#/components/schemas/destinationAuthoringEntity"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with a list of destination configurations that you have access to, based on the IMS Org ID and sandbox name that you used. One instanceId corresponds to one destination configuration."
          x-summary: "Destination configurations retrieved successfully"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/destinationResponse"
              examples:
                default:
                  value:
                    items:
                      - instanceId: "b0780cb5-2bb7-4409-bf2c-c625ca818588"
                        createdDate: "2020-10-28T06:14:09.784471Z"
                        lastModifiedDate: "2021-06-28T06:14:09.784471Z"
                        imsOrg: "AC3428435BF324E90A49402A@AdobeOrg"
                        sandboxName: "prod"
                        sandboxId: "r5g6660-c5da-11e9-93d4-6d5fc3a66a8e"
                        name: "Moviestar"
                        description: "Moviestar is a fictional destination, used for this example."
                        status: "TEST"
                        customerAuthenticationConfigurations:
                          - authType: "BEARER"
                        customerDataFields:
                          - name: "endpointsInstance"
                            type: "string"
                            title: "Select Endpoint"
                            description: "Moviestar manages several instances across the globe for REST endpoints that our customers are provisioned for. Select your endpoint in the dropdown list."
                            isRequired: true
                            enum:
                              - "US"
                              - "EU"
                              - "APAC"
                              - "NZ"
                          - name: "customerID"
                            type: "string"
                            title: "Moviestar Customer ID"
                            description: "Your customer ID in the Moviestar destination (e.g. abcdef)."
                            isRequired: true
                            pattern: "^[A-Za-z]+$"
                        uiAttributes:
                          documentationLink: "https://www.adobe.com/go/destinations-moviestar-en"
                          category: "mobile"
                          connectionType: "Server-to-server"
                          frequency: "Streaming"
                        identityNamespaces:
                          external_id:
                            acceptsAttributes: true
                            acceptsCustomNamespaces: true
                            acceptedGlobalNamespaces:
                              Email: {}
                          another_id:
                            acceptsAttributes: true
                            acceptsCustomNamespaces: true
                        segmentMappingConfig:
                          mapExperiencePlatformSegmentName: false
                          mapExperiencePlatformSegmentId: false
                          mapUserInput: false
                          audienceTemplateId: "cbf90a70-96b4-437b-86be-522fbdaabe9c"
                        schemaConfig:
                          profileFields:
                            - name: "a_custom_attribute"
                              title: "a_custom_attribute"
                              description: "This is a fixed attribute on your destination side that customers can map profile attributes to. For example, the phoneNumber value in Experience Platform could be phoneNo on your side."
                              type: "string"
                              isRequired: false
                              readOnly: false
                              hidden: false
                          profileRequired: true
                          segmentRequired: true
                          identityRequired: true
                        aggregation:
                          aggregationType: "BEST_EFFORT"
                          bestEffortAggregation:
                            maxUsersPerRequest: 10
                            splitUserById: false
                        destinationDelivery:
                          - authenticationRule: "CUSTOMER_AUTHENTICATION"
                            destinationServerId: "9c77000a-4559-40ae-9119-a04324a3ecd4"
                        destConfigId: "410631b8-f6b3-4b7c-82da-7998aa3f327c"
                        backfillHistoricalProfileData: true
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request and try again."
          x-summary: "Access forbidden"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
    post:
      tags:
        - "Destination configurations"
      summary: "Create a destination configuration"
      description: "You can create a new destination configuration by making a POST request to the `/destinations` endpoint. <br><br> The payload below includes all parameters for file-based destinations accepted by the `/authoring/destinations` endpoint. Note that you do not have to add all parameters to your API call, and that the payload is customizable, according to your API requirements."
      operationId: "createDestination"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
      requestBody:
        description: "Destination configuration object for a new destination. The request creates an Amazon S3 destination configuration, configured by the parameters provided in the payload. The payload below includes all parameters for file-based destinations accepted by the `/authoring/destinations` endpoint. Note that you do not have to add all parameters to your API call, and that the payload is customizable, according to your API requirements. <br><br> Refer to the Destination SDK documentation for an example of a destination configuration for a [file-based](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/guides/configure-file-based-destination-instructions#create-destination-configuration) and a [streaming destination](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/guides/configure-destination-instructions#create-destination-configuration)."
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/destination"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your newly created destination configuration."
          x-summary: "Destination configuration created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/destinationResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect payload format"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
#        "405":
#          description: "Invalid input"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /destinations/{INSTANCE_ID}:
    get:
      tags:
        - "Destination configurations"
      summary: "Retrieve a destination configuration"
      description: "You can retrieve detailed information about a specific destination configuration by making a GET request to the `/destinations` endpoint and providing the ID of the destination configuration you want to retrieve."
      operationId: "retrieveDestination"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
        - name: "INSTANCE_ID"
          in: "path"
          description: "The ID of the destination configuration that you want to retrieve."
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with the details of the destination configuration corresponding to the INSTANCE_ID provided in the call."
          x-summary: "Destination configuration retrieved"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  items:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/destinationResponse"
              examples:
                default:
                  value:
                    items:
                      - instanceId: "b0780cb5-2bb7-4409-bf2c-c625ca818588"
                        createdDate: "2020-10-28T06:14:09.784471Z"
                        lastModifiedDate: "2021-06-28T06:14:09.784471Z"
                        imsOrg: "AC3428435BF324E90A49402A@AdobeOrg"
                        sandboxName: "prod"
                        sandboxId: "r5g6660-c5da-11e9-93d4-6d5fc3a66a8e"
                        name: "Moviestar"
                        description: "Moviestar is a fictional destination, used for this example."
                        status: "TEST"
                        customerAuthenticationConfigurations:
                          - authType: "BEARER"
                        customerDataFields:
                          - name: "endpointsInstance"
                            type: "string"
                            title: "Select Endpoint"
                            description: "Moviestar manages several instances across the globe for REST endpoints that our customers are provisioned for. Select your endpoint in the dropdown list."
                            isRequired: true
                            enum:
                              - "US"
                              - "EU"
                              - "APAC"
                              - "NZ"
                          - name: "customerID"
                            type: "string"
                            title: "Moviestar Customer ID"
                            description: "Your customer ID in the Moviestar destination (e.g. abcdef)."
                            isRequired: true
                            pattern: "^[A-Za-z]+$"
                        uiAttributes:
                          documentationLink: "https://www.adobe.com/go/destinations-moviestar-en"
                          category: "mobile"
                          connectionType: "Server-to-server"
                          frequency: "Streaming"
                        identityNamespaces:
                          external_id:
                            acceptsAttributes: true
                            acceptsCustomNamespaces: true
                            acceptedGlobalNamespaces:
                              Email: {}
                          another_id:
                            acceptsAttributes: true
                            acceptsCustomNamespaces: true
                        segmentMappingConfig:
                          mapExperiencePlatformSegmentName: false
                          mapExperiencePlatformSegmentId: false
                          mapUserInput: false
                          audienceTemplateId: "cbf90a70-96b4-437b-86be-522fbdaabe9c"
                        schemaConfig:
                          profileFields:
                            - name: "a_custom_attribute"
                              title: "a_custom_attribute"
                              description: "This is a fixed attribute on your destination side that customers can map profile attributes to. For example, the phoneNumber value in Experience Platform could be phoneNo on your side."
                              type: "string"
                              isRequired: false
                              readOnly: false
                              hidden: false
                          profileRequired: true
                          segmentRequired: true
                          identityRequired: true
                        aggregation:
                          aggregationType: "BEST_EFFORT"
                          bestEffortAggregation:
                            maxUsersPerRequest: 10
                            splitUserById: false
                        destinationDelivery:
                          - authenticationRule: "CUSTOMER_AUTHENTICATION"
                            destinationServerId: "9c77000a-4559-40ae-9119-a04324a3ecd4"
                        destConfigId: "410631b8-f6b3-4b7c-82da-7998aa3f327c"
                        backfillHistoricalProfileData: true
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to formatting error"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
    put:
      tags:
        - "Destination configurations"
      summary: "Update a destination configuration"
      description: "You can update an existing destination configuration by making a PUT request to the `/destinations` endpoint with the updated payload. <br><br> To obtain an existing destination configuration and its corresponding `{INSTANCE_ID}`, see [Retrieve a destination configuration](#operation/retrieveDestination)."
      operationId: "updateDestination"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
        - name: "INSTANCE_ID"
          in: "path"
          description: "The ID of the destination configuration that you want to update. To obtain an existing destination configuration and its corresponding `{INSTANCE_ID}`, see [Retrieve a destination configuration](#operation/retrieveDestination)."
          required: true
          schema:
            type: "string"        
      requestBody:
        description: "Destination configuration object to update existing destination. The request updates the destination configuration with the parameters provided in the payload. See an example of a destination configuration for a [file-based](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/guides/configure-file-based-destination-instructions#create-destination-configuration) and a [streaming destination](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/guides/configure-destination-instructions#create-destination-configuration)."
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/destination"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with the details of your updated destination configuration."
          x-summary: "Destination configuration updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/destinationResponse"
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Resource not found"
#        "405":
#          description: "Validation exception"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
    delete:
      tags:
        - "Destination configurations"
      summary: "Delete a destination configuration"
      description: "You can delete an existing destination configuration by making a DELETE request to the `/destinations` endpoint with the `{INSTANCE_ID}` of the destination configuration that you want to delete. <br><br> To obtain an existing destination configuration and its corresponding `{INSTANCE_ID}`, see [Retrieve a destination configuration](#operation/retrieveDestination)."
      operationId: "deleteDestination"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
        - name: "INSTANCE_ID"
          in: "path"
          description: "The ID of the destination configuration you want to delete."
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 along with an empty HTTP response."
          x-summary: "Resource deleted successfully"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request and try again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#        - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /destination-servers:
    get:
      tags:
        - "Destination servers and templates"
      summary: "Retrieve a list of destination server configurations"
      description: "You can retrieve a list of all destination server configurations for your IMS Organization by making a GET request to the `/destination-servers` endpoint."
      operationId: "listDestinationServer"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
      # - in: "body"
      #   name: "body"
      #   description: "Destination Configuration object for a new destination"
      #   required: true
      #   schema:
      #     $ref: "#/components/schemas/serverEntity"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with a list of destination server configurations that you have access to, based on the IMS Org ID and sandbox name that you used. One instanceId corresponds to one destination server."
          x-summary: "Destination server configurations retrieved"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/destinationServerResponse"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
    post:
      tags:
        - "Destination servers and templates"
      summary: "Create a destination server configuration"
      description: "You can create a new destination server configuration by making a POST request to the `/destination-servers` endpoint. <br><br> Depending on the destination type that you create, you need to configure a slightly different type of destination server. Select an example from the dropdown to view complete request payloads for each server type."
      operationId: "createDestinationServer"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
      requestBody:
        description: |
          Choose ONE destination server type based on your integration:
          
          - **Real-time (streaming)**: Use `URL_BASED` for API-based integrations
          - **SFTP**: Use `FILE_BASED_SFTP` for SFTP file-based destinations
          - **Amazon S3**: Use `FILE_BASED_S3` for S3 file-based destinations
          - **Azure Blob Storage**: Use `FILE_BASED_AZURE_BLOB` for Azure Blob destinations
          - **Azure Data Lake Storage Gen2**: Use `FILE_BASED_ADLS_GEN2` for ADLS Gen2 destinations
          - **Data Landing Zone**: Use `FILE_BASED_DLZ` for Data Landing Zone destinations
          - **Google Cloud Storage**: Use `FILE_BASED_GOOGLE_CLOUD` for Google Cloud Storage destinations
          
          **See documentation:**
          - [Server specs](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/functionality/destination-server/server-specs)
          - [Templating specs](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/functionality/destination-server/templating-specs)
          - [File formatting](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/functionality/destination-server/file-formatting)
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/destinationServer"
            examples:
              Real-time (streaming):
                summary: "Real-time (streaming) destination server"
                value:
                  name: "Moviestar destination server"
                  destinationServerType: "URL_BASED"
                  urlBasedDestination:
                    url:
                      templatingStrategy: "PEBBLE_V1"
                      value: "https://api.moviestar.com/data/{{customerData.region}}/items"
                  httpTemplate:
                    httpMethod: "POST"
                    requestBody:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{ \"attributes\": [ {% for ns in [\"external_id\", \"yourdestination_id\"] %} {% if input.profile.identityMap[ns] is not empty and first_namespace_encountered %} , {% endif %} {% set first_namespace_encountered = true %} {% for identity in input.profile.identityMap[ns]%} { \"{{ ns }}\": \"{{ identity.id }}\" {% if input.profile.segmentMembership.ups is not empty %} , \"AEPSegments\": { \"add\": [ {% for segment in input.profile.segmentMembership.ups %} {% if segment.value.status == \"realized\" or segment.value.status == \"existing\" %} {% if added_segment_found %} , {% endif %} {% set added_segment_found = true %} \"{{ destination.segmentAliases[segment.key] }}\" {% endif %} {% endfor %} ], \"remove\": [ {% for segment in input.profile.segmentMembership.ups %} {% if segment.value.status == \"exited\" %} {% if removed_segment_found %} , {% endif %} {% set removed_segment_found = true %} \"{{ destination.segmentAliases[segment.key] }}\" {% endif %} {% endfor %} ] } {% set removed_segment_found = false %} {% set added_segment_found = false %} {% endif %} {% if input.profile.attributes is not empty %} , {% endif %} {% for attribute in input.profile.attributes %} \"{{ attribute.key }}\": {% if attribute.value is empty %} null {% else %} \"{{ attribute.value.value }}\" {% endif %} {% if not loop.last%} , {% endif %} {% endfor %} } {% if not loop.last %} , {% endif %} {% endfor %} {% endfor %} ] }"
                    contentType: "application/json"
              Amazon S3:
                summary: "Amazon S3 destination server"
                value:
                  name: "S3 destination"
                  destinationServerType: "FILE_BASED_S3"
                  fileBasedS3Destination:
                    bucket:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.bucket}}"
                    path:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.path}}"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
                      quote:
                        templatingStrategy: "NONE"
                        value: "\""
                      quoteAll:
                        templatingStrategy: "NONE"
                        value: "false"
                      escape:
                        templatingStrategy: "NONE"
                        value: "\\"
                      escapeQuotes:
                        templatingStrategy: "NONE"
                        value: "true"
                      header:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreLeadingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreTrailingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      nullValue:
                        templatingStrategy: "NONE"
                        value: ""
                      dateFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd"
                      timestampFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                      charToEscapeQuoteEscaping:
                        templatingStrategy: "NONE"
                        value: "\\"
                      emptyValue:
                        templatingStrategy: "NONE"
                        value: ""
              SFTP:
                summary: "SFTP destination server"
                value:
                  name: "File-based SFTP destination server"
                  destinationServerType: "FILE_BASED_SFTP"
                  fileBasedSFTPDestination:
                    rootDirectory:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.rootDirectory}}"
                    hostName:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.hostName}}"
                    port: 22
                    encryptionMode: "PGP"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
                      quote:
                        templatingStrategy: "NONE"
                        value: "\""
                      quoteAll:
                        templatingStrategy: "NONE"
                        value: "false"
                      escape:
                        templatingStrategy: "NONE"
                        value: "\\"
                      escapeQuotes:
                        templatingStrategy: "NONE"
                        value: "true"
                      header:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreLeadingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreTrailingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      nullValue:
                        templatingStrategy: "NONE"
                        value: ""
                      dateFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd"
                      timestampFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                      charToEscapeQuoteEscaping:
                        templatingStrategy: "NONE"
                        value: "\\"
                      emptyValue:
                        templatingStrategy: "NONE"
                        value: ""
              Azure Data Lake Storage Gen2:
                summary: "Azure Data Lake Storage Gen2 destination server"
                value:
                  name: "ADLS Gen2 destination server"
                  destinationServerType: "FILE_BASED_ADLS_GEN2"
                  fileBasedAdlsGen2Destination:
                    path:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.path}}"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
                      quote:
                        templatingStrategy: "NONE"
                        value: "\""
                      quoteAll:
                        templatingStrategy: "NONE"
                        value: "false"
                      escape:
                        templatingStrategy: "NONE"
                        value: "\\"
                      escapeQuotes:
                        templatingStrategy: "NONE"
                        value: "true"
                      header:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreLeadingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreTrailingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      nullValue:
                        templatingStrategy: "NONE"
                        value: ""
                      dateFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd"
                      timestampFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                      charToEscapeQuoteEscaping:
                        templatingStrategy: "NONE"
                        value: "\\"
                      emptyValue:
                        templatingStrategy: "NONE"
                        value: ""
              Azure Blob Storage:
                summary: "Azure Blob Storage destination server"
                value:
                  name: "Azure Blob destination server"
                  destinationServerType: "FILE_BASED_AZURE_BLOB"
                  fileBasedAzureBlobDestination:
                    path:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.path}}"
                    container:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.container}}"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
                      quote:
                        templatingStrategy: "NONE"
                        value: "\""
                      quoteAll:
                        templatingStrategy: "NONE"
                        value: "false"
                      escape:
                        templatingStrategy: "NONE"
                        value: "\\"
                      escapeQuotes:
                        templatingStrategy: "NONE"
                        value: "true"
                      header:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreLeadingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreTrailingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      nullValue:
                        templatingStrategy: "NONE"
                        value: ""
                      dateFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd"
                      timestampFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                      charToEscapeQuoteEscaping:
                        templatingStrategy: "NONE"
                        value: "\\"
                      emptyValue:
                        templatingStrategy: "NONE"
                        value: ""
              Data Landing Zone:
                summary: "Data Landing Zone destination server"
                value:
                  name: "DLZ destination server"
                  destinationServerType: "FILE_BASED_DLZ"
                  fileBasedDlzDestination:
                    path:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.path}}"
                    useCase: "dlz_destination"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
                      quote:
                        templatingStrategy: "NONE"
                        value: "\""
                      quoteAll:
                        templatingStrategy: "NONE"
                        value: "false"
                      escape:
                        templatingStrategy: "NONE"
                        value: "\\"
                      escapeQuotes:
                        templatingStrategy: "NONE"
                        value: "true"
                      header:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreLeadingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreTrailingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      nullValue:
                        templatingStrategy: "NONE"
                        value: ""
                      dateFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd"
                      timestampFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                      charToEscapeQuoteEscaping:
                        templatingStrategy: "NONE"
                        value: "\\"
                      emptyValue:
                        templatingStrategy: "NONE"
                        value: ""
              Google Cloud Storage:
                summary: "Google Cloud Storage destination server"
                value:
                  name: "Google Cloud Storage destination server"
                  destinationServerType: "FILE_BASED_GOOGLE_CLOUD"
                  fileBasedGoogleCloudStorageDestination:
                    bucket:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.bucket}}"
                    path:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.path}}"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
                      quote:
                        templatingStrategy: "NONE"
                        value: "\""
                      quoteAll:
                        templatingStrategy: "NONE"
                        value: "false"
                      escape:
                        templatingStrategy: "NONE"
                        value: "\\"
                      escapeQuotes:
                        templatingStrategy: "NONE"
                        value: "true"
                      header:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreLeadingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreTrailingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      nullValue:
                        templatingStrategy: "NONE"
                        value: ""
                      dateFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd"
                      timestampFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                      charToEscapeQuoteEscaping:
                        templatingStrategy: "NONE"
                        value: "\\"
                      emptyValue:
                        templatingStrategy: "NONE"
                        value: ""
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with details of your newly created destination server configuration."
          x-summary: "Destination server configuration created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/destinationServerResponse"
              examples:
                Real-time (streaming):
                  summary: "Real-time (streaming) destination server response"
                  value:
                    instanceId: "9c77000a-4559-40ae-9119-a04324a3ecd4"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "Moviestar destination server"
                    destinationServerType: "URL_BASED"
                    urlBasedDestination:
                      url:
                        templatingStrategy: "PEBBLE_V1"
                        value: "https://api.moviestar.com/data/{{customerData.region}}/items"
                    httpTemplate:
                      httpMethod: "POST"
                      requestBody:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{ \"attributes\": [ {% for ns in [\"external_id\", \"yourdestination_id\"] %} {% if input.profile.identityMap[ns] is not empty and first_namespace_encountered %} , {% endif %} {% set first_namespace_encountered = true %} {% for identity in input.profile.identityMap[ns]%} { \"{{ ns }}\": \"{{ identity.id }}\" {% if input.profile.segmentMembership.ups is not empty %} , \"AEPSegments\": { \"add\": [ {% for segment in input.profile.segmentMembership.ups %} {% if segment.value.status == \"realized\" or segment.value.status == \"existing\" %} {% if added_segment_found %} , {% endif %} {% set added_segment_found = true %} \"{{ destination.segmentAliases[segment.key] }}\" {% endif %} {% endfor %} ], \"remove\": [ {% for segment in input.profile.segmentMembership.ups %} {% if segment.value.status == \"exited\" %} {% if removed_segment_found %} , {% endif %} {% set removed_segment_found = true %} \"{{ destination.segmentAliases[segment.key] }}\" {% endif %} {% endfor %} ] } {% set removed_segment_found = false %} {% set added_segment_found = false %} {% endif %} {% if input.profile.attributes is not empty %} , {% endif %} {% for attribute in input.profile.attributes %} \"{{ attribute.key }}\": {% if attribute.value is empty %} null {% else %} \"{{ attribute.value.value }}\" {% endif %} {% if not loop.last%} , {% endif %} {% endfor %} } {% if not loop.last %} , {% endif %} {% endfor %} {% endfor %} ] }"
                      contentType: "application/json"
                Amazon S3:
                  summary: "Amazon S3 destination server response"
                  value:
                    instanceId: "e2d82550-3e99-4a01-b8e1-f90972ae61ce"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "S3 destination"
                    destinationServerType: "FILE_BASED_S3"
                    fileBasedS3Destination:
                      bucket:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.bucket}}"
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                SFTP:
                  summary: "SFTP destination server response"
                  value:
                    instanceId: "a1b2c3d4-5678-90ab-cdef-1234567890ab"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "File-based SFTP destination server"
                    destinationServerType: "FILE_BASED_SFTP"
                    fileBasedSFTPDestination:
                      rootDirectory:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.rootDirectory}}"
                      hostName:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.hostName}}"
                      port: 22
                      encryptionMode: "PGP"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                Azure Data Lake Storage Gen2:
                  summary: "Azure Data Lake Storage Gen2 destination server response"
                  value:
                    instanceId: "b2c3d4e5-6789-01bc-defg-234567890bcd"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "ADLS Gen2 destination server"
                    destinationServerType: "FILE_BASED_ADLS_GEN2"
                    fileBasedAdlsGen2Destination:
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                Azure Blob Storage:
                  summary: "Azure Blob Storage destination server response"
                  value:
                    instanceId: "c3d4e5f6-7890-12cd-efgh-34567890cdef"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "Azure Blob destination server"
                    destinationServerType: "FILE_BASED_AZURE_BLOB"
                    fileBasedAzureBlobDestination:
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                      container:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.container}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                Data Landing Zone:
                  summary: "Data Landing Zone destination server response"
                  value:
                    instanceId: "d4e5f6g7-8901-23de-fghi-4567890defg1"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "DLZ destination server"
                    destinationServerType: "FILE_BASED_DLZ"
                    fileBasedDlzDestination:
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                Google Cloud Storage:
                  summary: "Google Cloud Storage destination server response"
                  value:
                    instanceId: "e5f6g7h8-9012-34ef-ghij-567890efgh12"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "Google Cloud Storage destination server"
                    destinationServerType: "FILE_BASED_GOOGLE_CLOUD"
                    fileBasedGoogleCloudDestination:
                      bucket:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.bucket}}"
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to formatting error"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
#        "405":
#          description: "Invalid input"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"
  /destination-servers/{INSTANCE_ID}:
    get:
      tags:
        - "Destination servers and templates"
      summary: "Retrieve a destination server configuration"
      description: "You can retrieve detailed information about a specific destination server configuration by making a GET request to the `/destination-servers` endpoint and providing the ID of the destination server configuration you want to retrieve."
      operationId: "retrieveDestinationServer"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
        - name: "INSTANCE_ID"
          in: "path"
          description: "The ID of the destination server configuration you want to retrieve."
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "A successful response returns HTTP status 200 with the configuration of the destination server corresponding to the INSTANCE_ID you provided."
          x-summary: "Destination server configuration retrieved"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/destinationServerResponse"
              examples:
                Real-time (streaming):
                  summary: "Real-time (streaming) destination server response"
                  value:
                    instanceId: "9c77000a-4559-40ae-9119-a04324a3ecd4"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "Moviestar destination server"
                    destinationServerType: "URL_BASED"
                    urlBasedDestination:
                      url:
                        templatingStrategy: "PEBBLE_V1"
                        value: "https://api.moviestar.com/data/{{customerData.region}}/items"
                    httpTemplate:
                      httpMethod: "POST"
                      requestBody:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{ \"attributes\": [ {% for ns in [\"external_id\", \"yourdestination_id\"] %} {% if input.profile.identityMap[ns] is not empty and first_namespace_encountered %} , {% endif %} {% set first_namespace_encountered = true %} {% for identity in input.profile.identityMap[ns]%} { \"{{ ns }}\": \"{{ identity.id }}\" {% if input.profile.segmentMembership.ups is not empty %} , \"AEPSegments\": { \"add\": [ {% for segment in input.profile.segmentMembership.ups %} {% if segment.value.status == \"realized\" or segment.value.status == \"existing\" %} {% if added_segment_found %} , {% endif %} {% set added_segment_found = true %} \"{{ destination.segmentAliases[segment.key] }}\" {% endif %} {% endfor %} ], \"remove\": [ {% for segment in input.profile.segmentMembership.ups %} {% if segment.value.status == \"exited\" %} {% if removed_segment_found %} , {% endif %} {% set removed_segment_found = true %} \"{{ destination.segmentAliases[segment.key] }}\" {% endif %} {% endfor %} ] } {% set removed_segment_found = false %} {% set added_segment_found = false %} {% endif %} {% if input.profile.attributes is not empty %} , {% endif %} {% for attribute in input.profile.attributes %} \"{{ attribute.key }}\": {% if attribute.value is empty %} null {% else %} \"{{ attribute.value.value }}\" {% endif %} {% if not loop.last%} , {% endif %} {% endfor %} } {% if not loop.last %} , {% endif %} {% endfor %} {% endfor %} ] }"
                      contentType: "application/json"
                Amazon S3:
                  summary: "Amazon S3 destination server response"
                  value:
                    instanceId: "e2d82550-3e99-4a01-b8e1-f90972ae61ce"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "S3 destination"
                    destinationServerType: "FILE_BASED_S3"
                    fileBasedS3Destination:
                      bucket:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.bucket}}"
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                SFTP:
                  summary: "SFTP destination server response"
                  value:
                    instanceId: "a1b2c3d4-5678-90ab-cdef-1234567890ab"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "File-based SFTP destination server"
                    destinationServerType: "FILE_BASED_SFTP"
                    fileBasedSFTPDestination:
                      rootDirectory:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.rootDirectory}}"
                      hostName:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.hostName}}"
                      port: 22
                      encryptionMode: "PGP"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                Azure Data Lake Storage Gen2:
                  summary: "Azure Data Lake Storage Gen2 destination server response"
                  value:
                    instanceId: "b2c3d4e5-6789-01bc-defg-234567890bcd"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "ADLS Gen2 destination server"
                    destinationServerType: "FILE_BASED_ADLS_GEN2"
                    fileBasedAdlsGen2Destination:
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                Azure Blob Storage:
                  summary: "Azure Blob Storage destination server response"
                  value:
                    instanceId: "c3d4e5f6-7890-12cd-efgh-34567890cdef"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "Azure Blob destination server"
                    destinationServerType: "FILE_BASED_AZURE_BLOB"
                    fileBasedAzureBlobDestination:
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                      container:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.container}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                Data Landing Zone:
                  summary: "Data Landing Zone destination server response"
                  value:
                    instanceId: "d4e5f6g7-8901-23de-fghi-4567890defg1"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "DLZ destination server"
                    destinationServerType: "FILE_BASED_DLZ"
                    fileBasedDlzDestination:
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
                Google Cloud Storage:
                  summary: "Google Cloud Storage destination server response"
                  value:
                    instanceId: "e5f6g7h8-9012-34ef-ghij-567890efgh12"
                    createdDate: "2020-09-28T23:01:56.925824Z"
                    lastModifiedDate: "2020-09-28T23:01:56.925824Z"
                    name: "Google Cloud Storage destination server"
                    destinationServerType: "FILE_BASED_GOOGLE_CLOUD"
                    fileBasedGoogleCloudDestination:
                      bucket:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.bucket}}"
                      path:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.path}}"
                    fileConfigurations:
                      compression:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.compression}}"
                      fileType:
                        templatingStrategy: "PEBBLE_V1"
                        value: "{{customerData.fileType}}"
                      csvOptions:
                        quote:
                          templatingStrategy: "NONE"
                          value: "\""
                        quoteAll:
                          templatingStrategy: "NONE"
                          value: "false"
                        escape:
                          templatingStrategy: "NONE"
                          value: "\\"
                        escapeQuotes:
                          templatingStrategy: "NONE"
                          value: "true"
                        header:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreLeadingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        ignoreTrailingWhiteSpace:
                          templatingStrategy: "NONE"
                          value: "true"
                        nullValue:
                          templatingStrategy: "NONE"
                          value: ""
                        dateFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd"
                        timestampFormat:
                          templatingStrategy: "NONE"
                          value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                        charToEscapeQuoteEscaping:
                          templatingStrategy: "NONE"
                          value: "\\"
                        emptyValue:
                          templatingStrategy: "NONE"
                          value: ""
        "400":
          description: "Bad request. The request payload was incorrectly formatted. Check your payload formatting before trying again."
          x-summary: "Bad request due to incorrect formatting"
        "401":
          description: "Unauthorized. A mandatory header might be missing from the request or you may be missing permissions to access the resource. Verify your request before trying again."
          x-summary: "Unauthorized access"
        "403":
          description: "Forbidden. The requester is not authorized to access the resource or a mandatory header might be missing from the request. Verify your request before trying again."
          x-summary: "Access forbidden"
        "404":
          description: "Resource not found. Verify that you are using the correct destination server configuration ID before trying again."
          x-summary: "Resource not found"
#      security:
#       - dest_auth:
#            - "write:dest"
#            - "read:dest"  
    put:
      tags:
        - "Destination servers and templates"
      summary: "Update a destination server configuration"
      description: "You can update an existing destination server configuration by making a PUT request to the `/destination-servers` endpoint with the updated payload. <br><br> To obtain an existing destination server configuration and its corresponding `{INSTANCE_ID}`, see [Retrieve a destination server configuration](#operation/retrieveDestinationServer)."
      operationId: "updateDestinationServer"
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-api-key'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-sandbox-name'
        - name: "INSTANCE_ID"
          in: "path"
          description: "The ID of the destination server configuration that you want to update. To obtain an existing destination server configuration and its corresponding `{INSTANCE_ID}`, see [Retrieve a destination server configuration](#operation/retrieveDestinationServer)."
          required: true
          schema:
            type: "string"
      requestBody:
        description: |
          Choose ONE destination server type based on your integration:
          
          - **Real-time (streaming)**: Use `URL_BASED` for API-based integrations
          - **SFTP**: Use `FILE_BASED_SFTP` for SFTP file-based destinations
          - **Amazon S3**: Use `FILE_BASED_S3` for S3 file-based destinations
          - **Azure Blob Storage**: Use `FILE_BASED_AZURE_BLOB` for Azure Blob destinations
          - **Azure Data Lake Storage Gen2**: Use `FILE_BASED_ADLS_GEN2` for ADLS Gen2 destinations
          - **Data Landing Zone**: Use `FILE_BASED_DLZ` for Data Landing Zone destinations
          - **Google Cloud Storage**: Use `FILE_BASED_GOOGLE_CLOUD` for Google Cloud Storage destinations
          
          **See documentation:**
          - [Server specs](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/functionality/destination-server/server-specs)
          - [Templating specs](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/functionality/destination-server/templating-specs)
          - [File formatting](https://experienceleague.adobe.com/en/docs/experience-platform/destinations/destination-sdk/functionality/destination-server/file-formatting)
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/destinationServer"
            examples:
              Real-time (streaming):
                summary: "Real-time (streaming) destination server"
                value:
                  name: "Moviestar destination server"
                  destinationServerType: "URL_BASED"
                  urlBasedDestination:
                    url:
                      templatingStrategy: "PEBBLE_V1"
                      value: "https://api.moviestar.com/data/{{customerData.region}}/items"
                  httpTemplate:
                    httpMethod: "POST"
                    requestBody:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{ \"attributes\": [ {% for ns in [\"external_id\", \"yourdestination_id\"] %} {% if input.profile.identityMap[ns] is not empty and first_namespace_encountered %} , {% endif %} {% set first_namespace_encountered = true %} {% for identity in input.profile.identityMap[ns]%} { \"{{ ns }}\": \"{{ identity.id }}\" {% if input.profile.segmentMembership.ups is not empty %} , \"AEPSegments\": { \"add\": [ {% for segment in input.profile.segmentMembership.ups %} {% if segment.value.status == \"realized\" or segment.value.status == \"existing\" %} {% if added_segment_found %} , {% endif %} {% set added_segment_found = true %} \"{{ destination.segmentAliases[segment.key] }}\" {% endif %} {% endfor %} ], \"remove\": [ {% for segment in input.profile.segmentMembership.ups %} {% if segment.value.status == \"exited\" %} {% if removed_segment_found %} , {% endif %} {% set removed_segment_found = true %} \"{{ destination.segmentAliases[segment.key] }}\" {% endif %} {% endfor %} ] } {% set removed_segment_found = false %} {% set added_segment_found = false %} {% endif %} {% if input.profile.attributes is not empty %} , {% endif %} {% for attribute in input.profile.attributes %} \"{{ attribute.key }}\": {% if attribute.value is empty %} null {% else %} \"{{ attribute.value.value }}\" {% endif %} {% if not loop.last%} , {% endif %} {% endfor %} } {% if not loop.last %} , {% endif %} {% endfor %} {% endfor %} ] }"
                    contentType: "application/json"
              Amazon S3:
                summary: "Amazon S3 destination server"
                value:
                  name: "S3 destination"
                  destinationServerType: "FILE_BASED_S3"
                  fileBasedS3Destination:
                    bucket:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.bucket}}"
                    path:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.path}}"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
                      quote:
                        templatingStrategy: "NONE"
                        value: "\""
                      quoteAll:
                        templatingStrategy: "NONE"
                        value: "false"
                      escape:
                        templatingStrategy: "NONE"
                        value: "\\"
                      escapeQuotes:
                        templatingStrategy: "NONE"
                        value: "true"
                      header:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreLeadingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreTrailingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      nullValue:
                        templatingStrategy: "NONE"
                        value: ""
                      dateFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd"
                      timestampFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                      charToEscapeQuoteEscaping:
                        templatingStrategy: "NONE"
                        value: "\\"
                      emptyValue:
                        templatingStrategy: "NONE"
                        value: ""
              SFTP:
                summary: "SFTP destination server"
                value:
                  name: "File-based SFTP destination server"
                  destinationServerType: "FILE_BASED_SFTP"
                  fileBasedSFTPDestination:
                    rootDirectory:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.rootDirectory}}"
                    hostName:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.hostName}}"
                    port: 22
                    encryptionMode: "PGP"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
                      quote:
                        templatingStrategy: "NONE"
                        value: "\""
                      quoteAll:
                        templatingStrategy: "NONE"
                        value: "false"
                      escape:
                        templatingStrategy: "NONE"
                        value: "\\"
                      escapeQuotes:
                        templatingStrategy: "NONE"
                        value: "true"
                      header:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreLeadingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      ignoreTrailingWhiteSpace:
                        templatingStrategy: "NONE"
                        value: "true"
                      nullValue:
                        templatingStrategy: "NONE"
                        value: ""
                      dateFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd"
                      timestampFormat:
                        templatingStrategy: "NONE"
                        value: "yyyy-MM-dd'T':mm:ss[.SSS][XXX]"
                      charToEscapeQuoteEscaping:
                        templatingStrategy: "NONE"
                        value: "\\"
                      emptyValue:
                        templatingStrategy: "NONE"
                        value: ""
              Azure Data Lake Storage Gen2:
                summary: "Azure Data Lake Storage Gen2 destination server"
                value:
                  name: "ADLS Gen2 destination server"
                  destinationServerType: "FILE_BASED_ADLS_GEN2"
                  fileBasedAdlsGen2Destination:
                    path:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.path}}"
                  fileConfigurations:
                    compression:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.compression}}"
                    fileType:
                      templatingStrategy: "PEBBLE_V1"
                      value: "{{customerData.fileType}}"
                    csvOptions:
[...]
