openapi: 3.0.3
info:
  title: MTLS Service API
  description: >
      Use the Data Hygiene REST API to schedule expiration dates for datasets and programmatically correct or delete stored customer personal data in Experience Platform.
     
      - **Related documentation**:
        - [Advanced Data Lifecycle Management overview](https://experienceleague.adobe.com/en/docs/experience-platform/data-lifecycle/home)
        - [Quota endpoint](https://experienceleague.adobe.com/en/docs/experience-platform/data-lifecycle/api/quota)
        - [Workorder endpoint](https://experienceleague.adobe.com/en/docs/experience-platform/data-lifecycle/api/workorder)
        - [Dataset expiration endpoint](https://experienceleague.adobe.com/en/docs/experience-platform/data-lifecycle/api/dataset-expiration)
        - [Best practices for Advanced Data Lifecycle Management](https://experienceleague.adobe.com/en/docs/experience-platform/data-lifecycle/best-practices)

      - **Visualize API calls with Postman (a free, third-party software)**:
        * [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
        * [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)
  
      - **API paths**:
        * PLATFORM Gateway URL: https://<span>platform.adobe.io
        * Base path for this API: /data/core/hygiene/
        * Example of a complete path for making a call to "/ttl": https://<span>platform.adobe.io/data/core/hygiene/ttl
    
      - **Required headers**:
        * All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, 
          see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        * All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.
  version: 1.0.0

servers: 
  - url: https://platform.adobe.io/
tags: 
- name: (NEW) Interactive API documentation
  description: You can now interact with the Experience Platform API endpoints directly from this API reference page. Get your [authentication credentials](http://www.adobe.com/go/platform-api-authentication-en) and use the **Try it** functionality in the right rail. Note that by using this functionality, you are making real API calls. Keep this in mind when you interact with production sandboxes.
- name: Placeholder
  description: Placeholder
paths: 
  /v1/certificate/public-certificate:
    get: 
      tags: 
        - Folders
      summary: Retrieve a specified folder
      operationId: retrieveFolder
      parameters: 
        - $ref: '#/components/parameters/placeholder'
        - $ref: '#/components/parameters/placeholder'
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/x-gw-ims-org-id'
        - $ref: '#/components/parameters/x-api-key'
      responses: 
        200:
          x-summary: "Success"
          description: "Returns the public certificates."
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/placeholder"

components: 
  schemas:
    placeholder:
      words
  
  parameters: 
    folder-type:
      words
