openapi: 3.0.1
info:
  title: Sandbox API
  description: |-
    Adobe Experience Platform provides virtual sandbox environments which provide isolation and access control for Platform integrations. Use sandboxes for application lifecycle management, project management, and to build customized development ecosystems.
    - **Related documentation**:
        - [Sandbox documentation](https://adobe.com/go/sandbox-overview-en)

    - **Visualize API calls with Postman (a free, third-party software)**:
        - [Sandbox API Postman collection on GitHub](https://github.com/adobe/experience-platform-postman-samples/blob/master/apis/experience-platform/Sandbox%20API.postman_collection.json)
        - [Video guide for creating the Postman environment](https://video.tv.adobe.com/v/28832)
        - [Steps for importing environments and collections in Postman](https://learning.getpostman.com/docs/postman/collection_runs/using_environments_in_collection_runs/)

    - **API paths**:
        - PLATFORM Gateway URL: https://<span>platform.adobe.io/
        - Base path for this API: /data/foundation/sandbox-management
        - Example of a complete path: https://<span>platform.adobe.io/data/foundation/sandbox-management/sandboxes

    - **Required headers**:
        - All calls require the headers `Authorization`, `x-gw-ims-org-id`, and `x-api-key`. For more information on how to obtain these values, see the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en).
        - All resources in Experience Platform are isolated to specific virtual sandboxes. All requests to Platform APIs require the header `x-sandbox-name` whose value is the all-lowercase name of the sandbox the operation will take place in (for example, "prod"). See the [sandboxes overview](https://adobe.com/go/sandbox-overview-en) for more information.
        - All requests with a payload in the request body (such as POST, PUT, and PATCH calls) must include the header `Content-Type` with a value of `application/json`.

    - **API error handling**:
        - Refer to the Experience Platform API troubleshooting guide for [FAQs](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#faq), [API status codes](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#api-status-codes), and [request header errors](https://experienceleague.adobe.com/docs/experience-platform/landing/troubleshooting.html#request-header-errors).        

    - **Filtering responses**:
        - When performing listing (GET) requests in the Sandbox API, you can use query parameters to [filter responses](https://experienceleague.adobe.com/docs/experience-platform/sandbox/api/appendix.html#query).

  version: "1.0"
servers:
- url: //platform.adobe.io/data/foundation/sandbox-management
tags:
- name: (NEW) Interactive API documentation
  description: You can now interact with the Experience Platform API endpoints directly from this API reference page. Get your [authentication credentials](http://www.adobe.com/go/platform-api-authentication-en) and use the **Try it** functionality in the right rail. Note that by using this functionality, you are making real API calls. Keep this in mind when you interact with production sandboxes.
- name: Admin operations
  description: "Sandbox operations available only to admins. Sandbox admin privileges are managed through the [Adobe Admin Console](https://adminconsole.adobe.com)."
- name: User operations
  description: Sandbox operations available to all users.
paths:
  /:
    get:
      tags:
      - User operations
      summary: List active sandboxes
      operationId: listActiveSandboxes
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-user-token
        in: header
        description: "The access token for the current user. If present, this token is instead of the token in the Authorization header to lookup sandboxes."
        schema:
          type: string
      responses:
        "200":
          x-summary: "Success"
          description: A list of sandboxes with matching criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSandboxesUserResponse'
        "400":
          x-summary: "Bad request"
          description: Bad request
          content: {}
        403:
          x-summary: "Missing access permissions"
          description: You do not have access permissions for this endpoint.
          content: {}
        404:
          x-summary: "Not found"
          description: Not found
          content: {}
        "500":
          x-summary: "Internal server error"
          description: "There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists."
          content: {}
  /sandboxTypes:
    get:
      tags:
      - Admin operations
      summary: List all supported sandbox types
      operationId: listSandboxTypes
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      responses:
        "200":
          x-summary: "Success"
          description: List of supported sandbox types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSandboxTypesResponse'
        "400":
          x-summary: "Bad request"
          description: Bad request
          content: {}
        403:
          x-summary: "Missing access permissions"
          description: You do not have access permissions for this endpoint.
          content: {}
        404:
          x-summary: "Not found"
          description: Not found
          content: {}
        "500":
          x-summary: "Internal server error"
          description: "There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists."
          content: {}
  /sandboxes:
    get:
      tags:
      - Admin operations
      summary: List sandboxes
      description: This endpoint lists all the sandboxes that belong to your IMS Organization.
      operationId: listSandboxes
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-user-token
        in: header
        description: "The access token for the current user. If present, this token is instead of the token in the Authorization header to lookup sandboxes."
        schema:
          type: string
      - name: property
        in: query
        description: "Regex used to filter objects in the response. For example: \"\
          property=name==test.\""
        schema:
          type: string
      - name: orderBy
        in: query
        description: "Parameter used to identify a property to order listed responses by, including sort direction (\"asc:\" for ascending, \"desc:\" for descending). For example, \"orderBy=asc:created,updated\"."
        schema:
          type: string
      responses:
        "200":
          x-summary: "Success"
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSandboxesSystemResponse'
        "400":
          x-summary: "Bad request"
          description: Bad request
          content: {}
        403:
          x-summary: "Missing access permissions"
          description: You do not have access permissions for this endpoint.
          content: {}
        404:
          x-summary: "Not found"
          description: Not found
          content: {}
        "500":
          x-summary: "Internal server error"
          description: "There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists."
          content: {}
    post:
      tags:
      - Admin operations
      summary: Create a sandbox
      operationId: createSandbox
      parameters:
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place. See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en) for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: application/json
        required: true
        schema:
          type: string
      - name: x-user-token
        in: header
        description: "The access token for the current user. If present, this token is instead of the token in the Authorization header to lookup sandboxes."
        schema:
          type: string
      requestBody:
        description: JSON payload that outlines the details of the sandbox to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSandboxPayload'
        required: true
      responses:
        "202":
          x-summary: "Success"
          description: Request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSandboxResponse'
        "400":
          x-summary: "Bad request"
          description: Bad request
          content: {}
        403:
          x-summary: "Missing access permissions"
          description: You do not have access permissions for this endpoint.
          content: {}
        "409":
          x-summary: "Conflict"
          description: Conflict
          content: {}
        "500":
          x-summary: "Internal server error"
          description: "There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists."
          content: {}
      x-codegen-request-body-name: sandboxPayload
  /sandboxes/{sandboxName}:
    get:
      tags:
      - Admin operations
      summary: Retrieve a sandbox
      description: You can use this endpoint to retrieve a sandbox by name.
      operationId: retrieveSandbox
      parameters:
      - name: sandboxName
        in: path
        description: "The name of a sandbox, used as an identifier."
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-user-token
        in: header
        description: "The access token for the current user. If present, this token is instead of the token in the Authorization header to lookup sandboxes."
        schema:
          type: string
      responses:
        "200":
          x-summary: "Success"
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSandboxResponse'
        "400":
          x-summary: "Bad request"
          description: Bad request
          content: {}
        403:
          x-summary: "Missing access permissions"
          description: You do not have access permissions for this endpoint.
          content: {}
        404:
          x-summary: "Not found"
          description: Not found
          content: {}
        "500":
          x-summary: "Internal server error"
          description: "There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists."
          content: {}
    put:
      tags:
      - Admin operations
      summary: Reset a sandbox
      description: "You can use this endpoint to reset a sandbox, as specified by the name."
      operationId: resetSandbox
      parameters:
      - name: sandboxName
        in: path
        description: "The name of a sandbox, used as an identifier."
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place. See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en) for more information."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: application/json
        required: true
        schema:
          type: string
      - name: x-user-token
        in: header
        description: "The access token for the current user. If present, this token is instead of the token in the Authorization header to lookup sandboxes."
        schema:
          type: string
      requestBody:
        description: Reset Sandbox
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetSandboxPayload'
        required: true
      responses:
        "202":
          x-summary: "Success"
          description: Request accepted
          headers:
            Location:
              description: URL to check status of the request
              schema:
                type: string
          content: {}
        "400":
          x-summary: "Bad request"
          description: Bad request
          content: {}
        403:
          x-summary: "Missing access permissions"
          description: You do not have access permissions for this endpoint.
          content: {}
        404:
          x-summary: "Not found"
          description: Not found
          content: {}
        "500":
          x-summary: "Internal server error"
          description: "There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists."
          content: {}
      x-codegen-request-body-name: action
    delete:
      tags:
      - Admin operations
      summary: Delete a sandbox
      description: You can use this endpoint to delete a sandbox by name.
      operationId: deleteSandbox
      parameters:
      - name: sandboxName
        in: path
        description: "The name of a sandbox, used as an identifier."
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place. See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en) for more information."
        required: true
        schema:
          type: string
      - name: x-user-token
        in: header
        description: "The access token for the current user. If present, this token is instead of the token in the Authorization header to lookup sandboxes."
        schema:
          type: string
      responses:
        "202":
          x-summary: "Success"
          description: Request accepted
          headers:
            Location:
              description: Url to check status of the request
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteSandboxResponse'
        "400":
          x-summary: "Bad request"
          description: Bad request
          content: {}
        403:
          x-summary: "Missing access permissions"
          description: You do not have access permissions for this endpoint.
          content: {}
        404:
          x-summary: "Not found"
          description: Not found
          content: {}
        "500":
          x-summary: "Internal server error"
          description: "There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists."
          content: {}
    patch:
      tags:
      - Admin operations
      summary: Update a sandbox
      description: "You can use this endpoint to update a sandbox, as specified by the name."
      operationId: patchSandbox
      parameters:
      - name: sandboxName
        in: path
        description: "The name of a sandbox, used as an identifier."
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: x-gw-ims-org-id
        in: header
        description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        description: application/json
        required: true
        schema:
          type: string
      - name: x-sandbox-name
        in: header
        description: "The name of the sandbox in which the operation will take place. See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en) for more information."
        required: true
        schema:
          type: string
      - name: x-user-token
        in: header
        description: "The access token for the current user. If present, this token is instead of the token in the Authorization header to lookup sandboxes."
        schema:
          type: string
      requestBody:
        description: "JSON payload outlining the sandbox properties to be updated, along with their new values."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchSandboxPayload'
        required: true
      responses:
        "200":
          x-summary: "Success"
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSandboxResponse'
        "400":
          x-summary: "Bad request"
          description: Bad request
          content: {}
        403:
          x-summary: "Missing access permissions"
          description: You do not have access permissions for this endpoint.
          content: {}
        404:
          x-summary: "Not found"
          description: Not found
          content: {}
        "500":
          x-summary: "Internal server error"
          description: "There was an internal server error. Try the request again in a few minutes, and contact Adobe Support if the problem persists."
          content: {}
      x-codegen-request-body-name: action
components:
  schemas:
    Page:
      type: object
      properties:
        limit:
          type: integer
          description: The maximum number of records to be returned in the response.
        count:
          type: integer
          description: The number of records returned in the response.
    Page.Links:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/Link'
        page:
          $ref: '#/components/schemas/Link'
    Link:
      type: object
      properties:
        href:
          type: string
        templated:
          type: boolean
    ListSandboxTypesResponse:
      type: object
      properties:
        sandboxTypes:
          type: array
          items:
            $ref: '#/components/schemas/GetSandboxTypeResponse'
    GetSandboxTypeResponse:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
    GetSandboxesSystemResponse:
      type: object
      properties:
        sandboxes:
          type: array
          items:
            $ref: '#/components/schemas/GetSandboxSystemResponse'
        _page:
          $ref: '#/components/schemas/Page'
        _links:
          $ref: '#/components/schemas/Page.Links'
    GetSandboxesUserResponse:
      type: object
      properties:
        sandboxes:
          type: array
          items:
            $ref: '#/components/schemas/GetSandboxUserResponse'
        _page:
          $ref: '#/components/schemas/Page'
        _links:
          $ref: '#/components/schemas/Page.Links'
    CreateSandboxPayload:
      required:
      - name
      - title
      - type
      type: object
      properties:
        name:
          type: string
          example: my-dev-sandbox
        title:
          type: string
          example: My Dev Sandbox
        type:
          type: string
          example: development
          enum:
          - production
          - development
    ResetSandboxPayload:
      required:
      - action
      type: object
      properties:
        action:
          type: string
          example: reset
    PatchSandboxPayload:
      required:
      - title
      type: object
      properties:
        title:
          type: string
          example: My Sandbox
    GetSandboxSystemResponse:
      type: object
      properties:
        id:
          type: string
          description: Only visible to services. User responses will omit this attribute
          format: uuid
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        name:
          type: string
          description: The name of the sandbox in which the operation will take place.
          example: acme-sandbox
        title:
          type: string
          description: The display name for the sandbox.
          example: ACME Sandbox
        state:
          type: string
          description: |
            The current processing state of the sandbox. The state of a sandbox can be any of the following:

             - **`creating`:** The sandbox has been created, but is still being provisioned by the system.
             - **`active`:** The sandbox is created and active.
             - **`deleted`:** The sandbox has been manually disabled.
             - **`failed`:** Due to an error, the sandbox was not able to be provisioned by the system and is disabled.
          example: active
          enum:
          - creating
          - active
          - deleting
          - resetting
          - deleted
          - failed
        type:
          type: string
          description: The type of sandbox. The supported sandbox types include `development` and `production`.
          example: development
          enum:
          - production
          - development
        region:
          type: string
          example: VA7
        isDefault:
          type: boolean
          description: A boolean property indicating whether this sandbox is the default production sandbox for the organization.
          example: true
        etag:
          type: integer
          description: An identifier for a specific version of the sandbox. `etag` is used for version control and caching efficiency.
          example: 1
        createdDate:
          type: string
          description: The date and time the sandbox was created.
          format: date-time
        lastModifiedDate:
          type: string
          description: The date and time the sandbox was last modified.
          format: date-time
        createdBy:
          type: string
          description: Details of the user who created the sandbox.
          example: ""
        modifiedBy:
          type: string
          description: Details of the user who last modified the sandbox.
          example: ""
        _system:
          $ref: '#/components/schemas/SandboxSystemObject'
    GetSandboxUserResponse:
      type: object
      properties:
        name:
          type: string
          description: The name of the sandbox in which the operation will take place.
          example: acme-sandbox
        title:
          type: string
          description: The display name for the sandbox.
          example: ACME Sandbox
        state:
          type: string
          description: |
            The current processing state of the sandbox. The state of a sandbox can be any of the following:

             - **`creating`:** The sandbox has been created, but is still being provisioned by the system.
             - **`active`:** The sandbox is created and active.
             - **`deleted`:** The sandbox has been manually disabled.
             - **`failed`:** Due to an error, the sandbox was not able to be provisioned by the system and is disabled.
          example: active
          enum:
          - creating
          - active
          - deleting
          - resetting
          - deleted
          - failed
        type:
          type: string
          description: The type of sandbox. The current supported sandbox types include `development` and `production`.
          example: development
          enum:
          - production
          - development
        region:
          type: string
          example: VA7
        isDefault:
          type: boolean
          description: A boolean property indicating whether this sandbox is the default production sandbox for the organization.
          example: true
        etag:
          type: integer
          description: An identifier for a specific version of the sandbox. `etag` is used for version control and caching efficiency.
          example: 2
        createdDate:
          type: string
          description: The date and time the sandbox was created.
          format: date-time
        lastModifiedDate:
          type: string
          description: The date and time the sandbox was last modified.
          format: date-time
        createdBy:
          type: string
          description: Details of the user who created the sandbox.
          example: ""
        modifiedBy:
          type: string
          description: Details of the user who last modified the sandbox.
          example: ""
    GetSandboxResponse:
      type: object
      properties:
        id:
          type: string
          description: Only visible to services. User responses will omit this attribute
          format: uuid
          example: d290f1ee-6c54-4b01-90e6-d701748f0851
        name:
          type: string
          description: The name of the sandbox in which the operation will take place.
          example: acme-sandbox
        title:
          type: string
          description: The display name for the sandbox.
          example: ACME Sandbox
        state:
          type: string
          description: |
            The current processing state of the sandbox. The state of a sandbox can be any of the following:

             - **`creating`:** The sandbox has been created, but is still being provisioned by the system.
             - **`active`:** The sandbox is created and active.
             - **`deleted`:** The sandbox has been manually disabled.
             - **`failed`:** Due to an error, the sandbox was not able to be provisioned by the system and is disabled.
          example: active
          enum:
          - creating
          - active
          - deleting
          - resetting
          - deleted
          - failed
        type:
          type: string
          description: The type of sandbox. The current supported sandbox types include
            `development` and `production`.
          example: development
          enum:
          - production
          - development
        region:
          type: string
          example: VA7
        isDefault:
          type: boolean
          description: A boolean property indicating whether this sandbox is the default production sandbox for the organization.
          example: true
        etag:
          type: integer
          description: An identifier for a specific version of the sandbox. `etag` is used for version control and caching efficiency.
          example: 1
        createdDate:
          type: string
          description: The date and time the sandbox was created.
          format: date-time
        lastModifiedDate:
          type: string
          description: The date and time the sandbox was last modified.
          format: date-time
        createdBy:
          type: string
          description: Details of the user who created the sandbox.
          example: ""
        modifiedBy:
          type: string
          description: Details of the user who last modified the sandbox.
          example: ""
        _system:
          $ref: '#/components/schemas/SandboxSystemObject'
    SandboxSystemObject:
      type: object
      properties:
        state:
          type: string
          example: active
          enum:
          - creating
          - provisioning
          - active
          - cleaning
          - de-provisioning
          - deleted
          - failed
        createdDate:
          type: string
          description: The date and time the sandbox was created.
          format: date-time
        createdBy:
          type: string
          description: Details of the user who created the sandbox.
          example: ""
        lastModifiedDate:
          type: string
          description: The date and time the sandbox was last modified.
          format: date-time
        lastModifiedBy:
          type: string
          description: Details of the user who last modified the sandbox.
          example: ""
      description: Only visible to services. User responses will omit this attribute
    CreateSandboxResponse:
      type: object
      properties:
        id:
          type: string
          description: Only visible to services. User responses will omit this attribute.
          example: 180e1210-d33a-11e9-8b17-d9e538719ued
        name:
          type: string
          description: "The user generated human friendly name for the sandbox that will be used to access the sandbox in future requests. This value must be unique, and best practice is to make it as descriptive as possible. This value cannot contain any spaces or special characters."
          example: acme-sandbox
        title:
          type: string
          description: A human-readable name used for display purposes in the Platform
            user interface.
          example: ACME Sandbox
        state:
          type: string
          description: "The state of the sandbox and has two values, `active` or `failed`. A sandbox becomes `active` once it has been successfully provisioned."
          example: creating
          enum:
          - creating
          - provisioning
          - active
          - cleaning
          - de-provisioning
          - deleted
          - failed
        type:
          type: string
          description: "The type of sandbox to be created. For a non-production sandbox, this value must be `development`. For a production sandbox, this value must be `production`."
          example: development
          enum:
          - production
          - development
        region:
          type: string
          example: VA7
    deleteSandboxResponse:
      type: object
      properties:
        id:
          type: string
          description: Only visible to services.
          example: 180e1210-d33a-11e9-8b17-d9e538719ued
        name:
          type: string
          description: The name of the sandbox you want to delete.
          example: acme-sandbox
        title:
          type: string
          description: The display name for the sandbox.
          example: ACME Sandbox
        state:
          type: string
          description: A successful deletion request for a sandbox updates the sandbox `state` to `deleted` and deactivates it. The default production sandbox cannot be deleted.
          example: cleaning
          enum:
          - creating
          - provisioning
          - active
          - cleaning
          - de-provisioning
          - deleted
          - failed
        type:
          type: string
          description: The type of sandbox being deleted. The current supported sandbox types include `development` and `production`.
          example: development
          enum:
          - production
          - development
        region:
          type: string
          example: VA7
  parameters:
    orderBy:
      name: orderBy
      in: query
      description: "Parameter used to identify a property to order listed responses by, including sort direction (\"asc:\" for ascending, \"desc:\" for descending). For example, \"orderBy=asc:created,updated\"."
      schema:
        type: string
    property:
      name: property
      in: query
      description: "Regex used to filter objects in the response. For example: \"\
        property=name==test.\""
      schema:
        type: string
    x-gw-ims-org-id:
      name: x-gw-ims-org-id
      in: header
      description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
      required: true
      schema:
        type: string
    x-sandbox-name:
      name: x-sandbox-name
      in: header
      description: "The name of the sandbox in which the operation will take place. See the [sandboxes overview documentation](https://adobe.com/go/sandbox-overview-en) for more information."
      required: true
      schema:
        type: string
    x-api-key:
      name: x-api-key
      in: header
      description: "The API key which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
      required: true
      schema:
        type: string
    x-user-token:
      name: x-user-token
      in: header
      description: "The access token for the current user. If present, this token is instead of the token in the Authorization header to lookup sandboxes."
      schema:
        type: string
    Authorization:
      name: Authorization
      in: header
      description: "The access token which can be copied from your Experience Platform integration, prefixed with \"Bearer\". For more information on how to obtain this value, visit the [authentication tutorial](http://www.adobe.com/go/platform-api-authentication-en)."
      required: true
      schema:
        type: string
    sandboxName:
      name: sandboxName
      in: path
      description: "The name of a sandbox, used as an identifier."
      required: true
      schema:
        type: string
    Content-Type:
      name: Content-Type
      in: header
      description: application/json
      required: true
      schema:
        type: string
  requestBodies:
    sandboxPayload:
      description: JSON payload that outlines the details of the sandbox to be created.
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/CreateSandboxPayload'
      required: true
x-original-swagger-version: "2.0"
